<app-header></app-header>
<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content">
        <div class="container-componentes">
            <div class="container-fluid">
                <div class="d-inline-block mb-4">
                    <h1 class="font-weight-normal">Perfiles</h1>
                    <div class="line mt-3"></div>
                </div>

                <div class="row">
                    <div class="col-lg-9">
                        <div class="card mb-4">
                            <div class="card-body pt-4">
                                <div class="form-group row">
                                    <div class="col-lg-2">
                                        <label class="col-form-label">PERFIL</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <input dTextBox class="form-control" type='text' name="txtN" id="txtPerfil" placeholder="Ingrese el nombre del Perfil" maxlength="250" [(ngModel)]="campoBusqueda" #txtPerfil="ngModel" />
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="pull-right">
                                            <button type="button" id="btnBuscar" class="btn pull-left btn-secondary btn-sm" (click)="buscarConsultaPrincipal()">
                                                <i class="mdi mdi-magnify"></i> Buscar
                                            </button>
                                            <button type="button" id="btnNuevoRegistro" class="btn pull-left ml-1 btn-primary btn-sm" (click)="modalAgregarPerfil()">
                                                <i class="mdi mdi-plus"></i> Nuevo Perfil
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-auto bg-plomo">
                            <div class="card-body">
                                <div class="position-absolute icon-card-title">
                                    <i class="icon icon-dashboard"></i>
                                </div>
                                <div class="div-centrado text-center">
                                    <div>
                                        <b style="font-size:3.5rem; font-weight: 500;">
                                            {{totalPerfiles}}</b>
                                    </div>
                                    <div class="c-ContRegistros">Perfiles</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card  p-3">
                            <table class="table xs-hidden">
                                <thead>
                                    <tr>
                                        <th>NOMBRE</th>
                                        <th>ACCIONES</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let campos of arregloPerfil;index as i">
                                    <tr>
                                        <td class="td-l">{{campos.descripcion}}</td>
                                        <td style="width: 12%;" class="xs-footer-lista xs-100 xs-text-right pre-wrap">
                                            <div class="xs-hidden">
                                                <span class="btn btn-sm btn-opt btn-icon" title="Agregar Perfil" (click)="modalAgregarPerfilHijo(campos.id_perfil)">
                                                    <i class="mdi mdi-plus"></i><br>
                                                </span>
                                                <span class="btn btn-sm btn-opt btn-icon" title="Asignar Menu" (click)="modalAsignacionMenu(campos.id_perfil)">
                                                    <i class="mdi mdi-menu"></i><br>
                                                </span>

                                                <span class="btn btn-sm btn-opt btn-icon" title="Asignar Componente" (click)="modalAsignacionComponente(campos.id_perfil)">
                                                    <i class="mdi mdi-video-input-component"></i>
                                                </span>

                                                <span class="btn btn-sm btn-opt btn-icon" (click)="modalEditarPerfil(campos)">
                                                    <i class="mdi mdi-pencil"></i></span>

                                                <span class="btn btn-sm btn-opt btn-icon" (click)="mostrarAlerta(campos.id_perfil)"><i
                                                        class="mdi mdi-delete"></i></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="card xs-display" *ngFor="let campos of arregloPerfil;index as i">
                                <div class="p-3">
                                    <div><b>NOMBRE: </b>{{ campos.descripcion}}</div>
                                    <div><b>ACCIONES</b>
                                        <div>
                                            <span class="btn btn-sm btn-opt btn-icon" title="Asignar Menu" (click)="modalAsignacionMenu(campos.id_perfil)">
                                                <i class="mdi mdi-menu"></i><br>
                                            </span>

                                            <span class="btn btn-sm btn-opt btn-icon" title="Asignar Componente" (click)="modalAsignacionComponente(campos.id_perfil)">
                                                <i class="mdi mdi-video-input-component"></i>
                                            </span>


                                        </div>
                                    </div>
                                </div>
                                <div class="xs-footer-lista text-right">
                                    <span class="btn btn-sm btn-opt btn-icon" (click)="modalEditarPerfil(campos)">
                                                <i class="mdi mdi-pencil"></i></span>

                                    <span class="btn btn-sm btn-opt btn-icon" (click)="mostrarAlerta(campos.id_perfil)"><i
                                                class="mdi mdi-delete"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <div class="col-12">
                        <div class="clearfix bg-white pt-3">
                            <div class="float-right">
                                <pagination [totalItems]="totalComponentes" [boundaryLinks]="true"
                                    previousText="&lsaquo;" nextText="&rsaquo;" [rotate]="false" firstText="&laquo;"
                                    lastText="&raquo;" [maxSize]="5" [(ngModel)]="paginaActual"
                                    (pageChanged)="cambiarPagina($event)">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>