
<div class="modal-header">
    <ng-container *ngIf="ACCION==1">
        <h4 class="modal-title">Nuevo Registro de Atención Primaria del Accidente </h4>
        <p class="pl-4 pr-4">Formulario para el registro de Atención Primaria del Accidente</p>
    </ng-container>
    <ng-container *ngIf="ACCION==2">
        <h4 class="modal-title">Edición de Atención Primaria del Accidente </h4>
        <p class="pl-4 pr-4">Formulario para actualizar información de Atención Primaria del Accidente</p>
    </ng-container>
</div>
<div class="modal-body">
<form [formGroup]="formGroup"  autocomplete="off" (ngSubmit)="registrarPrimeraAtencion()">
    <div class="row form-group">
        <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Unidad:</label>
        <div class="col-md-4">
                <ng-select [items]="listaUnidadAtecion" #ddlTipoUnidad formControlName="id_tipo_unidad_atencion" placeholder="Seleccione"
                    bindLabel="descripcion" bindValue="id_tipo_unidad_atencion"
                    notFoundText="no se ha encontrado ningún item" id="id_tipo_unidad_atencion" name="id_tipo_unidad_atencion">
                </ng-select>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Tipo Documento:</label>
        <div class="col-md-4">
                <div class="inner-addon right-addon">
                    <ng-select #ddllTipoDocumento formControlName="id_tipo_documento" [clearable]="true" [items]="listaTipoDocumento" (change)="validarDocumento($event)"
                        bindLabel="descripcion" bindValue="id_tipo_documento" notFoundText="no se ha encontrado ningún item"
                         id="id_tipo_documento" name="id_tipo_documento" placeholder="Seleccione">
                    </ng-select> 
                </div>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-2 control-label"><span class="text-danger">(*)</span> {{tipoDocumentoCadena}}:</label>
        <div class="col-md-4">
                <div class="inner-addon right-addon">
                        <input type="text" formControlName="dni_responsable" id="dni_responsable"
                          placeholder="Número de documento" type="text" maxlength="{{numCantidad}}" class="form-control"
                          (keypress)="funciones.IsNumberKey($event);" (ngModelChange)="validarDNI()">
                </div>
        </div>
        <div class="col-md-2" *ngIf="tipoDocumentoCadena=='DNI RESPONSABLE'">
                <button type="button" id="btnConsultar" class="btn pull-left ml-1 btn-success" (click)="validarInformacionReniec()">
                        Consultar
                </button>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-12">
            <div class="row">
                <label class="col-md-2 control-label"><span class="text-danger">(*)</span> Nombres Responsable</label>
                <div class="col-md-4">
                    <input  class="form-control" formControlName="nombre_responsable" type='text' 
                        name="nombre_responsable" id="nombre_responsable" placeholder="Ingrese el nombre del responsable"
                        />
                </div> 
                <label class="col-md-2 control-label"><span class="text-danger">(*)</span> Apellido Paterno Responsable</label>  
                <div class="col-md-4">
                    <input  class="form-control" formControlName="apellido_pat_responsable" type='text' 
                        name="apellido_pat_responsable" id="apellido_pat_responsable" placeholder="Ingrese el apellido paterno del responsable"
                        />
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-12">
            <div class="row">
                <label class="col-md-2 control-label"><span class="text-danger">(*)</span> Apellido Materno Responsable</label>
                <div class="col-md-4">
                    <input  class="form-control" formControlName="apellido_mat_responsable" type='text' 
                    name="apellido_mat_responsable" id="apellido_mat_responsable" placeholder="Ingrese el apellido materno del responsable"
                    />
                </div>
                <label class="col-md-2 control-label"> Teléfono</label>
                <div class="col-md-4">
                    <input  class="form-control" (keypress)="funciones.IsNumberKey($event);"  formControlName="telefono" type='text' maxlength="9"
                    name="telefono" id="telefono" placeholder="Ingrese el teléfono"
                    />

                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Lesionado:</label>
        <div class="col-md-4">
            <input  class="form-control"  type='text' formControlName="nombreLesionado"
                        name="nombreLesionado" id="nombreLesionado" placeholder="Ingrese al lesionado"/>   
                        
        </div>
        <div  class="col-md-4">
            <button type="button" id="btnConsultarLesionado" class="btn pull-left ml-1 btn-success" (click)="BuscarLesionado(templateVerLesionados)">
                    Buscar Lesionado
            </button>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Destino:</label>
        <div class="col-md-4">
                <ng-select [items]="listaIpress" #ddlTipoDestino formControlName="id_ipress" placeholder="Seleccione"
                 bindLabel="descripcion" bindValue="id_ipress"
                    notFoundText="no se ha encontrado ningún item" id="id_ipress"name="id_ipress">
                </ng-select>
        </div>
    </div>
    <div class="row form-group">
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Fecha:</label>
            <div class="col-md-4">
                <input formControlName="fecha_registro" class="form-control" type='text' name="fecha_registro"
                id="fecha_registro" placeholder="dd/mm/aaaa" bsDatepicker [minDate]="fechaRegistroAccidente" (ngModelChange)="validarHoraRegistro($event,formGroup.get('fecha_registro').value)"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', locale: 'es', containerClass: 'theme-red' }" />
            </div>
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Hora:</label>
            <div class="col-md-4">
                <!--<timepicker formControlName="hora_registro" (keypress)="funciones.IsNumberKey($event);" name="hora_registro" id="hora_registro"
                [showMeridian]="isMeridian" [showSpinners]="showSpinners" ></timepicker>-->

                <input [ngxTimepicker]="picker" [format]=24 class="form-control" [min]="horaRegistroAtencion" (keypress)="funciones.validarHora($event);" placeholder="HH:MM" formControlName="hora_registro" name="hora_registro" id="hora_registro">
                <ngx-material-timepicker #picker [cancelBtnTmpl]="CancelarBtn" [confirmBtnTmpl]="confirmBtn"></ngx-material-timepicker>
                <ng-template #CancelarBtn>
                    <a  class="btn btn-danger" style="margin-right: 10px;color: azure">Cancelar</a>
                </ng-template>
                <ng-template #confirmBtn>
                    <a class="btn btn-primary" style="color: azure">Confirmar</a>
                </ng-template>
            </div>
    </div>

    <div class="row form-group">
        <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Estado Inicial:</label>
        <div class="col-md-4">
                <ng-select [items]="listaEstadoInicial" #ddlEstadoInicial formControlName="id_estado_inicial_atencion" placeholder="Seleccione"
                 bindLabel="descripcion" bindValue="id_estado_inicial_atencion"
                    notFoundText="no se ha encontrado ningún item" id="id_estado_inicial_atencion"name="id_estado_inicial_atencion">
                </ng-select>
        </div>
        <!--<label class="col-md-2 control-label">Estado Final:</label>
        <div class="col-md-4">
            <ng-select  #ddlEstadoFinal formControlName="id_estado_final_atencion"
             placeholder="Seleccione" bindLabel="descripcion" bindValue="id_estado_final_atencion" (change)="validarLugarDerivacion($event)"
            notFoundText="no se ha encontrado ningún item" id="id_estado_final_atencion" name="id_estado_final_atencion">
            </ng-select> 
        </div>-->
    </div>
    <!--<div class="row form-group" *ngIf="showMostrarDerivacion">
        <label class="col-md-2 control-label">Lugar derivación:</label>
        <div class="col-md-4">
            <input  class="form-control"  type='text' formControlName="lugar_derivacion"
                name="lugar_derivacion" id="lugar_derivacion" placeholder="Ingrese el Lugar derivación"/>  
        </div>
    </div>-->
    <span class="comentario">(*)Campos Obligatorios</span>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit" id="btnGuardar"
        *hasClaim="'accidente_transito_atencion_atencion_primaria_guardar'">
            <i class="mdi mdi-content-save"></i> Guardar</button>
        <button class="btn btn-secondary btn-sm" id="btnTraCancelar" type="button" (click)="closeModal()">
            <i class="mdi mdi-close"></i> Cancelar</button>
    </div>
</form>

<ng-template #templateVerLesionados> 
        <div class="modal-header">
            <h4 class="modal-title">Lesionados</h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered xs-hidden">
                <thead>
                    <tr>
                        <th>ITEM</th>
                        <th>DOCUMENTO</th>
                        <th>APELLIDO PATERNO</th>
                        <th>APELLIDO MATERNO</th>
                        <th>NOMBRE</th>
                        <th>SELECCIONAR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let lesionado of arreglolesionados; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{lesionado.dni}}</td>
                        <td>{{lesionado.apellido_paterno}}</td>
                        <td>{{lesionado.apellido_materno}}</td>
                        <td>{{lesionado.nombre}}</td>
                        <td>
                            <label class="checkbox">
                                <input type="checkbox" (click)="AsignarLesionado(lesionado)">
                                <span class="check"></span>
                            </label>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="xs-display">
                <div *ngFor="let lesionado of arreglolesionados; let i = index" class="card">
                    <div class="p-3">
                        <div><span class="font-weight-bold">DOCUMENTO : </span>{{lesionado.dni}}</div>
                        <div><span class="font-weight-bold">APELLIDO PATERNO : </span>{{lesionado.apellido_paterno}}</div>
                        <div><span class="font-weight-bold">APELLIDO MATERNO : </span>{{lesionado.apellido_materno}}</div>
                        <div><span class="font-weight-bold">NOMBRE : </span>{{lesionado.nombre}}</div>
                        <div><span class="font-weight-bold">SELECCIONAR : </span>
                            <div>
                                <label class="checkbox">
                                    <input type="checkbox" (click)="AsignarLesionado(lesionado)">
                                    <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="border: 0px;">
            <button class="btn btn-secondary btn-sm" id="btnTraCancelar" type="button" (click)="modalReflesionados.hide()">
                        <i class="mdi mdi-close"></i> Cancelar</button>
        </div>
    </ng-template>
</div>

