<div class="row form-group"> 
    <div class="col-12">
        <button class="btn pull-left ml-1 btn-primary btn-sm" (click)="openModalAtencionPrimaria()" 
        *hasClaim="'accidente_transito_atencion_atencion_primaria_nuevo'">
            <i class="mdi mdi-plus"></i> Nuevo
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 container-scroll">
      <table class="table table-bordered xs-hidden">
        <thead>
          <tr>
            <th>ID</th>
            <th>UNIDAD</th>
            <th>RESPONSABLE</th>
            <th>LESIONADO</th>
            <th>DESTINO</th>
            <th >Acciones</th> <!--[hidden]=!bEstado-->
          </tr>
        </thead>
        <tbody *ngFor="let item of listaPrimeraAtencion; let i = index"> 
          <tr>
            <td class="text-center xs-hidden">{{ i + 1 }}</td>
            <td class="text-center xs-hidden">{{item.tipounidadatencion}}</td>
            <td class="text-center xs-hidden">{{ item.nombre_responsable }} {{item.apellido_pat_responsable}} {{item.apellido_mat_responsable}}</td>
            <td class="text-center xs-hidden">{{ item.nombre_lesionado }} {{ item.apellido_pat_lesionado }} {{ item.apellido_mat_lesionado }}</td>
            <td class="text-center xs-hidden">{{item.ipress}}</td>
            <td class="xs-footer-lista" > <!--[hidden]=!bEstado-->
              <div class="text-center xs-hidden">
                    <span (click)="openEditarAtencionPrimaria(item)" style="cursor: pointer;" tooltip="Editar Atención" 
                    *hasClaim="'accidente_transito_atencion_atencion_primaria_editar'">
                            <i class="mdi mdi-pencil"></i>
                    </span>
                    <span (click)="anularAtencionPrimaria(item)" style="cursor: pointer;" tooltip="Eliminar Atención" 
                    *hasClaim="'accidente_transito_atencion_atencion_primaria_eliminar'">
                            <i class="mdi mdi-delete-outline" style="color:#5D6D7E;"></i>
                    </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="card xs-display" *ngFor="let item of listaPrimeraAtencion; let i = index">
        <div class="p-3">
            <div><b>Nro: </b>{{ i + 1 }}</div>
            <div><b>UNIDAD</b>{{item.tipounidadatencion}}</div>
            <div><b>RESPONSABLE: </b>{{ item.nombre_responsable }} {{item.apellido_pat_responsable}} {{item.apellido_mat_responsable}}</div>
            <div><b>LESIONADO: </b>{{ item.nombre_lesionado }} {{ item.apellido_pat_lesionado }} {{ item.apellido_mat_lesionado }}</div>
            <div><b>DESTINO: </b>{{ item.ipress}}</div>
        </div>
        <div class="xs-footer-lista text-right">
            <span class="btn-icon ml-1" (click)="openEditarAtencionPrimaria(item)"  tooltip="Editar" 
            *hasClaim="'accidente_transito_atencion_atencion_primaria_editar'"><i class="fa fa-pencil" style="color:#5D6D7E;"></i></span> 
            <span class="btn-icon ml-1" (click)="anularAtencionPrimaria(item)"  tooltip="Eliminar" 
            *hasClaim="'accidente_transito_atencion_atencion_primaria_eliminar'"><i class="fa fa-trash" style="color:#5D6D7E;"></i></span>    
        </div>
      </div>
    </div>
    <div class="col-12">
      <nav class="pt-4 pl-3 float-right">
        <pagination [totalItems]="totalRegistros" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;"
          [rotate]="false" firstText="&laquo;" lastText="&raquo;" [itemsPerPage]="numPaginasMostrar"
          (pageChanged)="cambiarPagina($event)">
        </pagination>
      </nav>
    </div>
</div>
