<div class="row form-group"> 
        <div class="col-12">
            <button *ngIf="mostrarNuevaVia" class="btn pull-left ml-1 btn-primary btn-sm" (click)="openModalNuevoSituacionVia()">
                <i class="mdi mdi-plus"></i> Nuevo
            </button>
        </div>
</div>

<div class="row">
    <div class="col-12 container-scroll">
        <table class="table table-bordered xs-hidden">
        <thead>
            <tr>
            <th>ID</th>
            <th>TRANSITABILIDAD</th>
            <th>TIPO DE VÍA</th>
            <th>ZONA</th>
            <th>Acciones</th> <!--[hidden]=!bEstado-->
            </tr>
        </thead>
        <tbody *ngFor="let item of listaSiruacionVia; let i = index"> 
            <tr>
            <td class="text-center xs-hidden">{{ i + 1 }}</td>
            <td class="text-center xs-hidden">{{item.transitabilidad}}</td>
            <td class="text-center xs-hidden">{{ item.via }}</td>
            <td class="text-center xs-hidden">{{ item.zona }}</td>
            <td class="xs-footer-lista" > <!--[hidden]=!bEstado-->
                <div class="text-center xs-hidden">
                    <span (click)="openEditarSituacionVia(item)" style="cursor: pointer;" tooltip="Editar Situación Vía">
                            <i class="mdi mdi-pencil"></i>
                    </span>
                    <span (click)="anularSituacionVia(item)" style="cursor: pointer;" tooltip="Eliminar Situación Vía">
                            <i class="mdi mdi-delete-outline" style="color:#5D6D7E;"></i>
                    </span>
                </div>
            </td>
            </tr>
        </tbody>
        </table>
        <div class="card xs-display" *ngFor="let item of listaSiruacionVia; let i = index">
        <div class="p-3">
            <div><b>ID: </b>{{ i + 1 }}</div>
            <div><b>TRANSITABILIDAD</b>{{item.transitabilidad}}</div>
            <div><b>TIPO DE VÍA: </b>{{ item.via }}</div>
            <div><b>ZONA: </b>{{ item.zona }}</div>
        </div>
        <div class="xs-footer-lista text-right">
            <span class="btn-icon ml-1" (click)="openEditarSituacionVia(item)"  tooltip="Editar"><i class="fa fa-pencil" style="color:#5D6D7E;"></i></span> 
            <span class="btn-icon ml-1" (click)="anularSituacionVia(item)"  tooltip="Eliminar"><i class="fa fa-trash" style="color:#5D6D7E;"></i></span>    
        </div>
        </div>
    </div>
</div>
