
<div class="modal-header">
        <ng-container *ngIf="ACCION==1">
            <h4 class="modal-title">Nuevo Registro de Pasajero / Peatón / Ocupante</h4>
            <p class="pl-4 pr-4">Formulario para el registro de Pasajero / Peatón / Ocupante</p>
        </ng-container>
        <ng-container *ngIf="ACCION==2">
            <h4 class="modal-title">Edición de Pasajero / Peatón / Ocupante</h4>
            <p class="pl-4 pr-4">Formulario para actualizar información de Pasajero / Peatón / Ocupante</p>
        </ng-container>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup"  autocomplete="off" (ngSubmit)="registrarPasajeroPeaton()">
        <div class="row form-group">
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Pasajeros / Peatones:</label>
            <div class="col-md-4">
                    <div class="inner-addon right-addon">
                        <ng-select #ddllTipoPasajero formControlName="id_tipo_persona_accidente" [clearable]="true" [items]="listaPersonaAccidente"
                            bindLabel="descripcion" bindValue="id_tipo_persona_accidente" notFoundText="no se ha encontrado ningún item"
                                id="id_tipo_persona_accidente" name="id_tipo_persona_accidente" placeholder="Seleccione">
                        </ng-select> 
                    </div>
            </div>
        </div>
        
        <div class="row form-group">
                <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Situación de Persona :</label>
                <div class="col-md-4">
                        <div class="inner-addon right-addon">
                            <ng-select #ddllSituacionPersona formControlName="id_situacion_pea_pas_ocu" [clearable]="true" [items]="listaSituacionPersona"
                                bindLabel="descripcion" bindValue="id_situacion_pea_pas_ocu" notFoundText="no se ha encontrado ningún item"
                                    id="id_situacion_pea_pas_ocu" name="id_situacion_pea_pas_ocu" placeholder="Seleccione" (change)="validarEdad($event)">
                            </ng-select> 
                        </div>
                </div>
        </div>
        <div class="row form-group">
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Tipo Documento:</label>
            <div class="col-md-4">
                    <div class="inner-addon right-addon">
                        <ng-select #ddllTipoDocumento formControlName="id_tipo_documento" [clearable]="true" [items]="listaTipoDocumento" (change)="validarDocumento($event)"
                            bindLabel="descripcion" bindValue="id_tipo_documento" notFoundText="no se ha encontrado ningún item"
                             id="id_tipo_documento" name="id_tipo_documento" placeholder="Seleccione">
                        </ng-select> 
                    </div>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span> {{tipoDocumentoCadena}}:</label>
            <div class="col-md-4">
                    <div class="inner-addon right-addon">
                            <input type="text" formControlName="dni" id="dni"
                              placeholder="Número de documento" type="text" maxlength="{{numCantidad}}" class="form-control"
                              (keypress)="funciones.IsNumberKey($event);" (ngModelChange)="validarDNI()">
                    </div>
            </div>
            <div class="col-md-2" *ngIf="tipoDocumentoCadena=='DNI'">
                    <button type="button" id="btnConsultar" class="btn pull-left ml-1 btn-success" (click)="validarInformacionReniec()">
                            Consultar
                    </button>
            </div>
        </div>
        <div class="row form-group" *ngIf="showEdadAproximada">
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Edad Aproximada :</label>
            <div class="col-md-4">
                <div class="inner-addon right-addon">
                    <input type="text" class="form-control" formControlName="edad_aprox" id="edad_aprox" name="edad_aprox" maxlength="2" (keypress)="funciones.IsNumberKey($event);">
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-12">
                <div class="row">
                    <label class="col-md-2 control-label"><span class="text-danger">(*)</span> Fecha Nacimiento</label>
                    <div class="col-md-4">
                        <input formControlName="fecha_nacimiento" class="form-control" type='text' name="fecha_nacimiento"
                        id="fecha_nacimiento" placeholder="dd/mm/aaaa" bsDatepicker
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', locale: 'es', containerClass: 'theme-red' }" />
                    </div> 
                    <label class="col-md-2 control-label"><span class="text-danger">(*)</span> Sexo</label>  
                    <div class="col-md-4">
                        <ng-select #ddllTipoSexo formControlName="id_tipo_sexo" [clearable]="true" [items]="listaGenero"
                            bindLabel="descripcion" bindValue="id_tipo_sexo" notFoundText="no se ha encontrado ningún item"
                                id="id_tipo_sexo" name="id_tipo_sexo" placeholder="Seleccione">
                        </ng-select> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12">
                <div class="row">
                    <label class="col-md-2 control-label"><span class="text-danger">(*)</span> Nombres :</label>
                    <div class="col-md-4">
                        <input  class="form-control" formControlName="nombre" type='text' 
                            name="nombre" id="nombre" placeholder="Ingrese el nombre del conductor"
                            />
                    </div> 
                    <label class="col-md-2 control-label"><span class="text-danger">(*)</span> Apellido Paterno :</label>  
                    <div class="col-md-4">
                        <input  class="form-control" formControlName="apellido_paterno" type='text' 
                            name="apellido_paterno" id="apellido_paterno" placeholder="Ingrese el apellido paterno del conductor"
                            />
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12">
                <div class="row">
                        <label class="col-md-2 control-label"><span class="text-danger">(*)</span> Apellido Materno :</label>
                        <div class="col-sm-4">
                            <input  class="form-control" formControlName="apellido_materno" type='text' 
                            name="apellido_materno" id="apellido_materno" placeholder="Ingrese el apellido materno del conductor"
                            />
                        </div>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span> Estado:</label>
            <div class="col-md-4">
                    <ng-select [items]="listaEstadoInicial" #ddlEstadoInicial formControlName="id_estado_inicial" placeholder="Seleccione"
                     bindLabel="descripcion" bindValue="id_estado_inicial" (change)="validarEstadoConfirmacion($event)"
                        notFoundText="no se ha encontrado ningún item" id="id_estado_inicial"name="id_estado_inicial">
                    </ng-select>
            </div>
            <label class="col-md-2 control-label" *ngIf="showMostrarConfirmacion"><span class="text-danger">(*)</span> Estado Confirmación:</label>
            <div class="col-md-4" *ngIf="showMostrarConfirmacion">
                <ng-select [items]="listaEstadoConfirmacion" #ddlEstadoConfirmacion formControlName="id_estado_confirmado"
                 placeholder="Seleccione" bindLabel="descripcion" bindValue="id_estado_confirmado"
                notFoundText="no se ha encontrado ningún item" id="id_estado_confirmado" name="id_estado_confirmado">
                </ng-select> 
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-2 control-label"> Placa de automovil del conductor:</label>
            <div class="col-md-4">
                <ng-select #ddlistaPlacas formControlName="id_vehiculo_involucrado" [clearable]="true" [items]="listaPlacas" placeholder="Seleccione"
                         bindLabel="placa_vehiculo_involucrado" bindValue="id_vehiculo_involucrado" notFoundText="no se ha encontrado ningún item"
                          id="id_vehiculo_involucrado" name="id_vehiculo_involucrado">
                </ng-select>    
            </div>
        </div>
        <span class="comentario">(*)Campos Obligatorios</span>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm" type="submit" id="btnGuardar" 
            *hasClaim="'accidente_transito_detalle_accidente_pasajero_peaton_ocupante_guardar'"
                ><i class="mdi mdi-content-save"></i> Guardar</button>
            <button class="btn btn-secondary btn-sm" id="btnTraCancelar" type="button" (click)="closeModal()">
                <i class="mdi mdi-close"></i> Cancelar</button>
        </div>
    </form>
  </div>

