
<div class="modal-header">
        <ng-container *ngIf="ACCION==1">
            <h4 class="modal-title">Nuevo Registro de Conductor </h4>
            <p class="pl-4 pr-4">Formulario para el registro de Conductor</p>
        </ng-container>
        <ng-container *ngIf="ACCION==2">
            <h4 class="modal-title">Edición de Conductor </h4>
            <p class="pl-4 pr-4">Formulario para actualizar información de Conductor</p>
        </ng-container>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup"  autocomplete="off" (ngSubmit)="registrarConductor()">
        <div class="row form-group">
                <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Tipo de Conductor:</label>
                <div class="col-md-4">
                        <div class="inner-addon right-addon">
                            <ng-select #ddllTipoConductor formControlName="id_tipo_conductor" [clearable]="true" [items]="listaTipoConductor" (change)="validarCamposObligatorios($event)"
                                bindLabel="descripcion" bindValue="id_tipo_conductor" notFoundText="no se ha encontrado ningún item"
                                    id="id_tipo_conductor" name="id_tipo_conductor" placeholder="Seleccione">
                            </ng-select> 
                        </div>
                </div>
        </div>
        <div class="row form-group">
            <label class="col-md-2 control-label"><span class="text-danger" *ngIf="showMostrarOblidatorio">(*)</span>Tipo Doceumnto:</label>
            <div class="col-md-4">
                    <div class="inner-addon right-addon">
                        <ng-select #ddllTipoDocumento formControlName="id_tipo_documento" [clearable]="true" [items]="listaTipoDocumento" (change)="validarDocumento($event)"
                            bindLabel="descripcion" bindValue="id_tipo_documento" notFoundText="no se ha encontrado ningún item"
                             id="id_tipo_documento" name="id_tipo_documento" placeholder="Seleccione">
                        </ng-select> 
                    </div>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-2 control-label"><span class="text-danger" *ngIf="showMostrarOblidatorio">(*)</span> {{tipoDocumentoCadena}}:</label>
            <div class="col-md-4">
                    <div class="inner-addon right-addon">
                            <input type="text" formControlName="dni" id="dni"
                              placeholder="Número de documento" type="text" maxlength="{{numCantidad}}" class="form-control"
                              (keypress)="funciones.IsNumberKey($event);" (ngModelChange)="validarDNI()">
                    </div>
            </div>
            <div class="col-md-2" *ngIf="tipoDocumentoCadena=='DNI'">
                    <button type="button" id="btnConsultar" class="btn pull-left ml-1 btn-success" (click)="validarInformacionReniec()">
                            Consultar
                    </button>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12">
                <div class="row">
                    <label class="col-md-2 control-label"><span class="text-danger">(*)</span> Fecha Nacimiento</label>
                    <div class="col-md-4">
                        <input formControlName="fecha_nacimiento" class="form-control" type='text' name="fecha_nacimiento"
                        id="fecha_nacimiento" placeholder="dd/mm/aaaa" bsDatepicker
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', locale: 'es', containerClass: 'theme-red' }" />
                    </div> 
                    <label class="col-md-2 control-label"><span class="text-danger">(*)</span> Sexo</label>  
                    <div class="col-md-4">
                        <ng-select #ddllTipoSexo formControlName="id_tipo_sexo" [clearable]="true" [items]="listaGenero"
                            bindLabel="descripcion" bindValue="id_tipo_sexo" notFoundText="no se ha encontrado ningún item"
                             id="id_tipo_sexo" name="id_tipo_sexo" placeholder="Seleccione">
                        </ng-select> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12">
                <div class="row">
                    <label class="col-md-2 control-label"><span class="text-danger">(*)</span> Nombres</label>
                    <div class="col-md-4">
                        <input  class="form-control" formControlName="nombre" type='text' 
                            name="nombre" id="nombre" placeholder="Ingrese el nombre del conductor"
                            />
                    </div> 
                    <label class="col-md-2 control-label"><span class="text-danger">(*)</span> Apellido Paterno</label>  
                    <div class="col-md-4">
                        <input  class="form-control" formControlName="apellido_paterno" type='text' 
                            name="apellido_paterno" id="apellido_paterno" placeholder="Ingrese el apellido paterno del conductor"
                            />
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12">
                <div class="row">
                        <label class="col-md-2 control-label"><span class="text-danger">(*)</span> Apellido Materno</label>
                        <div class="col-sm-4">
                            <input  class="form-control" formControlName="apellido_materno" type='text' 
                            name="apellido_materno" id="apellido_materno" placeholder="Ingrese el apellido materno del conductor"
                            />
                        </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Licencia:</label>
            <div class="col-md-4">
                <ng-select #ddllicencias formControlName="id_estado_licencia" [clearable]="true" [items]="listaEstadoLicencia"
                         bindLabel="descripcion" bindValue="id_estado_licencia" notFoundText="no se ha encontrado ningún item"
                          id="id_estado_licencia" name="id_estado_licencia" placeholder="Seleccione">
                </ng-select>    
            </div>
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Registra Sanciones:</label>
            <div class="col-md-4">
                    <input  formControlName="sancion" (change)="envento($event,formGroup.get('sancion').value)" id="aprob" type="radio" name="sancion" value="true" [checked]="vTipoFalta">
                    <label for="aprob" class="mr-2">Si</label>
        
                    <input formControlName="sancion" (change)="envento($event,formGroup.get('sancion').value)" id="desapro" type="radio" name="sancion" value="false" [checked]="!vTipoFalta"
                        >
                    <label for="desapro" class="mr-2">No</label>
            </div>
        </div>
        <div class="row form-group" *ngIf="showPuntosFirmes">
            <div class="col-12">
                <div class="row">
                        <label class="col-md-2 control-label"><span class="text-danger">(*)</span> Puntos Firmes</label>
                        <div class="col-sm-4">
                            <input  class="form-control" formControlName="punto_firme" type='text' (keypress)="funciones.IsNumberKey($event);" maxlength="10" 
                            name="punto_firme" id="punto_firme" placeholder="Ingrese cantidad"
                            />
                        </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Dosaje Etílico:</label>
            <div class="col-md-4">
                    <ng-select [items]="listaDosajeEtilico" #ddlTipoDosaleje formControlName="id_tipo_dosaje_etilico" placeholder="Seleccione"
                     bindLabel="descripcion" bindValue="id_tipo_dosaje_etilico" (change)="validarResultado($event)"
                        notFoundText="no se ha encontrado ningún item" id="id_tipo_dosaje_etilico"name="id_tipo_dosaje_etilico">
                    </ng-select>
            </div>
            <label class="col-md-2 control-label" *ngIf="showMostrarResultado"><span class="text-danger">(*)</span>Resultado:</label>
            <div class="col-md-4" *ngIf="showMostrarResultado">
                <ng-select [items]="listaResultado" #ddlTipoResultado formControlName="id_resultado_dosaje_etilico" placeholder="Seleccione" bindLabel="descripcion" bindValue="id_resultado_dosaje_etilico"
                notFoundText="no se ha encontrado ningún item" id="id_resultado_dosaje_etilico"
                        name="id_resultado_dosaje_etilico">
                </ng-select> 
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Estado Conductor:</label>
            <div class="col-md-4">
                    <ng-select [items]="listaEstadoConductor" #ddlEstadoConductor formControlName="id_estado_conductor" placeholder="Seleccione"
                     bindLabel="descripcion" bindValue="id_estado_conductor" (change)="validarEstadoConfirmacion($event)"
                        notFoundText="no se ha encontrado ningún item" id="id_estado_conductor"name="id_estado_conductor">
                    </ng-select>
            </div>
            <label class="col-md-2 control-label" *ngIf="showMostrarConfirmacion" ><span class="text-danger">(*)</span>Estado Confirmación:</label>
            <div class="col-md-4" *ngIf="showMostrarConfirmacion">
                <ng-select [items]="listaEstadoConfirmacion" #ddlEstadoConfirmacion formControlName="id_estado_confirmado"
                 placeholder="Seleccione" bindLabel="descripcion" bindValue="id_estado_confirmado"
                notFoundText="no se ha encontrado ningún item" id="id_estado_confirmado" name="id_estado_confirmado">
                </ng-select> 
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Placa de automovil del conductor:</label>
            <div class="col-md-4">
                <ng-select #ddlistaPlacas formControlName="id_vehiculo_involucrado" [clearable]="true" [items]="listaPlacas" placeholder="Seleccione"
                         bindLabel="placa_vehiculo_involucrado" bindValue="id_vehiculo_involucrado" notFoundText="no se ha encontrado ningún item"
                          id="id_vehiculo_involucrado" name="id_vehiculo_involucrado">
                </ng-select>    
            </div>
        </div>
        <span class="comentario">(*)Campos Obligatorios</span>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm" type="submit" id="btnGuardar" 
            *hasClaim="'accidente_transito_detalle_accidente_conductor_guardar'"
                ><i class="mdi mdi-content-save"></i> Guardar</button>
            <button class="btn btn-secondary btn-sm" id="btnTraCancelar" type="button" (click)="closeModal()">
                <i class="mdi mdi-close"></i> Cancelar</button>
        </div>
    </form>
  </div>
