<div class="modal-body p-0">
    <br>
    <button kendo-button (click)="imprimir(pdf)" class="btn btn-danger mr-1"><i class="fa fa-download"></i>
            PDF</button>
    
    <div id="contentToConvert" class="KendoPDF">
        <kendo-pdf-export #pdf paperSize="A4" margin="1cm" [scale]="0.6">
            <div>
                <table width="100%" >
                    <tr>
                        <td style="text-align: center;">
                            <div class="text-center mb-2"><img id="img-0" src="{{rutaLogo}}"
                                    style="width:80%;height: 10%;"></div>
                        </td>
                        <td>
                            <h6 style="text-align:center">FICHA</h6>
                            <h4 style="text-align:center">Sistema de Registro de Accidentes de Tránsito</h4>
                        </td>
                    </tr>
                </table>

                <br>
                <div>
                    <table class="table table-bordered" >
                        <tr>
                            <td colspan="6">
                                <h4 style="text-align:left">Datos Generales del Accidente de Tránsito</h4>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">C&Oacute;digo del accidente</label></td>
                            <td colspan="5">{{accidenteModel.cod_acc_transito_externo}}</td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Fecha</label></td>
                            <td>{{accidenteModel.fecha_registro == null ? "SIN INFORMACIÓN" :
                                    accidenteModel.fecha_registro}}</td>
                            <td><label class="control-label">Hora</label></td>
                            <td colspan="3">{{accidenteModel.hora_registro == null ? "SIN INFORMACIÓN" :
                                    accidenteModel.hora_registro}}</td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Departamento</label></td>
                            <td>{{accidenteModel.departamento == null ? "SIN INFORMACIÓN" :
                                    accidenteModel.departamento}}</td>
                            <td><label class="control-label">Provincia</label></td>
                            <td>{{accidenteModel.provincia == null ? "SIN INFORMACIÓN" :
                                    accidenteModel.provincia}}</td>
                            <td><label class="control-label">Distrito</label></td>
                            <td>{{accidenteModel.distrito == null ? "SIN INFORMACIÓN" :
                                    accidenteModel.distrito}}</td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Clase</label></td>
                            <td>{{accidenteModel.claseaccidente == null ? "SIN INFORMACIÓN" :
                                    accidenteModel.claseaccidente}}</td>
                            <td><label class="control-label">Dirección</label></td>
                            <td colspan="3">{{accidenteModel.direccion == "" ? "SIN INFORMACIÓN" :
                                    accidenteModel.direccion}}</td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Latitud</label></td>
                            <td>{{accidenteModel.latitud == "" ? "SIN INFORMACIÓN" :
                                    accidenteModel.latitud}}</td>
                            <td><label class="control-label">Longitud</label></td>
                            <td colspan="3">{{accidenteModel.longitud == "" ? "SIN INFORMACIÓN" :
                                    accidenteModel.longitud}}</td>
                        </tr>
                        
                        
                    </table>
                </div>

                <div>         
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <td colspan="5">
                                    <h5 style="text-align:left">VEHÍCULOS INVOLUCRADOS</h5>
                                </td>
                            </tr>
                            <tr>
                                <th>ID</th>
                                <th>PLACA</th>
                                <th>TIPO VEHICULO</th>
                                <th>ESTADO SOAT</th>
                                <th>ESTADO CITV</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="accidenteModel.vehiculoinvolucrado != null; else templateVehiculo">
                            <tr *ngFor="let vehiculo of accidenteModel.vehiculoinvolucrado; let i = index">
                                <td class="text-center">{{i + 1}}</td>
                                <td class="text-center">{{vehiculo.placa_vehiculo_involucrado}}</td>
                                <td class="text-center">{{vehiculo.tipovehiculo}}</td>
                                <td class="text-center">{{vehiculo.estadosoat}}</td>
                                <td class="text-center">{{vehiculo.estadocitv}}</td>
                            </tr>
                        </tbody>
                        <ng-template #templateVehiculo>
                            <tr>
                                <td colspan="5" style="text-align: center">SIN INFORMACIÓN</td>
                            </tr>
                        </ng-template>
                    </table>
                </div>
                <div>            
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <td colspan="5"><h5 style="text-align:left">CONDUCTOR</h5></td>
                            </tr>
                            <tr>
                                <th>ID</th>
                                <th>DNI</th>
                                <th>LICENCIA</th>
                                <th>SANCIONES</th>
                                <th>PLACA</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="accidenteModel.conductorvehiculo != null; else templateVehiculo">
                            <tr *ngFor="let vehiculo of accidenteModel.conductorvehiculo; let i = index">
                                <td class="text-center">{{i + 1}}</td>
                                <td class="text-center">{{vehiculo.dni}}</td>
                                <td class="text-center">{{vehiculo.estadolicencia}}</td>
                                <td class="text-center">{{vehiculo.sanciondesc}}</td>
                                <td class="text-center">{{vehiculo.placa_vehiculo_involucrado}}</td>
                            </tr>
                        </tbody>
                        <ng-template #templateVehiculo>
                            <tr>
                                <td colspan="5" style="text-align: center">SIN INFORMACIÓN</td>
                            </tr>
                        </ng-template>
                    </table>
                </div>

                <div>            
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <td colspan="5"><h5 style="text-align:left">PASAJEROS / PEATONES / OCUPANTES</h5></td>
                            </tr>
                            <tr>
                                <th>ID</th>
                                <th>TIPO</th>
                                <th>DNI</th>
                                <th>ESTADO</th>
                                <th>ESTADO CONFIRMACIÓN</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="accidenteModel.pasajeropeaton != null; else templatePasajero">
                            <tr *ngFor="let pasajero of accidenteModel.pasajeropeaton; let i = index">
                                <td class="text-center">{{i + 1}}</td>
                                <td class="text-center">{{pasajero.tipopersonaaccidente}}</td>
                                <td class="text-center">{{pasajero.dni}}</td>
                                <td class="text-center">{{pasajero.estadoinicial}}</td>
                                <td class="text-center">{{pasajero.estadoconfirmado}}</td>
                            </tr>
                        </tbody>
                        <ng-template #templatePasajero>
                            <tr>
                                <td colspan="5" style="text-align: center">SIN INFORMACIÓN</td>
                            </tr>
                        </ng-template>
                    </table>
                </div>
                <div>        
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <td colspan="4"><h5 style="text-align:left">SITUACIÓN VÍA</h5></td>
                            </tr>
                            <tr>
                                <th>ID</th>
                                <th>TRANSITABILIDAD</th>
                                <th>TIPO DE VÍA</th>
                                <th>ZONA</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="accidenteModel.situacionvia != null; else templateVia">
                            <tr *ngFor="let via of accidenteModel.situacionvia; let i = index">
                                <td class="text-center">{{i + 1}}</td>
                                <td class="text-center">{{via.transitabilidad}}</td>
                                <td class="text-center">{{via.via}}</td>
                                <td class="text-center">{{via.zona}}</td>
                            </tr>
                        </tbody>
                        <ng-template #templateVia>
                            <tr>
                                <td colspan="5" style="text-align: center">SIN INFORMACIÓN</td>
                            </tr>
                        </ng-template>
                    </table>
                </div>
                <div>   
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <td colspan="5"><h5 style="text-align:left">ATENCIÓN </h5> </td>
                            </tr>
                            <tr>
                                <th>ID</th>
                                <th>UNIDAD</th>
                                <th>RESPONSABLE</th>
                                <th>LESIONADO</th>
                                <th>DESTINO</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="accidenteModel.atencionprimaria != null; else templatePrimaria">
                            <tr *ngFor="let primaria of accidenteModel.atencionprimaria; let i = index">
                                <td class="text-center">{{i + 1}}</td>
                                <td class="text-center">{{primaria.tipounidadatencion}}</td>
                                <td class="text-center">{{primaria.nombre_responsable}} {{primaria.apellido_pat_responsable}} {{primaria.apellido_mat_responsable}}</td>
                                <td class="text-center">{{primaria.nombre_lesionado}} {{primaria.apellido_pat_lesionado}} {{primaria.apellido_mat_lesionado}}</td>
                                <td class="text-center">{{primaria.ipress}}</td>
                            </tr>
                        </tbody>
                        <ng-template #templatePrimaria>
                            <tr>
                                <td colspan="5" style="text-align: center">SIN INFORMACIÓN</td>
                            </tr>
                        </ng-template>
                    </table>
                </div>
                <!--<div>   
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <td colspan="7"><h5 style="text-align:left">ATENCIÓN SECUNDARIA DEL ACCIDENTE</h5>   </td>
                            </tr>
                            <tr>
                                <th>ID</th>
                                <th>IPRESS</th>
                                <th>HERIDOS</th>
                                <th>COMPAÑIA</th>
                                <th>DADOS DE ALTA</th>
                                <th>FALLECIDOS INTRAHOSPITALARIOS</th>
                                <th>DERIVADOS</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="accidenteModel.atencionsecundaria != null; else templateSecundaria">
                            <tr *ngFor="let secundaria of accidenteModel.atencionsecundaria; let i = index">
                                <td class="text-center">{{i + 1}}</td>
                                <td class="text-center">{{secundaria.ipress}}</td>
                                <td class="text-center">{{secundaria.cantidad_heridos_ingresados}} </td>
                                <td class="text-center">{{secundaria.companiaseguro}}</td>
                                <td class="text-center">{{secundaria.cantidad_dados_alta}}</td>
                                <td class="text-center">{{secundaria.cantidad_fallecido_intrahospitalario}}</td>
                                <td class="text-center">{{secundaria.cantidad_derivado_rehabilitacion}}</td>
                            </tr>
                        </tbody>
                        <ng-template #templateSecundaria>
                            <tr>
                                <td colspan="7" style="text-align: center">SIN INFORMACIÓN</td>
                            </tr>
                        </ng-template>
                    </table>
                </div>-->
                <div>   
                        <table class="table table-bordered" >
                            <thead>
                                <tr>
                                    <td colspan="9">
                                            <h5 style="text-align:left">SEGUIMIENTO</h5> 
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="9"><h5 style="text-align:left">EVOLUCIÓN DE LOS PACIENTES LESIONADOS </h5> </td>
                                </tr>
                                <tr>
                                    <th rowspan="2">ID</th>
                                    <th rowspan="2">DESTINO (IPRESS)</th>
                                    <th rowspan="2">LESIONADO</th>
                                    <th rowspan="2">ESTADO INICIAL</th>
                                    <th rowspan="2">SITUACIÓN LESIONADO</th>
                                    <th colspan="2">EGRESO AL HOSPITAL</th>
                                    <th rowspan="2">ESTADO FINAL</th>
                                    <th rowspan="2">LUGAR DERIVACIÓN</th> 
                                </tr>
                                <tr>
                                    <th>FECHA</th>
                                    <th >HORA</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="accidenteModel.atencionprimariadetalle != null; else templateSeguimientoEvolucion">
                                <tr *ngFor="let detallePrimaria of accidenteModel.atencionprimariadetalle; let i = index">
                                    <td class="text-center">{{ i + 1 }}</td>
                                    <td class="text-center">{{detallePrimaria.ipress }}</td>
                                    <td class="text-center">{{detallePrimaria.nombre_lesionado}} {{detallePrimaria.apellido_pat_lesionado}} {{detallePrimaria.apellido_mat_lesionado}}</td>
                                    <td class="text-center">{{ detallePrimaria.estadoinicialatencion }}</td>
                                    <td class="text-center">{{ detallePrimaria.situacionlesionado }}</td>
                                    <td class="text-center">{{ detallePrimaria.fecha_egreso_hospital | date:'dd/MM/yyyy'}}</td>
                                    <td class="text-center">{{ detallePrimaria.hora_egreso_hospital }}</td>
                                    <td class="text-center">{{ detallePrimaria.atencionfinal }}</td>
                                    <td class="text-center">{{ detallePrimaria.lugar_derivacion }}</td>
                                </tr>
                            </tbody>
                            <ng-template #templateSeguimientoEvolucion>
                                <tr>
                                    <td colspan="9" style="text-align: center">SIN INFORMACIÓN</td>
                                </tr>
                            </ng-template>
                        </table>
                    </div>
                <div>         
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <td colspan="2">
                                        <h5 style="text-align:left">DATOS FISCAL</h5> 
                                </td>
                            </tr>
                            <tr>
                                <th>FISCAL A CARGO</th>
                                <th >DESCRIPCIÓN DEL DOCUMENTO</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="accidenteModel.seguimientoaccidente != null; else templateSeguimiento">
                            <tr *ngFor="let seguimiento of accidenteModel.seguimientoaccidente; let i = index">
                                
                                <td class="text-center" >{{seguimiento.nombre_fiscal}} {{seguimiento.apellido_pat_fiscal}} {{seguimiento.apellido_mat_fiscal}}</td>
                                <td class="text-left" >
                                    <div  *ngFor="let archivos of seguimiento.archivos" >
                                        <div class="p-3 ">
                                                <div><span class="font-weight-bold">Archivo: </span> {{archivos.nombre_documento_original}}</div>
                                                <div><span class="font-weight-bold">Descripción: </span> {{archivos.descripcion}}</div>
                                        </div>
                                        
                                    </div>    
                                </td>
                            </tr>
                        </tbody>
                        <ng-template #templateSeguimiento>
                            <tr>
                                <td colspan="5" style="text-align: center">SIN INFORMACIÓN</td>
                            </tr>
                        </ng-template>
                    </table>
                </div>

                <div>   
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <td colspan="4"><h5 style="text-align:left">RESUMEN</h5> </td>
                            </tr>
                            <tr>
                                <th></th>
                                <th>REGISTRO EVENTO (INSITU)</th>
                                <th>ACCIÓN DE EVENTO</th>
                                <th>ATENCIÓN / SEGUIMIENTO DE PERSONA INVOLUCRADA</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="accidenteModel.resumenficha != null; else templateResumen">
                            <tr *ngFor="let resumen of accidenteModel.resumenficha let i = index">
                                <td class="text-center">{{resumen.tipo}}</td>
                                <td class="text-center">{{resumen.regevento}}</td>
                                <td class="text-center">{{resumen.atecliente}}</td>
                                <td class="text-center">{{resumen.segpersona}}</td>
                            </tr>
                        </tbody>
                        <ng-template #templateResumen>
                            <tr>
                                <td colspan="4" style="text-align: center">SIN INFORMACIÓN</td>
                            </tr>
                        </ng-template>
                    </table>
                </div>



                
            </div>
            
        </kendo-pdf-export>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-plomo" id="btnCancelar" type="button" (click)="modalRef.hide()"><i class="material-icons">close</i>&nbsp;Cerrar</button>
</div>
