<div class="row form-group"> 
    <div class="col-12">
        <button class="btn pull-left ml-1 btn-primary btn-sm" (click)="openModalAtencionSecundaria()">
            <i class="mdi mdi-plus"></i> Nuevo
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 container-scroll">
        <table class="table xs-hidden">
        <thead>
            <tr>
            <th>ID</th>
            <th>IPRESS</th>
            <th>HERIDOS</th>
            <th>COMPAÑIA</th>
            <th>DADOS DE ALTA</th>
            <th>FALLECIDOS INTRAHOSPITALARIOS</th>
            <th>DERIVADOS</th>
            <th >Acciones</th> <!--[hidden]=!bEstado-->
            </tr>
        </thead>
        <tbody *ngFor="let item of listaSegundaAtencion; let i = index"> 
            <tr>
            <td class="text-center xs-hidden">{{ i + 1 }}</td>
            <td class="text-center xs-hidden">{{item.ipress}}</td>
            <td class="text-center xs-hidden">{{ item.cantidad_heridos_ingresados }}</td>
            <td class="text-center xs-hidden">{{ item.companiaseguro }}</td>
            <td class="text-center xs-hidden">{{item.cantidad_dados_alta}}</td>
            <td class="text-center xs-hidden">{{item.cantidad_fallecido_intrahospitalario}}</td>
            <td class="text-center xs-hidden">{{item.cantidad_derivado_rehabilitacion}}</td>
            <td class="xs-footer-lista" > <!--[hidden]=!bEstado-->
                <div class="text-center xs-hidden">
                    <span (click)="openEditarAtencionSecundaria(item)" style="cursor: pointer;" tooltip="Editar Atención">
                            <i class="mdi mdi-pencil"></i>
                    </span>
                    <span (click)="anularAtencionSecundaria(item)" style="cursor: pointer;" tooltip="Eliminar Atención">
                            <i class="mdi mdi-delete-outline" style="color:#5D6D7E;"></i>
                    </span>
                </div>
            </td>
            </tr>
        </tbody>
        </table>
        <div class="card xs-display" *ngFor="let item of listaSegundaAtencion; let i = index">
        <div class="p-3">
            <div><b>ID: </b>{{ i + 1 }}</div>
            <div><b>IPRESS</b>{{item.ipress}}</div>
            <div><b>HERIDOS: </b>{{ item.cantidad_heridos_ingresados }}</div>
            <div><b>COMPAÑIA: </b>{{ item.companiaseguro }}</div>
            <div><b>DADOS DE ALTA: </b>{{ item.cantidad_dados_alta}}</div>
            <div><b>FALLECIDOS INTRAHOSPITALARIOS: </b>{{ item.cantidad_fallecido_intrahospitalario}}</div>
            <div><b>DERIVADOS: </b>{{ item.cantidad_derivado_rehabilitacion}}</div>
        </div>
        <div class="xs-footer-lista text-right">
            <span class="btn-icon ml-1" (click)="openEditarAtencionSecundaria(item)"  tooltip="Editar"><i class="fa fa-pencil" style="color:#5D6D7E;"></i></span> 
            <span class="btn-icon ml-1" (click)="anularAtencionSecundaria(item)"  tooltip="Eliminar"><i class="fa fa-trash" style="color:#5D6D7E;"></i></span>    
        </div>
        </div>
    </div>
    <div class="col-12">
        <nav class="pt-4 pl-3 float-right">
        <pagination [totalItems]="totalRegistros" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;"
            [rotate]="false" firstText="&laquo;" lastText="&raquo;" [itemsPerPage]="numPaginasMostrar"
            (pageChanged)="cambiarPagina($event)">
        </pagination>
        </nav>
    </div>
</div>
