<div class="footer">
    <div></div>
    <div class="container pb-4 pt-4">
        <div class="row">
            <div class="col-lg-3 text-center pb-2">
                <img class="logo" src="assets/img/logo-mtc.png" alt="Ministerio de Trnsportes y Comunicaciones" height="32" />
            </div>
            <div class="col-lg-6 text-center pb-2">
                Sistema de Registro de Accidentes de Tránsito - Ministerio de Transportes y Comunicaciones<br>© Todos los derechos reservados 2020
            </div>
            <div class="col-lg-3 text-center">
                <img class="logo" src="assets/img/el-peru-primero.png" alt="El Perú Primero" height="32" />
            </div>
        </div>
    </div>
</div>