<!--<div class="row form-group"> 
        <div class="col-12">
            <button class="btn pull-left ml-1 btn-primary btn-sm" (click)="openModalVehiculoFurat()" 
            >
                <i class="mdi mdi-plus"></i> Nuevo
            </button>
        </div>
</div>-->
<div class="row">
    <div class="col-12 container-scroll">
        <table class="table xs-hidden table-bordered">
        <thead>
                
            <tr>
            <th>PERSONA</th>
            <th>DNI</th>
            <th>ACCIONES</th> 
            <th>FICHA</th> 
            </tr>
        </thead>
        <tbody *ngFor="let item of listaPersonaFurat; let i = index"> 
            <tr>
            <td class="text-center xs-hidden">{{item.nombre_lesionado}} {{item.apellido_paterno}} {{item.apellido_materno}}</td>
            <td class="text-center xs-hidden">{{ item.dni }}</td>

            <td class="xs-footer-lista" >
                <div class="text-center xs-hidden">
                    <span (click)="openEditarPersonaFurat(item)" style="cursor: pointer;" tooltip="Editar" 
                    >
                            <i class="mdi mdi-pencil"></i>
                    </span>
                </div>
            </td>
            <td></td>
            </tr>
        </tbody>
        </table>
        <div class="card xs-display" *ngFor="let item of listaPersonaFurat; let i = index">
        <div class="p-3">
            <div><b>PERSONA: </b>{{item.nombre_lesionado}} {{item.apellido_paterno}} {{item.apellido_materno}}</div>
            <div><b>DNI: </b>{{ item.dni }}</div>
        </div>
        <div class="xs-footer-lista text-right">
            <span class="btn-icon ml-1" (click)="openEditarPersonaFurat(item)"  tooltip="Editar" 
            ><i class="fa fa-pencil" style="color:#5D6D7E;"></i></span> 
            
        </div>
        </div>
    </div>
    <div class="col-12">
        <nav class="pt-4 pl-3 float-right">
        <pagination [totalItems]="totalRegistros" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;"
            [rotate]="false" firstText="&laquo;" lastText="&raquo;" [itemsPerPage]="numPaginasMostrar"
            (pageChanged)="cambiarPagina($event)">
        </pagination>
        </nav>
    </div>
</div>
        
