.navbar {
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
}

.foto-usuario {
    height: 30px;
}

.txtUsuario {
    display: inline-block;
}

.UsuarioPerfil {
    font-size: 10px;
}

#navbarDropdown {
    color: #fff;
    ;
}