<nav class="navbar fixed-top navbar-expand fondo-header" id="nav-top">
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto col">

            <li style="display: flex;align-items: center;">
                <img src="assets/img/logo-ssat.png" style="height: 40px;" alt="SRAT"></li>
        </ul>

        <ul class="navbar-nav ml-auto col">
            <li class="nav-item dropdown w-100 text-right">
                <a class="nav-link dropdown-toggle p-0 d-inline-flex align-items-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="txtUsuario">{{txtUsuario}}
                        <div class="UsuarioPerfil">{{txtPerfil}}</div>
                    </div>&nbsp;
                    <span class="foto-usuario-container"><img class="foto-usuario" name="foto"
                            src="assets/img/camiseta.svg" alt="usuario" /></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <!-- <a class="dropdown-item" routerLink="/perfil" routerLinkActive="active-link"><i
                            class="mdi mdi-account-box fs-i"></i> &nbsp;Perfil</a> -->
                    <!-- <a class="dropdown-item"><i class="material-icons fs-i">account_box</i> &nbsp;Perfil</a> -->

                    <a class="dropdown-item" href="javascript:void(0)" (click)="cambiarContrasena(templateReseteoContrasena)">
                        <i class="mdi mdi-account-key-outline fa-12x"></i> &nbsp;Cambiar Contraseña</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="Salir()"><i
                            class="mdi mdi-exit-to-app fs-i"></i> &nbsp;Salir</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<ng-template #templateReseteoContrasena>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Cambiar Contraseña</h4>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <label dlabels class="col-md-12 control-label">Nueva contraseña:</label>
            <div class="col-md-12">
                <input class="form-control" minlength="5" #nuevaClave="ngModel" type='password' required placeholder="ingrese la nueva contraseña" name="txtNuevo" [(ngModel)]="entidadResetearClave.nuevaClave" />
                <div [hidden]="nuevaClave.valid || nuevaClave.pristine" class="alert alert-danger">
                    La nueva clave es obligatorio
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <label dlabels class="control-label">Repetir Contraseña</label>
            </div>
            <div class="col-md-12">
                <input class="form-control" minlength="5" #repetirClave="ngModel" type='password' name="txtRepetir" required placeholder="vuelva a repetir la contraseña" [(ngModel)]="entidadResetearClave.repetirClave" />
                <div [hidden]="repetirClave.valid || repetirClave.pristine" class="alert alert-danger">
                    El repetir clave es obligatorio
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-sm btn-danger" type="submit" id="btnGuardar" (click)="RegistrarReseteo()"><i
                    class="mdi mdi-content-save"></i> Guardar</button>
            <button class="btn btn-sm btn-plomo" id="btnCancelar" type="button" (click)="modalRef.hide()"><i
                    class="mdi mdi-close"></i>Cerrar</button>
        </div>

    </div>
</ng-template>