<accordion>
    <div class="row">
        <div class="col-12">
          <accordion-group [isOpen]="true" [panelClass]="separator">
            <button class="btn btn-link btn-block clearfix" accordion-heading>
              <div class="pull-left float-left header-limitado">1. EVOLUCIÓN DE LOS PACIENTES LESIONADOS</div>
              <span class="badge float-right pull-right">
                  <!--<i class="material-icons arrow"></i>-->
              </span>
            </button>
            <app-evolucion-pacientes></app-evolucion-pacientes>
          </accordion-group>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        <accordion-group [isOpen]="true" [panelClass]="separator">
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left header-limitado">2. DATOS DEL FISCAL</div>
            <span class="badge float-right pull-right">
                <!--<i class="material-icons arrow"></i>-->
            </span>
          </button>
          <app-post-accidente></app-post-accidente>
        </accordion-group>
      </div>
    </div>
    
  </accordion>
