<div class="modal-header">

    <button type="button" class="close pull-right" style="padding: 5px 8px 0px 0px;" aria-label="Close"
        (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title pull-left">INFORMACIÓN GEOGRÁFICA</h4>

</div>
<div class="modal-body">
    <div class="form-group">
        <div class="row">
            <table class="table table-hover responsivo no-icons">
                <thead>
                    <tr>
                        <th> DEPARTAMENTO </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let campo of lstUbigeoUsuario">
                        <td>{{campo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>