<div class="modal-header">
        <h4 class="modal-title">Editar Registro de Accidente de Tránsito</h4>
        <p class="pl-4 pr-4">Datos generales del accidente</p>
    </div>
    <div class="modal-body">
        <form [formGroup]="formGroup" autocomplete="off" (ngSubmit)="registroAccidente()">
            <!--<div class="form-group">
                    <input id="s2d" type="checkbox" class="switch" checked>
                    <label for="s2d">Switch</label>
                    <input id="c1" type="checkbox">
                <label for="c1">Checkbox</label>
                <input checked formControlName="tipoDato" (change)="envento($event)" id="r1" type="radio" name="tipoDato" value="1">
                <label for="r1" class="mr-2">opción 1</label>
    
                <input formControlName="tipoDato" (change)="envento($event)" id="r2" type="radio" name="tipoDato" value="2"
                    >
                <label for="r2" class="mr-2">opción 2</label>
    
                <input formControlName="tipoDato" (change)="envento($event)" id="r3" type="radio" name="tipoDato" value="3"
                    >
                <label for="r2">opción 3</label>
            </div>-->
            <!--<div class="row form-group">
                <div class="col-sm-12 col-lg-12 col-xl-12">
                        <label class="control-label"><span class="text-danger">(*)</span>Código:</label>
                        <input dTextBox class="form-control" type='text' id="cod_accidente_transito"
                        name="cod_accidente_transito" placeholder="Código autogenerado al guardar"
                        formControlName="cod_accidente_transito" />
                </div>
            </div>-->
            <div class="row form-group">
                <div class="col-sm-12 col-lg-12 col-xl-12">
                    <label class="control-label"><span class="text-danger">(*)</span> Código Interno:</label>
                    <input class="form-control" type='text' id="cod_accidente_transito" name="cod_accidente_transito"
                        placeholder="Código interno autogenerado al guardar" formControlName="cod_accidente_transito" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-lg-12 col-xl-12">
                        <label class="control-label"><span class="text-danger">(*)</span>Código:</label>
                        <input dTextBox class="form-control" type='text' id="cod_acc_transito_externo"
                        name="cod_acc_transito_externo" placeholder="Código autogenerado al guardar"
                        formControlName="cod_acc_transito_externo" />
                </div>
            </div>
            <div class="row form-group">
                    <div class="col-sm-12 col-lg-4 col-xl-4">
                        <label class="control-label"><span class="text-danger">(*)</span> DEPARTAMENTO</label>
                        <ng-select #ddldepartamentos formControlName="iddpto" [clearable]="true" [items]="departamentos"
                            placeholder="Seleccione el departamento" bindLabel="nombdep" bindValue="iddpto"
                            notFoundText="no se ha encontrado ningún item" id="iddpto" name="iddpto"
                            (change)="DepartamentoSeleccionado($event)" >
                        </ng-select>
                    </div>
                    <div class="col-sm-12 col-lg-4 col-xl-4">
                        <label class=" control-label"><span class="text-danger">(*)</span> PROVINCIA</label>
                        <ng-select #ddlprovincias formControlName="idprov" [clearable]="true" [items]="provincias"
                            placeholder="Todas las provincias" bindLabel="nombprov" bindValue="idprov"
                            notFoundText="no se ha encontrado ningún item" id="idprov" name="idprov"
                            (change)="ProvinciaSeleccionada($event)" >
                        </ng-select>
                    </div>
                    <div class="col-sm-12 col-lg-4 col-xl-4">
                        <label class="control-label"><span class="text-danger">(*)</span> DISTRITO</label>
                        <ng-select #ddldistritos formControlName="iddist" [clearable]="true" [items]="distritos"
                                placeholder="todos los distritos" bindLabel="nombdist" bindValue="iddist"
                                notFoundText="no se ha encontrado ningún item" id="iddist" name="iddist" >
                        </ng-select>
                    </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-lg-4 col-xl-4">
                    <label class="control-label"><span class="text-danger">(*)</span>Fecha:</label>
                    <input formControlName="fecha_registro" class="form-control" type='text' name="fecha_registro"
                    id="fecha_registro" placeholder="dd/mm/aaaa" bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', locale: 'es', containerClass: 'theme-red' }" />
                </div>
                <div class="col-sm-12 col-lg-4 col-xl-8">
                    <label class="control-label"><span class="text-danger">(*)</span>Hora:</label>
                    <!--<input class="form-control" formControlName="hora_registro" type='time' name="hora_registro" id="hora_registro" />-->
                    <!--<timepicker formControlName="hora_registro" name="hora_registro" id="hora_registro"
                        [showMeridian]="isMeridian" [showSpinners]="showSpinners" disabled></timepicker>-->

                    <input [ngxTimepicker]="picker" [format]=24 class="form-control" formControlName="hora_registro" name="hora_registro" id="hora_registro">
                    <ngx-material-timepicker #picker [cancelBtnTmpl]="CancelarBtn" [confirmBtnTmpl]="confirmBtn"></ngx-material-timepicker>
                    <ng-template #CancelarBtn>
                        <button  class="btn btn-danger" style="margin-right: 10px;">Cancelar</button>
                    </ng-template>
                    <ng-template #confirmBtn>
                        <button class="btn btn-primary" >Confirmar</button>
                    </ng-template>

                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-lg-4 col-xl-6">
                    <label class="control-label">Clase:</label>
                    <ng-select [items]="listaclaseAccidente" #ddlTipoClase formControlName="id_clase_accidente"
                        placeholder="Seleccione" bindLabel="descripcion" bindValue="id_clase_accidente"
                        notFoundText="no se ha encontrado ningún item" id="id_clase_accidente" name="id_clase_accidente"
                        (change)=validarOtroTipo($event)>
                    </ng-select>
                </div>
                <div class="col-sm-12 col-lg-4 col-xl-6">
                    <label class="control-label">Dirección:</label>
                    <input class="form-control" formControlName="direccion" type='text' name="direccion" id="direccion" maxlength="300"
                        placeholder="Ingrese la dirección del accidente" />
                </div>
            </div>
            <div class="row form-group" *ngIf="ShowOtroTipoClase">
                <div class="col-sm-12 col-lg-4 col-xl-12">
                    <label class="control-label"><span class="text-danger">(*)</span>Otro Tipo Clase:</label>
                    <input class="form-control" formControlName="otro_clase_accidente" type='text'
                        name="otro_clase_accidente" id="otro_clase_accidente"
                        placeholder="Ingrese el otro tipo de clase del accidente" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-lg-4 col-xl-6">
                    <label class="control-label">Adjuntar imagen:</label>
                    <app-input-file idComp="fileInsertImagen" (onChange)="fileChangeEventImagen($event)"
                        id="nombre_imagen" class="input-group" IdTipoArchivo="{{tipoDocumentoAccidente}}" Extensiones=".pdf" Value="{{formGroup.get('nombre_documento_original').value}}"></app-input-file>
                </div>       
                <div class="col-sm-12 col-lg-4 col-xl-6">
                    <label class="control-label">Descripción:</label>
                    <input class="form-control" formControlName="descripcion" type='text' name="descripcion" id="descripcion" maxlength="500"
                        placeholder="Ingrese la descripción de la imagen" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-lg-4 col-xl-6">
                        <label class="control-label">Detalle:</label>
                        <textarea class="form-control" formControlName="detalle_hechos" type='text' maxlength="500" name="detalle_hechos" id="detalle_hechos"
                            placeholder="Ingrese el detalle del accidente" ></textarea>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-lg-4 col-xl-4">
                    <label class="control-label"><span class="text-danger">(*)</span>Latitud:</label>
                    <input class="form-control" type='text' formControlName="latitud" name="latitud" id="latitud"
                        placeholder="Ingrese la latitud del accidente" />
                </div>
                <div class="col-sm-12 col-lg-4 col-xl-4">
                    <label class="control-label"><span class="text-danger">(*)</span>Longitud:</label>
                    <input class="form-control" type='text' formControlName="longitud" name="longitud" id="longitud"
                        placeholder="Ingrese la longitud del accidente" />
                </div>
            </div>
            <br>
            <div class="row form-group">
                <div class="col-md-2">
    
                </div>
                <div class="col-md-8">
                    <div style="width:100%; height:500px;" id="map_"></div>
                </div>
    
            </div>
    
    
            <span class="comentario">(*)Campos Obligatorios</span>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" type="submit" id="btnGuardar"><i class="mdi mdi-content-save" *hasClaim="'accidente_transito_guardar'"></i>
                    Guardar</button>
                <button class="btn btn-secondary btn-sm" id="btnTraCancelar" type="button" (click)="closeModal()">
                    <i class="mdi mdi-close"></i> Cancelar</button>
            </div>
        </form>
    </div>