<div class="modal-header">
    <h4 class="modal-title">Asignar Menu</h4>
    <p class="pl-4 pr-4">Formulario para el asignación de menu</p>
</div>
<div class="modal-body mr-5 ml-5">
    <div class="form-group">
        <div class="row">
            <div class="col-12">
                    <ngx-treeview
                    [config]="config"
                    [items]="arregloTreeview"
                    (selectedChange)="onSelectedChange($event)">
                  </ngx-treeview>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit" id="btnGuardar" [hidden]="ocultarregistrar" (click)="guardarAsignacion()"><i class="mdi mdi-content-save"></i> Guardar</button>
        <button class="btn btn-secondary btn-sm" id="btnCancelar" type="button" (click)="closeModal()"><i class="mdi mdi-close"></i> Cancelar</button>
    </div>
</div>