
<div class="modal-header">
        <ng-container *ngIf="ACCION==1">
            <h4 class="modal-title">Nuevo Registro de Atención Secundaria del Accidente </h4>
            <p class="pl-4 pr-4">Formulario para el registro de Atención Secundaria del Accidente</p>
        </ng-container>
        <ng-container *ngIf="ACCION==2">
            <h4 class="modal-title">Edición de Atención Secundaria del Accidente </h4>
            <p class="pl-4 pr-4">Formulario para actualizar información de Atención Secundaria del Accidente</p>
        </ng-container>
    </div>
    <div class="modal-body">
    <form [formGroup]="formGroup"  autocomplete="off" (ngSubmit)="registrarSegundaAtencion()">
        <div class="row form-group">
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>IPRESS (Hospitales, Clinicas y otros):</label>
            <div class="col-md-4">
                <ng-select [items]="listaIpress" #ddlTipoIpress formControlName="id_ipress" placeholder="Seleccione"
                bindLabel="descripcion" bindValue="id_ipress"
                    notFoundText="no se ha encontrado ningún item" id="id_ipress"name="id_ipress">
                </ng-select>  
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Heridos Ingresados:</label>
            <div class="col-md-4">
                    <input  formControlName="cantidad_heridos_ingresados" min="0" id="cantidad_heridos_ingresados"
                    placeholder="Número de heridos" type="number"  class="form-control"
                    (keypress)="funciones.IsNumberKey($event);" >
            </div>
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>SOAT activo:</label>
            <div class="col-md-4">
                    <input  formControlName="soat_activo" (change)="envento($event)" id="soatActivo" type="radio" name="soat_activo" value="true" [checked]="vTipoSOAT">
                    <label for="soatActivo" class="mr-2">Si</label>
        
                    <input formControlName="soat_activo" (change)="envento($event)" id="desapro" type="radio" name="soat_activo" value="false" [checked]="!vTipoSOAT">
                    <label for="desapro" class="mr-2">No</label>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Compañia de Seguro:</label>
            <div class="col-md-4">
                    <ng-select [items]="listaCompania" #ddlTipoCompania formControlName="id_compania_seguro" placeholder="Seleccione"
                     bindLabel="descripcion" bindValue="id_compania_seguro" (change)="validarOtroTipoCompania($event)"
                        notFoundText="no se ha encontrado ningún item" id="id_compania_seguro" name="id_compania_seguro">
                    </ng-select>
            </div>
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Dados de alta:</label>
            <div class="col-md-2">
                    <input  formControlName="cantidad_dados_alta" min="0" id="cantidad_dados_alta" name="cantidad_dados_alta"
                    placeholder="Número de heridos" type="number"  class="form-control"
                    (keypress)="funciones.IsNumberKey($event);" >
            </div>
        </div>
        <div class="row form-group" *ngIf="ShowOtroCompaniaSeguro">
                <div class="col-md-2">
                    <label class="control-label"><span class="text-danger">(*)</span>Otra compañía de seguro
                    :</label>
                </div>
                <div class="col-md-4">
                        <input  class="form-control" formControlName="otro_compania_seguro" type='text' 
                        name="otro_compania_seguro" id="otro_compania_seguro" placeholder="Ingrese el otro compañía de seguro"
                            />
                </div> 
                
        </div>
        <div class="row form-group">
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Fallecidos Intrahospitalarios:</label>
            <div class="col-md-4">
                <input  formControlName="cantidad_fallecido_intrahospitalario" min="0" id="cantidad_fallecido_intrahospitalario" name="cantidad_fallecido_intrahospitalario"
                placeholder="Número de fallecidos Intrahospitalarios" type="number"  class="form-control"
                (keypress)="funciones.IsNumberKey($event);" >
            </div>
            <label class="col-md-2 control-label"><span class="text-danger">(*)</span>Derivados a Rehabilitación:</label>
            <div class="col-md-2">
                    <input  formControlName="cantidad_derivado_rehabilitacion" min="0" id="cantidad_derivado_rehabilitacion" name="cantidad_derivado_rehabilitacion"
                    placeholder="Número Derivados a Rehabilitación" type="number"  class="form-control"
                    (keypress)="funciones.IsNumberKey($event);" >
            </div>
        </div>
        <span class="comentario">(*)Campos Obligatorios</span>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm" type="submit" id="btnGuardar"
                ><i class="mdi mdi-content-save"></i> Guardar</button>
            <button class="btn btn-secondary btn-sm" id="btnTraCancelar" type="button" (click)="closeModal()">
                <i class="mdi mdi-close"></i> Cancelar</button>
        </div>
    </form>
    </div>
    
    
