<app-header></app-header>
<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content">
        <div class="container-componentes">
            <div class="container-fluid">
                <div class="d-inline-block mb-4">
                    <h1 class="font-weight-normal">Componentes</h1>
                    <div class="line mt-3"></div>
                </div>

                <div class="row">
                    <div class="col-lg-9">
                        <div class="card mb-4">
                            <div class="card-body pt-4">
                                <div class="form-group row">
                                    <label dlabels class="col-sm-2 control-label">Componentes:</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type='text'
                                            placeholder="Ingrese nombre del componente" name="campoBusqueda"
                                            [(ngModel)]="campoBusqueda" />
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div class="text-right">
                                            <button id="btnBuscar" class="btn pull-left btn-secondary btn-sm"
                                                (click)="busqueda()"><i class="mdi mdi-magnify"></i> Buscar</button>
                                            <button type="button" id="btnNuevoRegistro"
                                                class="btn pull-left ml-1 btn-primary btn-sm"
                                                (click)="modalAgregarComponente()"><i class="mdi mdi-plus"></i> Nuevo
                                                Registro</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-auto bg-plomo">
                            <div class="card-body">
                                <div class="position-absolute icon-card-title">
                                    <i class="icon icon-dashboard"></i>
                                </div>
                                <div class="div-centrado text-center">
                                    <div>
                                        <b style="font-size:3.5rem; font-weight: 500;">
                                            {{totalComponentes}}</b>
                                    </div>
                                    <div class="c-ContRegistros">Componentes</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card  p-3">
                            <table class="table xs-hidden">
                                <thead>
                                    <tr>
                                        <th>NOMBRE</th>
                                        <th>TIPO COMPONENTE</th>
                                        <th>SECCIÓN</th>
                                        <th>PÁGINA</th>
                                        <th>MÓDULO</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let campos of arregloComponente">
                                        <td class="text-center">{{campos.nombre_componente}}</td>
                                        <td class="text-center">{{campos.tipo_componente}}</td>
                                        <td class="text-center">{{campos.seccion}}</td>
                                        <td class="text-center">{{campos.pagina}}</td>
                                        <td>
                                            <div class="text-center">
                                                {{campos.modulo}}
                                            </div> 
                                            <div class="xs-display">
                                                <div class="xs-th f-s-8">{{campos.nombre_componente}}</div>
                                                <div class="xs-th f-s-13">{{campos.tipo_componente}}</div>
                                                <div class="xs-th f-s-13">{{campos.seccion}}</div>
                                                <div class="xs-th f-s-13">{{campos.pagina}}</div>
                                                <div class="xs-th f-s-13">{{campos.modulo}}</div>
                                            </div>
                                        </td>
                                        <td width="140" class="xs-footer-lista xs-100 xs-text-right pre-wrap">
                                            <div class="xs-hidden">
                                                <span class="btn btn-sm btn-opt btn-icon"
                                                    (click)="modalEditarComponente(campos)"><i
                                                        class="mdi mdi-pencil"></i></span>
                                                <span class="btn btn-sm btn-opt btn-icon"
                                                    (click)="mostrarAlerta(campos.id_componente)"><i
                                                        class="mdi mdi-delete"></i></span>
                                            </div>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="card xs-display" *ngFor="let campos of arregloComponente">
                                <div class="p-3">
                                    <div><b>NOMBRE: </b>{{ campos.nombre_componente}}</div>
                                    <div><b>TIPO COMPONENTE</b>{{campos.tipo_componente}}</div>
                                    <div><b>SECCIÓN: </b>{{ campos.seccion }}</div>
                                    <div><b>PÁGINA: </b>{{ campos.pagina }}</div>
                                    <div><b>MÓDULO: </b>{{ campos.modulo}}</div>
                                </div>
                                <div class="xs-footer-lista text-right">
                                        <span class="btn btn-sm btn-opt btn-icon"
                                        (click)="modalEditarComponente(campos)"><i
                                            class="mdi mdi-pencil"></i></span>
                                    <span class="btn btn-sm btn-opt btn-icon"
                                        (click)="mostrarAlerta(campos.id_componente)"><i
                                            class="mdi mdi-delete"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <div class="clearfix bg-white pt-3">
                            <div class="float-right">
                                <pagination [totalItems]="totalComponentes" [boundaryLinks]="true"
                                    previousText="&lsaquo;" nextText="&rsaquo;" [rotate]="false" firstText="&laquo;"
                                    lastText="&raquo;" [maxSize]="5" [(ngModel)]="paginaActual"
                                    (pageChanged)="cambiarPagina($event)">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>