<div class="modal-header">
  <ng-container *ngIf="ACCION==1">
    <h4 class="modal-title">Nuevo Persona - FURAT </h4>
    <p class="pl-4 pr-4">Formulario para el registro de la Persona- FURAT</p>
  </ng-container>
  <ng-container *ngIf="ACCION==2">
    <h4 class="modal-title">Edición de Persona - FURAT </h4>
    <p class="pl-4 pr-4">Formulario para actualizar información de Persona - FURAT</p>
  </ng-container>
</div>
<div class="modal-body">
  <accordion class="acordion-normal">
    <div class="row">
      <div class="col-12">
        <accordion-group [isOpen]=true>
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left">1. TIPO DE PERSONA INVOLUCRADA</div>
            <span class="badge float-right pull-right">
            </span>
          </button>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Tipo de persona involucrada</label>
              <ng-select #tipoPersonaInvolucrada [items]="listaTipoPersonaInvolucrada" placeholder="Seleccione"
                bindLabel="descripcion" bindValue="id_tipo_persona_accidente" [(ngModel)]="OBJETO2.id_tipo_persona_accidente"
                notFoundText="no se ha encontrado ningún item" disabled
                id="id_tipo_persona_accidente" name="id_tipo_persona_accidente">
              </ng-select>
            </div>
          </div>
        </accordion-group>
        <accordion-group [isOpen]=true>
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left">2. ESTADO DE PERSONA INVOLUCRADA</div>
            <span class="badge float-right pull-right">
            </span>
          </button>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Gravedad</label>
              <ng-select #tipoGravedad [items]="listaEstadoGravedad" placeholder="Seleccione" bindLabel="descripcion"
                bindValue="id_estado_gravedad" notFoundText="no se ha encontrado ningún item"  [(ngModel)]="OBJETO.id_estado_gravedad" id="id_estado_gravedad"
                name="id_estado_gravedad">
              </ng-select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Lugar de Atención (Lesionado)</label>
              <ng-select #tipoLugarAtencion [items]="listaLugarAtencion" placeholder="Seleccione"
                (change)="validarLugarAtencion($event)" bindLabel="descripcion" bindValue="id_lugar_atencion"
                notFoundText="no se ha encontrado ningún item" [(ngModel)]="OBJETO.id_lugar_atencion"
                id="id_lugar_atencion" name="id_lugar_atencion">
              </ng-select>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showotraLugarAtencion">
              <label class="control-label"><span class="text-danger">(*)</span> Otro</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.otro_lugar_atencion"
                name="otro_lugar_atencion" id="otro_lugar_atencion" placeholder="Ingrese otro" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Lugar de Defunción (Fallecido)</label>
              <ng-select #tipoLugarDefuncion [items]="listaLugarDefuncion" placeholder="Seleccione"
                bindLabel="descripcion" bindValue="id_lugar_defuncion" notFoundText="no se ha encontrado ningún item"
                [(ngModel)]="OBJETO.id_lugar_defuncion" id="id_lugar_defuncion" name="id_lugar_defuncion">
              </ng-select>
            </div>
          </div>
        </accordion-group>
        <accordion-group [isOpen]=true>
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left">3. DATOS PERSONAS INVOLUCRADAS</div>
            <span class="badge float-right pull-right">
            </span>
          </button>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Situación</label>
              <ng-select #situacion [items]="listaModalidadTransporte" placeholder="Seleccione" bindLabel="descripcion"
                bindValue="id_situacion_pea_pas_ocu" notFoundText="no se ha encontrado ningún item"  [(ngModel)]="OBJETO2.id_situacion_pea_pas_ocu"
                id="id_situacion_pea_pas_ocu" disabled
                name="id_situacion_pea_pas_ocu">
              </ng-select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Tipo Documento</label>
              <ng-select #tipoDocumento [items]="listaTipoDocumento" placeholder="Seleccione" bindLabel="descripcion"
                bindValue="id_tipo_documento" notFoundText="no se ha encontrado ningún item"  [(ngModel)]="OBJETO2.id_tipo_documento"
                id="id_tipo_documento" name="id_tipo_documento" disabled>
              </ng-select>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Número de Documento</label>
              <input class="form-control" type='text'  name="dni" id="dni" [(ngModel)]="OBJETO2.dni" disabled
                placeholder="Numero de documento" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Nacionalidad</label>
              <ng-select #tipoNacionalidad [items]="listaNacionalidad" placeholder="Seleccione" bindLabel="descripcion"
                bindValue="id_nacionalidad" notFoundText="no se ha encontrado ningún item"
                (change)="validarNacionalidad($event)" [(ngModel)]="OBJETO.id_nacionalidad" id="id_nacionalidad"
                name="id_nacionalidad">
              </ng-select>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showotraNacionalidad">
              <label class="control-label"><span class="text-danger">(*)</span> Otro</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.otra_nacionalidad" name="otra_nacionalidad"
                id="otra_nacionalidad" placeholder="Ingrese otro" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> País Emisión DOC</label>
              <div style="height: 10%;">&nbsp;</div>
              <input [(ngModel)]="OBJETO.emision_doc_peru" (change)="envento(OBJETO.emision_doc_peru)"
                id="siPaisEmision" type="radio" name="emision_doc_peru" [value]="true">
              <label for="siPaisEmision" class="mr-2">Perú</label>

              <input [(ngModel)]="OBJETO.emision_doc_peru" (change)="envento(OBJETO.emision_doc_peru)"
                id="noPaisEmision" type="radio" name="emision_doc_peru" [value]="false">
              <label for="noPaisEmision" class="mr-2">Otro</label>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showOtroPais">
              <label class="control-label"><span class="text-danger">(*)</span> Otro País</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.otro_emision_doc" name="otro_emision_doc"
                id="otro_emision_doc" placeholder="otro" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-2 col-xl-2">
              <label class="control-label"><span class="text-danger">(*)</span> Edad:</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO2.edad_aprox" name="edad_aprox" disabled
                id="edad_aprox" placeholder="Ingrese Edad" />
            </div>
            <div class="col-sm-12 col-lg-4 col-xl-4">
              <label class="control-label"><span class="text-danger">(*)</span> Sexo:</label>
              <ng-select #tipoSexo [items]="listaSexo" placeholder="Seleccione" bindLabel="descripcion"
                bindValue="id_tipo_sexo" notFoundText="no se ha encontrado ningún item" [(ngModel)]="OBJETO2.id_tipo_sexo" disabled
                 id="descripcion" name="id_tipo_sexo">
              </ng-select>
            </div>
          </div>
        </accordion-group>
        <accordion-group [isOpen]=true>
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left">4. LICENCIA DE CONDUCIR</div>
            <span class="badge float-right pull-right">
            </span>
          </button>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> ¿Cuenta con Licencia de
                conducir?</label>
              <div style="height: 10%;">&nbsp;</div>
              <input (change)="validarLicencia(OBJETO.tiene_licencia)" [(ngModel)]="OBJETO.tiene_licencia"
                id="siLicencia" type="radio" name="cuenta_licencia" [value]="true">
              <label for="siLicencia" class="mr-2">SI</label>

              <input  (change)="validarLicencia(OBJETO.tiene_licencia)" [(ngModel)]="OBJETO.tiene_licencia"
                id="noLicencia" type="radio" name="cuenta_licencia" [value]="false">
              <label for="noLicencia" class="mr-2">NO</label>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showLicencia" >
              <label class="control-label"><span class="text-danger">(*)</span> Número de Licencia</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.numero_licencia"  name="numero_licencia"
                id="numero_licencia" placeholder="Número de Licencia" />
            </div>
          </div>
          <div class="row form-group" *ngIf="showLicencia">
            <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showLicencia">
              <label class="control-label"><span class="text-danger">(*)</span> Clase y Categoria</label>
              <ng-select #tipoClaseCategoria [items]="listaClaseCategoria" [(ngModel)]="OBJETO.id_clase_categoria" placeholder="Seleccione"
                bindLabel="descripcion" bindValue="id_clase_categoria" notFoundText="no se ha encontrado ningún item"
                 id="id_clase_categoria" name="id_clase_categoria">
              </ng-select>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> ¿Esta Vigente?</label>
              <div style="height: 10%;">&nbsp;</div>
              <input id="siVigente" type="radio"  [(ngModel)]="OBJETO.esta_vigente"  name="esta_vigente" [value]="true">
              <label for="siVigente" class="mr-2">SI</label>

              <input  id="noVigente" type="radio" [(ngModel)]="OBJETO.esta_vigente" name="esta_vigente" [value]="false">
              <label for="noVigente" class="mr-2">NO</label>
            </div>

          </div>
          <div class="row form-group" *ngIf="showLicencia">
            <div class="col-sm-12 col-lg-6 col-xl-6" >
              <label class="control-label"><span class="text-danger">(*)</span> País Emisión DOC</label>
              <div style="height: 10%;">&nbsp;</div>
              <input [(ngModel)]="OBJETO.emision_licencia_peru"
                (change)="validarEmisionLicencia(OBJETO.emision_licencia_peru)" id="siEmisionLicencia" type="radio"
                name="emision_licencia" [value]="true">
              <label for="siEmisionLicencia" class="mr-2">Perú</label>

              <input [(ngModel)]="OBJETO.emision_licencia_peru"
                (change)="validarEmisionLicencia(OBJETO.emision_licencia_peru)" id="noEmisionLicencia" type="radio"
                name="emision_licencia" [value]="false">
              <label for="noEmisionLicencia" class="mr-2">Otro</label>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showOtroEmisionLicencia">
              <label class="control-label"><span class="text-danger">(*)</span> Otro </label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.otro_emision_licencia"
                name="otro_emision_licencia" id="otro_emision_licencia" placeholder="otro país" />
            </div>
          </div>
          <div class="row form-group" *ngIf="showLicencia">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Organismo Emisor</label>
              <ng-select #tipoOrganismoEmisor [items]="listaOrganismoEmisor" placeholder="Seleccione"
                bindLabel="descripcion" bindValue="id_organismo_emisor" notFoundText="no se ha encontrado ningún item"
                (change)="validarOrganismoEmisor($event)" [(ngModel)]="OBJETO.id_organismo_emisor"
                id="id_organismo_emisor" name="id_organismo_emisor">
              </ng-select>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showOtroOrganismoEmisor">
              <label class="control-label"><span class="text-danger">(*)</span> Otro</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.otro_organismo_emisor"
                name="otro_organismo_emisor" id="otro_organismo_emisor" placeholder="Ingrese otro" />
            </div>
          </div>
          <div class="row form-group" *ngIf="showLicencia">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> ¿Aparece en el Sistema Nacional de
                Conductores?</label>
              <div style="height: 10%;">&nbsp;</div>
              <input [(ngModel)]="OBJETO.aparece_snc" id="siAparece" type="radio" name="aparece_snc" [value]="true">
              <label for="siAparece" class="mr-2">SI</label>

              <input [(ngModel)]="OBJETO.aparece_snc" id="noAparece" type="radio" name="aparece_snc" [value]="false">
              <label for="noAparece" class="mr-2">NO</label>
            </div>

          </div>
        </accordion-group>
        <accordion-group [isOpen]=true>
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left">5. DOSAJE ETILICO</div>
            <span class="badge float-right pull-right">
            </span>
          </button>
          <div class="row form-group">

            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Se sometio a dosaje etilico
                cualitativo</label>
              <div style="height: 10%;">&nbsp;</div>
              <input [(ngModel)]="OBJETO.dosaje_cualitativo" id="siDosajeCualitativo" type="radio"
                name="dosaje_cualitativo" [value]="true" (change)="validarDosajeEtilicoCualitativo(OBJETO.dosaje_cualitativo)">
              <label for="siDosajeCualitativo" class="mr-2">SI</label>

              <input [(ngModel)]="OBJETO.dosaje_cualitativo" id="noDosajeCualitativo" type="radio"
                name="dosaje_cualitativo" [value]="false" (change)="validarDosajeEtilicoCualitativo(OBJETO.dosaje_cualitativo)">
              <label for="noDosajeCualitativo" class="mr-2">NO</label>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showDosajeCualitativo">
              <label class="control-label"><span class="text-danger">(*)</span>  Hora de dosaje Cualitativo</label>
              <input  class="form-control"  type='text' [(ngModel)]="OBJETO.hora_dosaje_cualitativo"
                      name="hora_dosaje_cualitativo" id="hora_dosaje_cualitativo" placeholder="Ingrese hora"/>
              <!--<label class="control-label"><span class="text-danger">(*)</span>Hora:</label>

              <input [ngxTimepicker]="picker" [format]=24 class="form-control"
                (keypress)="funciones.validarHora($event);" placeholder="HH:MM" max="{{horaActual}}"
                formControlName="hora_registro" name="hora_registro" id="hora_registro">
              <ngx-material-timepicker #picker [cancelBtnTmpl]="CancelarBtn" [confirmBtnTmpl]="confirmBtn">
              </ngx-material-timepicker>
              <ng-template #CancelarBtn>
                <a class="btn btn-danger" style="margin-right: 10px;color: azure">Cancelar</a>
              </ng-template>
              <ng-template #confirmBtn>
                <a class="btn btn-primary" style="color: azure">Confirmar</a>
              </ng-template>
              <label class="control-label"><span class="text-danger">(*)</span> Hora de dosaje Cualitativo</label>
              <ng-select #horaDosajeCualitativo [items]="listaModalidadTransporte" placeholder="Seleccione"
                bindLabel="descripcion" bindValue="hora_dosaje_cualitativo"
                notFoundText="no se ha encontrado ningún item" [(ngModel)]="OBJETO.hora_dosaje_cualitativo"
                id="hora_dosaje_cualitativo" name="hora_dosaje_cualitativo">
              </ng-select>-->
            </div>

          </div>
          <div class="row form-group" *ngIf="showDosajeCualitativo">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Resultado de dosaje etilico
                cualitativo</label>
              <div style="height: 10%;">&nbsp;</div>
              <input  id="siResultadoDosaje" type="radio" [(ngModel)]="OBJETO.resultado_dosaje_cualitativo"
                name="resultado_dosaje_cualitativo" [value]="true">
              <label for="siResultadoDosaje" class="mr-2">Positivo</label>

              <input  id="noResultadoDosaje" type="radio" [(ngModel)]="OBJETO.resultado_dosaje_cualitativo"
                name="resultado_dosaje_cualitativo" [value]="false">
              <label for="noResultadoDosaje" class="mr-2">Negativo</label>
            </div>
          </div>
          <div class="row form-group" *ngIf="showDosajeCualitativo">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Lugar de Dosaje</label>
              <ng-select #tipoLugarDosaje [items]="listaLugarDosaje" placeholder="Seleccione" bindLabel="descripcion"
                bindValue="id_lugar_dosaje" notFoundText="no se ha encontrado ningún item"
                (change)="validarLugarDosaje($event)" [(ngModel)]="OBJETO.id_lugar_dosaje" id="id_lugar_dosaje"
                name="id_lugar_dosaje">
              </ng-select>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showOtroLugarDosaje">
              <label class="control-label"><span class="text-danger">(*)</span> Nombre del Lugar de Dosaje</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.otro_lugar_dosaje" name="otro_lugar_dosaje"
                id="otro_lugar_dosaje" placeholder="Ingrese otro" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Se sometio a dosaje etilico
                cuantitativo</label>
              <div style="height: 10%;">&nbsp;</div>
              <input [(ngModel)]="OBJETO.dosaje_cuantitativo" id="siDosajeCuantitativo" type="radio"
                name="dosaje_cuantitativo" [value]="true" (change)="validarDosajeEtilicoCuantitativo(OBJETO.dosaje_cuantitativo)">
              <label for="siDosajeCuantitativo" class="mr-2">SI</label>

              <input [(ngModel)]="OBJETO.dosaje_cuantitativo" id="noDosajeCuantitativo" type="radio"
                name="dosaje_cuantitativo" [value]="false" (change)="validarDosajeEtilicoCuantitativo(OBJETO.dosaje_cuantitativo)">
              <label for="noDosajeCuantitativo" class="mr-2">NO</label>
            </div>
          </div>
          <div class="row form-group" *ngIf="showDosajeCuantitativoNo" >
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Razón por la que no se sometio al
                dosaje</label>
              <ng-select #tipoRazonNoDosaje [items]="listaRazonNoDosaje" placeholder="Seleccione"
                bindLabel="descripcion" bindValue="id_razon_dosaje_cuantitativo" (change)="validarRazon(OBJETO.id_razon_dosaje_cuantitativo)"
                notFoundText="no se ha encontrado ningún item" [(ngModel)]="OBJETO.id_razon_dosaje_cuantitativo"
                id="id_razon_dosaje_cuantitativo" name="id_razon_dosaje_cuantitativo">
              </ng-select>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showOtroRazonDosaje">
              <label class="control-label"><span class="text-danger">(*)</span> Otro</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.otro_razon_dosaje_cuantitativo"
                name="otro_razon_dosaje_cuantitativo" id="otro_razon_dosaje_cuantitativo" placeholder="Ingrese otro"
                 />
            </div>
          </div>
          <div class="row form-group" *ngIf="showDosajeCuantitativoSi">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Hora de Dosaje Cuantitativo</label>
              <input  class="form-control"  type='text' [(ngModel)]="OBJETO.hora_dosaje_cuantitativo"
              name="hora_dosaje_cuantitativo" id="hora_dosaje_cuantitativo" placeholder="Ingrese hora"/>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Resultado de dosaje etilico
                cuantitativo</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.resultado_dosaje_cuantitativo"
                name="resultado_dosaje_cuantitativo" id="resultado_dosaje_cuantitativo" placeholder="N°" />
            </div>
          </div>
        </accordion-group>
        <accordion-group [isOpen]=true>
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left">6. OBSERVACIONES</div>
            <span class="badge float-right pull-right">
            </span>
          </button>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-12 col-xl-12">
              <textarea class="form-control" [(ngModel)]="OBJETO.observaciones" name="observaciones" id="observaciones"></textarea>
            </div>

          </div>
        </accordion-group>
      </div>
    </div>
  </accordion>

</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" (click)="Grabar()" id="btnGuardar"><i class="mdi mdi-content-save"></i>
    Guardar</button>
  <button class="btn btn-secondary btn-sm" id="btnTraCancelar" type="button" (click)="closeModal()">
    <i class="mdi mdi-close"></i> Cancelar</button>
</div>
