<div class="modal-header">
        <ng-container *ngIf="ACCION==1">
            <h4 class="modal-title">Nuevo Registro de Vehículo Involucrado </h4>
            <p class="pl-4 pr-4">Formulario para el registro de Vehículo Involucrado</p>
        </ng-container>
        <ng-container *ngIf="ACCION==2">
            <h4 class="modal-title">Edición de Vehículo Involucrado </h4>
            <p class="pl-4 pr-4">Formulario para actualizar información de Vehículo Involucrado</p>
        </ng-container>
  </div>
  <div class="modal-body">
    <div class="group-box">
        <form [formGroup]="formGroup" autocomplete="off" (ngSubmit)="Grabar()">
            <div class="row form-group">
                <div class="col-lg-3">
                        <label class="control-label" for="id_situacion_vehiculo"><span class="text-danger">(*)</span>Situación del Vehículo :</label>
                </div>
                <div class="col-lg-3">
                        <ng-select #situacionVehiculo [items]="listSituacionVehiculo" placeholder="Seleccione" bindLabel="descripcion"
                        bindValue="id_situacion_vehiculo" notFoundText="no se ha encontrado ningún item" (change)="validarCamposObligatorios($event)"
                        formControlName="id_situacion_vehiculo" id="id_situacion_vehiculo" name="id_situacion_vehiculo">
                        </ng-select>
                </div>
                <div class="col-lg-3">
                        <label class="control-label" for="id_tipo_vehiculo"><span *ngIf="showMostrarOblidatorio"  class="text-danger">(*)</span>Tipo de Vehículo :</label>
                </div>
                <div class="col-lg-3">
                        <ng-select #tipoVehiculo [items]="listTipoVehiculo" placeholder="Seleccione" bindLabel="descripcion"
                        bindValue="id_tipo_vehiculo" notFoundText="no se ha encontrado ningún item" (change)="validarTipoPlaca($event)"
                        formControlName="id_tipo_vehiculo" id="id_tipo_vehiculo" name="id_tipo_vehiculo">
                        </ng-select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-3">
                        <label class="control-label"><span class="text-danger" *ngIf="showMostrarOblidatorio">(*)</span>Placa :</label>
                </div>
                <div class="col-lg-3">
                    <input dTextBox class="form-control" type='text' id="placa_vehiculo_involucrado"
                        name="placa_vehiculo_involucrado" placeholder="Ingrese placa del vehículo"
                        formControlName="placa_vehiculo_involucrado" maxlength="7" oninput="this.value = this.value.toUpperCase()" />
                </div>
                <div class="col-lg-3" *ngIf="showPlacaRemolque">
                        <label class="control-label"><span *ngIf="showMostrarOblidatorio"  class="text-danger">(*)</span>Placa Remolque :</label>
                </div>
                <div class="col-lg-3" *ngIf="showPlacaRemolque">
                    <input dTextBox class="form-control" type='text' id="placa_remolque"
                        name="placa_remolque" placeholder="Ingrese placa del remolque"
                        formControlName="placa_remolque" maxlength="10" oninput="this.value = this.value.toUpperCase()" />
                </div> 
            </div>
            <div class="row form-group">
                    <div class="col-lg-3">
                            <label class="control-label" for="id_estado_soat"><span *ngIf="showMostrarOblidatorio"  class="text-danger">(*)</span> Estado SOAT
                              :</label>
                    </div>
                    <div class="col-lg-3">
                            <ng-select #tipoEstadoSoat [items]="listEstadoSoat" placeholder="Seleccione" bindLabel="descripcion"
                            bindValue="id_estado_soat" notFoundText="no se ha encontrado ningún item" (change)="validarNombreCompania($event)"
                            formControlName="id_estado_soat" id="id_estado_soat" name="id_estado_soat">
                            </ng-select>
                    </div>
                    <div class="col-lg-3" *ngIf="showMostrraNombreCompania">
                            <label class="control-label"><span *ngIf="showMostrarOblidatorio"  class="text-danger">(*)</span>Nombre de la compañía de SOAT
                              :</label>
                    </div>
                    <div class="col-lg-3" *ngIf="showMostrraNombreCompania">
                        <ng-select #tipoCompaniaSoat [items]="listNombreCompanias" (change)="validarOtroTipoCompania($event)" placeholder="Seleccione" bindLabel="descripcion" bindValue="id_compania_seguro"
                        notFoundText="no se ha encontrado ningún item"
                                formControlName="id_compania_seguro" id="id_compania_seguro" name="id_compania_seguro">
                        </ng-select>
                    </div> 
                
            </div>
            <div class="row form-group" *ngIf="ShowOtroCompaniaSOAT">
                <div class="col-lg-3">
                    <label class="control-label"><span *ngIf="showMostrarOblidatorio"  class="text-danger">(*)</span>Otra compañía de SOAT
                    :</label>
                </div>
                <div class="col-lg-3">
                        <input  class="form-control" formControlName="otro_compania_seguro" type='text' 
                        name="otro_compania_seguro" id="otro_compania_seguro" placeholder="Ingrese el otro compañía de SOAT"
                            />
                </div> 
            </div>
            <div class="row form-group">
                <div class="col-lg-3">
                    <label class="control-label" for="id_estado_citv"><span *ngIf="showMostrarOblidatorio"  class="text-danger">(*)</span>Estado de CITV
                      :</label>
                </div>
                <div class="col-lg-3">
                      <ng-select #tipoCitv [items]="listTipoCitv" placeholder="Seleccione" bindLabel="descripcion"
                       bindValue="id_estado_citv" notFoundText="no se ha encontrado ningún item"
                       formControlName="id_estado_citv" id="id_estado_citv" name="id_estado_citv">
                      </ng-select>
                </div>
                <!--<div class="col-lg-3">
                    <label class="control-label" for="id_servicio_transporte_persona"><span class="text-danger">(*)</span>Servicio de Transporte de Personas
                      :</label>
                </div>
                <div class="col-lg-3">
                      <ng-select #tipoServicioTransporte [items]="listTipoTransportePersonas" placeholder="Seleccione" bindLabel="descripcion"
                       bindValue="id_servicio_transporte_persona" notFoundText="no se ha encontrado ningún item"
                        formControlName="id_servicio_transporte_persona" id="id_servicio_transporte_persona" name="id_servicio_transporte_persona">
                      </ng-select>
                </div>-->
            </div>
            <!--<div class="row form-group">
                <div class="col-lg-3">
                    <label class="control-label" for="id_servicio_transporte_mercancia"><span class="text-danger">(*)</span>Servicio de Transporte Terrestre de Mercancias
                      :</label>
                </div>
                <div class="col-lg-3">
                      <ng-select #tipoMercancias [items]="listTransporteTerrestre" placeholder="Seleccione" bindLabel="descripcion"
                       bindValue="id_servicio_transporte_mercancia" notFoundText="no se ha encontrado ningún item"
                       formControlName="id_servicio_transporte_mercancia" id="id_servicio_transporte_mercancia" name="id_servicio_transporte_mercancia">
                      </ng-select>
                </div>
            </div>-->
            <!--<div class="row form-group">
                <div class="col-lg-3">
                    <label class="control-label" for="id_material_peligroso"><span class="text-danger">(*)</span>Autorización de Materiales Peligrosos
                      :</label>
                </div>
                <div class="col-lg-3">
                      <ng-select #tipoMaterialesPeligrosos [items]="listMaterialesPeligrosos" placeholder="Seleccione" bindLabel="descripcion"
                       bindValue="id_material_peligroso" notFoundText="no se ha encontrado ningún item"
                       formControlName="id_material_peligroso" id="id_material_peligroso" name="id_material_peligroso">
                      </ng-select>
                </div>
            </div>-->
            <!--<div class="row form-group">
                <div class="col-lg-3">
                    <label class="control-label" for="id_eventual_transporte_persona"><span class="text-danger">(*)</span>Permiso eventual para transporte de personas
                      :</label>
                </div>
                <div class="col-lg-3">
                    <ng-select #tipoPermisoEventual [items]="listPermisosTransporte" placeholder="Seleccione" bindLabel="descripcion"
                    bindValue="id_eventual_transporte_persona" notFoundText="no se ha encontrado ningún item"
                    formControlName="id_eventual_transporte_persona" id="id_eventual_transporte_persona" name="id_eventual_transporte_persona">
                   </ng-select>
                </div>
            </div>-->
            <div class="row form-group">
                <div class="col-lg-3">
                    <label class="control-label" for="id_modalidad_transporte"><span *ngIf="showMostrarOblidatorio"   class="text-danger">(*)</span>Modalidad de Transporte
                        :</label>
                </div>
                <div class="col-lg-3">
                        <ng-select #modalidadTransoprte [items]="listModalidadTransporte" placeholder="Seleccione" bindLabel="descripcion"
                        bindValue="id_modalidad_transporte" notFoundText="no se ha encontrado ningún item" (change)="validarOtraModalidadTransporte($event)"
                        formControlName="id_modalidad_transporte" id="id_modalidad_transporte" name="id_modalidad_transporte">
                        </ng-select>
                </div>
                <div class="col-lg-3" *ngIf="showOtraModalidad">
                        <label class="control-label"><span class="text-danger" *ngIf="showMostrarOblidatorio" >(*)</span>Otra Modalidad de Transporte:</label>
                </div>
                <div class="col-lg-3" *ngIf="showOtraModalidad">
                    <input dTextBox class="form-control" type='text' id="otro_modalidad_transporte"
                        name="otro_modalidad_transporte" placeholder="Ingrese otra modalidad de transporte"
                        formControlName="otro_modalidad_transporte"  />
                </div> 
            </div>
            <div class="row form-group">
                    <div class="col-lg-3">
                        <label class="control-label" for="id_estado_mod_transporte"><span *ngIf="showMostrarOblidatorio"  class="text-danger">(*)</span>Estado Modalidad
                          :</label>
                    </div>
                    <div class="col-lg-3">
                          <ng-select #estadoModalidad [items]="listEstadoModalidad" placeholder="Seleccione" bindLabel="descripcion"
                           bindValue="id_estado_mod_transporte" notFoundText="no se ha encontrado ningún item"
                           formControlName="id_estado_mod_transporte" id="id_estado_mod_transporte" name="id_estado_mod_transporte">
                          </ng-select>
                    </div>
                </div>
            <div class="row form-group">
                <div class="col-lg-3">
                    <label class="control-label" for="id_tarjeta_circulacion"><span class="text-danger" *ngIf="showMostrarOblidatorio" >(*)</span>Tarjeta de circulación
                      :</label>
                </div>
                <div class="col-lg-3">
                      <ng-select #tarjetaCirculacion [items]="listTarjetasCirculacion" placeholder="Seleccione" bindLabel="descripcion"
                       bindValue="id_tarjeta_circulacion" notFoundText="no se ha encontrado ningún item"
                       formControlName="id_tarjeta_circulacion" id="id_tarjeta_circulacion" name="id_tarjeta_circulacion">
                      </ng-select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-3">
                    <label class="control-label" ><span class="text-danger" *ngIf="showMostrarOblidatorio" >(*)</span>GPS SUTRAN:</label>
                </div>
                <div class="col-sm-6">
                    <input  formControlName="gps_sutran" (change)="envento($event,formGroup.get('gps_sutran').value)" id="corresponde" type="radio" name="gps_sutran" value="true" [checked]="vTipoCorresponde">
                    <label for="corresponde" class="mr-2">Corresponde</label>
        
                    <input formControlName="gps_sutran" (change)="envento($event,formGroup.get('gps_sutran').value)" id="noCorresponde" type="radio" name="gps_sutran" value="false" [checked]="!vTipoCorresponde"
                        >
                    <label for="noCorresponde" class="mr-2">No Corresponde</label>
                </div>
            </div>
            <div class="row form-group" *ngIf="showDatosSutran">
                <div class="col-lg-3">
                    <label class="control-label" for="id_tarjeta_circulacion"><span class="text-danger" *ngIf="showMostrarOblidatorio">(*)</span>Coordenada:</label>
                </div>
                <div class="col-lg-3">
                    <input  class="form-control" type='text' id="latitudgps"
                        name="latitud" placeholder="Ingrese latitud"
                        formControlName="latitud" (keypress)="funciones.validarLatitud($event);" />
                </div>
                <div class="col-lg-3">
                    <input  class="form-control" type='text' id="longitud"
                        name="longitud" placeholder="Ingrese longitud"
                        formControlName="longitud" (keypress)="funciones.validarLatitud($event);"/>
                </div>
            </div>
            <div class="row form-group" *ngIf="showDatosSutran" id="contenidoFecha">
                <div class="col-lg-3">
                    <label class="control-label" for="fecha_registro"><span class="text-danger" *ngIf="showMostrarOblidatorio">(*)</span>Fecha de registro:</label>
                </div>
                <div class="col-lg-3">
                        <input formControlName="fecha_registro" class="form-control" type='text' name="fecha_registro"
                        id="fecha_registro" placeholder="dd/mm/aaaa" bsDatepicker [minDate]="fechaRegistroAccidente" [maxDate]="fechaActual"
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', locale: 'es', containerClass: 'theme-red' }" />
                </div>
                
            </div>
            <div class="row form-group" *ngIf="showDatosSutran">
                <div class="col-lg-3">
                    <label class="control-label" for="hora_registro"><span class="text-danger" *ngIf="showMostrarOblidatorio">(*)</span> Hora de registro:</label>
                </div>
                <div class="col-lg-3">
                    <!--<timepicker formControlName="hora_registro" (keypress)="funciones.IsNumberKey($event);" name="hora_registro" id="hora_registro"
                    [showMeridian]="isMeridian" [showSpinners]="showSpinners" aria-placeholder="00"></timepicker>-->

                    <input [ngxTimepicker]="picker" [format]=24 class="form-control" (keypress)="funciones.validarHora($event);" placeholder="HH:MM" formControlName="hora_registro" name="hora_registro" id="hora_registro">
                        <ngx-material-timepicker #picker [cancelBtnTmpl]="CancelarBtn" [confirmBtnTmpl]="confirmBtn"></ngx-material-timepicker>
                        <ng-template #CancelarBtn>
                            <a  class="btn btn-danger" style="margin-right: 10px; color: azure">Cancelar</a>
                        </ng-template>
                        <ng-template #confirmBtn>
                            <a class="btn btn-primary" style="color: azure" >Confirmar</a>
                        </ng-template>
                </div>
            </div>
            <div class="row form-group">
                <br><br>
            </div>
            
        

                
      
            
      
    
            <span class="comentario">(*)Campos Obligatorios</span>
      
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" type="submit" id="btnGuardar" 
                *hasClaim="'accidente_transito_detalle_accidente_vehiculo_involucrado_guardar'"
                ><i class="mdi mdi-content-save"></i> Guardar</button>
                <button class="btn btn-secondary btn-sm" id="btnTraCancelar" type="button" (click)="closeModal()">
                    <i class="mdi mdi-close"></i> Cancelar</button>
            </div>
      
          </form>
    </div>
  </div>
  
  
  
