

<div class="modal-header">
        <ng-container *ngIf="ACCION==1">
            <h4 class="modal-title">Nuevo Registro de Situación de la Vía </h4>
            <p class="pl-4 pr-4">Formulario para el registro de Situación de la Vía</p>
        </ng-container>
        <ng-container *ngIf="ACCION==2">
            <h4 class="modal-title">Edición de Situación de la Vía </h4>
            <p class="pl-4 pr-4">Formulario para actualizar información de Situación de la Vía</p>
        </ng-container>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" autocomplete="off" (ngSubmit)="Grabar()">
        <div class="row form-group">
            <div class="col-lg-3">
                <label class="control-label" for="id_tipo_transitabilidad"><span class="text-danger">(*)</span>Transitabilidad:</label>
            </div>
            <div class="col-lg-3">
                    <ng-select #tipoTransitabilidad [items]="listaTransitabilidad" placeholder="Seleccione" bindLabel="descripcion"
                    bindValue="id_tipo_transitabilidad" notFoundText="no se ha encontrado ningún item"
                    formControlName="id_tipo_transitabilidad" id="id_tipo_transitabilidad" name="id_tipo_transitabilidad">
                    </ng-select>
            </div>
            <div class="col-lg-3">
                <label class="control-label" for="id_tipo_via"><span class="text-danger">(*)</span>Tipo de Via :</label>
            </div>
            <div class="col-lg-3">
                    <ng-select #tipoVia [items]="listaTipoVia" placeholder="Seleccione" bindLabel="descripcion"
                    bindValue="id_tipo_via" notFoundText="no se ha encontrado ningún item"
                    formControlName="id_tipo_via" id="id_tipo_via" name="id_tipo_via" (change)="validarOtroTipoVia($event)">
                    </ng-select>
            </div>
        </div>
        <div class="row form-group" *ngIf="ShowOtroTipoVia">
            <div class="col-lg-3">
                <label class="control-label" for="id_tipo_zona"><span class="text-danger">(*)</span>Otro Tipo de Vía :</label>
            </div>
            <div class="col-lg-3">
                    <input  class="form-control" formControlName="otro_tipo_via" type='text' 
                    name="otro_tipo_via" id="otro_tipo_via" placeholder="Ingrese el otro tipo de vía"
                        />   
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-3">
                <label class="control-label" for="id_tipo_zona"><span class="text-danger">(*)</span> Zona Urbana / Zonal :</label>
            </div>
            <div class="col-lg-3">
                    <ng-select #tipoZona [items]="listaZona" placeholder="Seleccione" bindLabel="descripcion"
                    bindValue="id_tipo_zona" notFoundText="no se ha encontrado ningún item"
                    formControlName="id_tipo_zona" id="id_tipo_zona" name="id_tipo_zona">
                    </ng-select>
            </div>
        </div>
        <span class="comentario">(*)Campos Obligatorios</span>
        
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm" type="submit" id="btnGuardar"
            ><i class="mdi mdi-content-save"></i> Guardar</button>
            <button class="btn btn-secondary btn-sm" id="btnTraCancelar" type="button" (click)="closeModal()">
                <i class="mdi mdi-close"></i> Cancelar</button>
        </div>
        
    </form>
  </div>


    
    
    
    

