
<div class="row">
        <div class="col-12 container-scroll">
          <table class="table xs-hidden table-bordered">
            <thead>
                    
              <tr>
                <th rowspan="2">ID</th>
                <th rowspan="2">DESTINO (IPRESS)</th>
                <th rowspan="2">LESIONADO</th>
                <th rowspan="2">ESTADO INICIAL</th> 
                <th rowspan="2">SITUACIÓN LESIONADO</th> 
                <th colspan="2">EGRESO AL HOSPITAL</th> 
                <th rowspan="2">ESTADO FINAL</th> 
                <th rowspan="2">LUGAR DERIVACIÓN</th> 
                <th rowspan="2">ACCIONES</th>
              </tr>
              <tr>
                    <th>FECHA</th>
                    <th >HORA</th>
              </tr>
              
            </thead>
            <tbody *ngFor="let item of listaPacientesLesionados; let i = index"> 
              <tr>
                <td class="text-center xs-hidden">{{ i + 1 }}</td>
                <td class="text-center xs-hidden">{{ item.ipress }}</td>
                <td class="text-center xs-hidden">{{item.nombre_lesionado}} {{item.apellido_pat_lesionado}} {{item.apellido_mat_lesionado}}</td>
                <td class="text-center xs-hidden">{{ item.estadoinicialatencion }}</td>
                <td class="text-center xs-hidden">{{ item.situacionlesionado }}</td>
                <td class="text-center xs-hidden">{{ item.fecha_egreso_hospital | date:'dd/MM/yyyy'}}</td>
                <td class="text-center xs-hidden">{{ item.hora_egreso_hospital }}</td>
                <td class="text-center xs-hidden">{{ item.atencionfinal }}</td>
                <td class="text-center xs-hidden">{{ item.lugar_derivacion }}</td>

                <td class="xs-footer-lista" > <!--[hidden]=!bEstado-->
                  <div class="text-center xs-hidden">
                        <span (click)="openEditarEvolucion(item)" style="cursor: pointer;" tooltip="Editar Evolución" 
                        *hasClaim="'accidente_transito_seguimiento_evolucion_editar'">
                                <i class="mdi mdi-pencil"></i>
                        </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="card xs-display" *ngFor="let item of listaPacientesLesionados; let i = index">
            <div class="p-3">
                <div><b>Nro: </b>{{ i + 1 }}</div>
                <div><b>DESTINO (IPRESS): </b>{{ item.ipress }}</div>
                <div><b>LESIONADO</b>{{item.nombre_lesionado}} {{item.apellido_pat_lesionado}} {{item.apellido_mat_lesionado}}</div>
                <div><b>ESTADO INICIAL: </b>{{ item.estadoinicialatencion }}</div>
                <div><b>SITUACIÓN LESIONADO: </b>{{ item.situacionlesionado }}</div>
                <div><b>FECHA EGRESO AL HOSPITAL: </b>{{ item.fecha_egreso_hospital }}</div>
                <div><b>HORA EGRESO AL HOSPITAL: </b>{{ item.hora_egreso_hospital }}</div>
                <div><b>ESTADO FINAL: </b>{{ item.atencionfinal }}</div>
                <div><b>LUGAR DERIVACIÓN: </b>{{ item.lugar_derivacion }}</div>
            </div>
            <div class="xs-footer-lista text-right">
                <span class="btn-icon ml-1" (click)="openEditarEvolucion(item)"  tooltip="Editar" 
                *hasClaim="'accidente_transito_seguimiento_evolucion_editar'"><i class="fa fa-pencil" style="color:#5D6D7E;"></i></span> 
                
            </div>
          </div>
        </div>
        <div class="col-12">
          <nav class="pt-4 pl-3 float-right">
            <pagination [totalItems]="totalRegistros" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;"
              [rotate]="false" firstText="&laquo;" lastText="&raquo;" [itemsPerPage]="numPaginasMostrar"
              (pageChanged)="cambiarPagina($event)">
            </pagination>
          </nav>
        </div>
    </div>
