<app-header></app-header>
<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content">
        <div class="container-componentes">
            <div class="container-fluid pt-4">
                <h6><small style="color:#D32E2F"><b>CÓDIGO ACCIDENTE : </b></small> {{ codigoAccidente }}</h6>
                <br>
                <ul class="nav nav-pills" role="tablist" id="nav-tab">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" role="tab" href="#nav-informacion-general"
                         aria-controls="nav-informacion-general" aria-selected="true"
                          routerLink="detalle-accidente" routerLinkActive="active"><b> DETALLE</b></a>
                    </li>
                    <!-- <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" role="tab" aria-controls="nav-informacion-general"
                             aria-selected="false" routerLink="situacion-via"
                              routerLinkActive="active"><b>SITUACIÓN VIA</b></a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" role="tab" aria-controls="nav-informacion-general"
                         aria-selected="false" routerLink="primera-atencion"
                          routerLinkActive="active"><b>ATENCIÓN</b></a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" data-toggle="pill" role="tab" aria-controls="nav-informacion-general"
                         aria-selected="false" routerLink="segunda-atencion"
                          routerLinkActive="active"><b>ATENCIÓN  N° 2</b></a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" role="tab" aria-controls="nav-informacion-general"
                         aria-selected="false" routerLink="seguimiento"
                          routerLinkActive="active"><b>SEGUIMIENTO</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" role="tab" aria-controls="nav-informacion-general"
                         aria-selected="false" routerLink="furat"
                          routerLinkActive="active"><b>FURAT</b></a>
                    </li>

                </ul>
            </div>
            <div class="container-fluid m-0">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane tab-pane-border fade show active" id="nav-informacion-general" role="tabpanel" aria-labelledby="nav-informacion-general">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
