<accordion>
        <div class="row">
          <div class="col-12">
            <accordion-group [isOpen]="true" [panelClass]="separator">
              <button class="btn btn-link btn-block clearfix" accordion-heading>
                <div class="pull-left float-left header-limitado">1. ATENCIÓN SECUNDARIA DEL ACCIDENTE</div>
                <span class="badge float-right pull-right">
                    <!--<i class="material-icons arrow"></i>-->
                </span>
              </button>
              <app-atencion-secundaria></app-atencion-secundaria>
            </accordion-group>
          </div>
        </div>
        
</accordion>
