<div class="row form-group"> 
    <div class="col-12">
        <button class="btn pull-left ml-1 btn-primary btn-sm" *hasClaim="'accidente_transito_detalle_accidente_vehiculo_involucrado_nuevo'" (click)="openModalNuevoVehiculo()">
            <i class="mdi mdi-plus"></i> Nuevo
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 container-scroll">
      <table class="table table-bordered xs-hidden">
        <thead>
          <tr>
            <th>ID</th>
            <th>SITUACIÓN VEHÍCULO</th>
            <th>PLACA</th>
            <th>PLACA REMOLQUE</th>
            <th>TIPO VEHICULO</th>
            <th>ESTADO SOAT</th>
            <th>ESTADO CITV</th>
            <th >Acciones</th> <!--[hidden]=!bEstado-->
          </tr>
        </thead>
        <tbody *ngFor="let item of listaVehiculosInvolucrados; let i = index"> 
          <tr>
            <td class="text-center xs-hidden">{{ i + 1 }}</td>
            <td class="text-center xs-hidden">{{item.situacionvehiculo}}</td>
            <td class="text-center xs-hidden">{{item.placa_vehiculo_involucrado}}</td>
            <td class="text-center xs-hidden">{{item.placa_remolque}}</td>
            <td class="text-center xs-hidden">{{ item.tipovehiculo }}</td>
            <td class="text-center xs-hidden">{{ item.estadosoat }}</td>
            <td class="text-center xs-hidden">{{item.estadocitv}}</td>
            <td class="xs-footer-lista" > <!--[hidden]=!bEstado-->
              <div class="text-center xs-hidden">
                    <span (click)="openEditarVehiculo(item)"  style="cursor: pointer;" tooltip="Editar" 
                    *hasClaim="'accidente_transito_detalle_accidente_vehiculo_involucrado_editar'">
                            <i class="mdi mdi-pencil"></i>
                    </span>
                    <span (click)="anularVehiculo(item)" style="cursor: pointer;" tooltip="Eliminar Vehículo" 
                    *hasClaim="'accidente_transito_detalle_accidente_vehiculo_involucrado_eliminar'">
                            <i class="mdi mdi-delete-outline" style="color:#5D6D7E;"></i>
                    </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="card xs-display" *ngFor="let item of listaVehiculosInvolucrados; let i = index">
        <div class="p-3">
            <div><b>Nro: </b>{{ i + 1 }}</div>
            <div><b>SITUACIÓN VEHÍCULO</b>{{item.situacionvehiculo}}</div>
            <div><b>PLACA</b>{{item.placa_vehiculo_involucrado}}</div>
            <div><b>PLACA REMOLQUE</b>{{item.placa_remolque}}</div>
            <div><b>TIPO VEHICULO: </b>{{ item.tipovehiculo }}</div>
            <div><b>ESTADO SOAT: </b>{{ item.estadosoat }}</div>
            <div><b>ESTADO CITV: </b>{{ item.estadocitv}}</div>
        </div>
        <div class="xs-footer-lista text-right">
            <span class="btn-icon ml-1" (click)="openEditarVehiculo(item)"  tooltip="Editar" 
            *hasClaim="'accidente_transito_detalle_accidente_vehiculo_involucrado_editar'"><i class="fa fa-pencil" style="color:#5D6D7E;"></i></span> 
            <span class="btn-icon ml-1" (click)="anularVehiculo(item)"  tooltip="Eliminar" 
            *hasClaim="'accidente_transito_detalle_accidente_vehiculo_involucrado_eliminar'"><i class="fa fa-trash" style="color:#5D6D7E;"></i></span>    
        </div>
      </div>
    </div>
    <div class="col-12">
      <nav class="pt-4 pl-3 float-right">
        <pagination [totalItems]="totalRegistros" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;"
          [rotate]="false" firstText="&laquo;" lastText="&raquo;" [itemsPerPage]="numPaginasMostrar"
          (pageChanged)="cambiarPagina($event)">
        </pagination>
      </nav>
    </div>
</div>
