<div class="modal-header">
  <ng-container *ngIf="ACCION==1">
    <h4 class="modal-title">Nuevo Vehículo - FURAT </h4>
    <p class="pl-4 pr-4">Formulario para el registro del Vehículo - FURAT</p>
  </ng-container>
  <ng-container *ngIf="ACCION==2">
    <h4 class="modal-title">Edición de Vehículo - FURAT </h4>
    <p class="pl-4 pr-4">Formulario para actualizar información de Vehículo - FURAT</p>
  </ng-container>
</div>
<div class="modal-body">
  <accordion class="acordion-normal">
    <div class="row">
      <div class="col-12">
        <accordion-group [isOpen]=true>
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left">1. DATOS DEL VEHÍCULO</div>
            <span class="badge float-right pull-right">
            </span>
          </button>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Situación del Vehículo</label>
              <ng-select #situacionVehiculo [items]="listaSituacionVehiculo" placeholder="Seleccione"
                bindLabel="descripcion" bindValue="id_situacion_vehiculo" notFoundText="no se ha encontrado ningún item"
                [(ngModel)]="OBJETO.id_situacion_vehiculo" id="id_situacion_vehiculo" name="id_situacion_vehiculo"
                disabled>
              </ng-select>
            </div>

          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Número de Placa</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.placa_vehiculo_involucrado"
                name="placa_vehiculo_involucrado" id="placa_vehiculo_involucrado" placeholder="Placa" disabled />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> País de registro del vehículo</label>
              <div style="height: 10%;">&nbsp;</div>
              <input [(ngModel)]="OBJETO.es_peruano" (change)="envento(OBJETO.es_peruano)" id="siPeruano" type="radio"
                name="es_peruano" [value]="true">
              <label for="siPeruano" class="mr-2">Perú</label>

              <input [(ngModel)]="OBJETO.es_peruano" (change)="envento(OBJETO.es_peruano)" id="noPeruano" type="radio"
                name="es_peruano" [value]="false">
              <label for="noPeruano" class="mr-2">Otro</label>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showOtroPais">
              <label class="control-label"><span class="text-danger">(*)</span> Otro País</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.otro_pais" name="otro_pais" id="otro_pais"
                placeholder="otro país" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-5 col-xl-5">
              <label class="control-label"><span class="text-danger">(*)</span> Cantidad de Pasajeros y Ocupantes
                :</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.numero_pas_ocupante" placeholder="N°"
                (keypress)="funciones.IsNumberKey($event);" name="numero_pas_ocupante" id="numero_pas_ocupante"
                maxlength="3" />
            </div>
            <div class="col-sm-12 col-lg-2 col-xl-2" >
              <div style="height: 40%;">&nbsp;</div>
              <button type="button" id="btnValidar" class="btn pull-left ml-1 btn-success"
                >
                Validar
              </button>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Indicar el RUC o el DNI del propietario
                legal del vehículo :</label>
              <ng-select #tipoDocumento [items]="listaTipoDocumento" placeholder="Seleccione" bindLabel="descripcion"
                bindValue="id_tipo_documento" notFoundText="no se ha encontrado ningún item"
                (change)="validarDocumento($event)" [(ngModel)]="OBJETO.id_tipo_documento" id="id_tipo_documento"
                name="id_tipo_documento">
              </ng-select>
            </div>

            <div class="col-sm-12 col-lg-4 col-xl-4">
              <label class="control-label"><span class="text-danger">(*)</span> Documento :</label>
              <input class="form-control" type='text' placeholder="N°" (keypress)="funciones.IsNumberKey($event);"
                name="numero_documento" id="numero_documento" [(ngModel)]="OBJETO.numero_documento"
                maxlength="{{numCantidad}}" />

            </div>
            <div class="col-sm-12 col-lg-2 col-xl-2" *ngIf="showConsultarReniec">
              <div style="height: 40%;">&nbsp;</div>
              <button type="button" id="btnConsultar" class="btn pull-left ml-1 btn-success"
                (click)="validarInformacionReniec()">
                Consultar
              </button>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-4 col-xl-4">
              <label class="control-label"><span class="text-danger">(*)</span> Nombre del propietario legal :</label>
              <input class="form-control" type='text' placeholder="Nombre Propietario" name="nombre_propietario"
                id="nombre_propietario" [(ngModel)]="OBJETO.nombre_propietario" />
            </div>
            <div class="col-sm-12 col-lg-4 col-xl-4">
              <label class="control-label"><span class="text-danger">(*)</span> Apellido Paterno del propietario legal
                :</label>
              <input class="form-control" type='text' placeholder="Apellido Paterno" name="ap_paterno_propietario"
                id="ap_paterno_propietario" [(ngModel)]="OBJETO.ap_paterno_propietario" />

            </div>
            <div class="col-sm-12 col-lg-4 col-xl-4">
              <label class="control-label"><span class="text-danger">(*)</span> Apellido Materno del propietario legal
                :</label>
              <input class="form-control" type='text' placeholder="Apellido Materno" name="ap_materno_propietario"
                id="ap_materno_propietario" [(ngModel)]="OBJETO.ap_materno_propietario" />

            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Clase del Vehículo :</label>
              <ng-select #TipoClaseVehiculo [(ngModel)]="OBJETO.id_tipo_vehiculo" [clearable]="true"
                [items]="listaClaseVehiculo" placeholder="Seleccione" bindLabel="descripcion"
                bindValue="id_tipo_vehiculo" notFoundText="no se ha encontrado ningún item" id="id_tipo_vehiculo"
                name="id_tipo_vehiculo" disabled>
              </ng-select>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showotraClaseVehiculo">
              <label class="control-label"><span class="text-danger">(*)</span> Otro :</label>
              <input class="form-control" [(ngModel)]="OBJETO.otro_tipo_vehiculo" type='text' placeholder="Otro tipo"
                name="otro_tipo_vehiculo" id="otro_tipo_vehiculo" disabled />

            </div>
          </div>
          <div class="row form-group" *ngIf="showRemolque">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Remolcado N° 1 :</label>
              <input class="form-control" [(ngModel)]="OBJETO.placa_remolque" type='text' placeholder="N°"
                name="placa_remolque" id="placa_remolque" disabled />
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Remolcado N° 2 :</label>
              <input class="form-control" type='text' placeholder="N°" [(ngModel)]="OBJETO.placa_remolque2"
                name="placa_remolque2" id="placa_remolque2" disabled />

            </div>
          </div>





        </accordion-group>
        <accordion-group [isOpen]=true>
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left">2. SOBRE TRANSPORTE</div>
            <span class="badge float-right pull-right">
            </span>
          </button>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Modalidad de Transporte</label>
              <ng-select #tipoModalidadTransporte [items]="listaModalidadTransporte" placeholder="Seleccione"
                bindLabel="descripcion" bindValue="id_modalidad_transporte"
                notFoundText="no se ha encontrado ningún item" [(ngModel)]="OBJETO.id_modalidad_transporte"
                id="id_modalidad_transporte" name="id_modalidad_transporte" disabled>
              </ng-select>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showOtraModalidad">
              <label class="control-label"><span class="text-danger">(*)</span> Otro</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.otro_modalidad_transporte"
                name="otro_modalidad_transporte" id="otro_modalidad_transporte" placeholder="Ingrese otro" disabled />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Elemento Transportado</label>
              <ng-select #tipoElementoTransportado [items]="listaElementoTransportado" placeholder="Seleccione"
                bindLabel="descripcion" bindValue="id_elemento_transportado"
                notFoundText="no se ha encontrado ningún item" [(ngModel)]="OBJETO.id_elemento_transportado"
                id="id_elemento_transportado" name="id_elemento_transportado">
              </ng-select>

            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Clasificación del Transporte</label>
              <ng-select #tipoClasificacionTransporte [items]="listaClasificacionTransporte" placeholder="Seleccione"
                bindLabel="descripcion" bindValue="id_clasificacion_transporte"
                notFoundText="no se ha encontrado ningún item" [(ngModel)]="OBJETO.id_clasificacion_transporte"
                id="id_clasificacion_transporte" name="id_clasificacion_transporte">
              </ng-select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> RUC :</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.ruc_empresa" placeholder="ruc"
                (keypress)="funciones.IsNumberKey($event);" name="ruc_empresa" id="ruc_empresa" maxlength="11" />
            </div>
            <div class="col-sm-12 col-lg-2 col-xl-2">
              <div style="height: 40%;">&nbsp;</div>
              <button type="button" id="btnConsultarSunat" class="btn pull-left ml-1 btn-success"
                (click)="validarInformacionSunat()">
                Consultar
              </button>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Razón Social :</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.razon_social" placeholder="razon social"
                name="razon_social" id="razon_social" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Ámbito de servicio</label>
              <ng-select #tipoAmbitoServicio [items]="listaAmbitoServicio" placeholder="Seleccione"
                bindLabel="descripcion" bindValue="id_ambito_servicio" notFoundText="no se ha encontrado ningún item"
                [(ngModel)]="OBJETO.id_ambito_servicio" id="id_ambito_servicio" name="id_ambito_servicio">
              </ng-select>
            </div>
          </div>
        </accordion-group>
        <accordion-group [isOpen]=true>
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left">3. CERTIFICADO DE SEGUROS CONTRA ACCIDENTES</div>
            <span class="badge float-right pull-right">
            </span>
          </button>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> ¿Porta el certificado contra
                accidentes?</label>
              <ng-select #tipoPortaCertificadoSoat [items]="listaPortaSoat" placeholder="Seleccione"
                bindLabel="descripcion" bindValue="id_porta_soat" notFoundText="no se ha encontrado ningún item"
                [(ngModel)]="OBJETO.id_porta_soat" id="id_porta_soat" name="id_porta_soat">
              </ng-select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> ¿Posee?</label>
              <ng-select #tipoPoseeSoat [items]="listaPoseeSoat" placeholder="Seleccione" bindLabel="descripcion"
                bindValue="id_posee_soat" notFoundText="no se ha encontrado ningún item"
                [(ngModel)]="OBJETO.id_posee_soat" id="id_posee_soat" name="id_posee_soat">
              </ng-select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> ¿ Está Vigente?</label>
              <ng-select #tipoVigenteSoat [items]="listaVigenteSoat" placeholder="Seleccione" bindLabel="descripcion"
                bindValue="id_vigente_soat" notFoundText="no se ha encontrado ningún item"
                [(ngModel)]="OBJETO.id_vigente_soat" id="id_vigente_soat" name="id_vigente_soat">
              </ng-select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Tipo de Seguro</label>
              <ng-select #tipoSeguro [items]="listaTipoSeguro" placeholder="Seleccione" bindLabel="descripcion"
                bindValue="id_tipo_seguro" notFoundText="no se ha encontrado ningún item"
                (change)="validarTipoSeguro($event)" [(ngModel)]="OBJETO.id_tipo_seguro" id="id_tipo_seguro"
                name="id_tipo_seguro">
              </ng-select>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showOtroSeguro">
              <label class="control-label"><span class="text-danger">(*)</span> Otro</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.otro_tipo_seguro" name="otro_tipo_seguro"
                id="otro_tipo_seguro" placeholder="Ingrese nombre" />
            </div>
          </div>
        </accordion-group>
        <accordion-group [isOpen]=true>
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left">4. CERTIFICADO DE INSPECCIÓN TÉCNICA VEHICULAR</div>
            <span class="badge float-right pull-right">
            </span>
          </button>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> ¿Porta el certificado de inspección
                vehicular?</label>
              <ng-select #tipoCertificado [items]="listaPortaCitv" placeholder="Seleccione" bindLabel="descripcion"
                bindValue="id_porta_citv" notFoundText="no se ha encontrado ningún item"
                [(ngModel)]="OBJETO.id_porta_citv" id="id_porta_citv" name="id_porta_citv">
              </ng-select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> ¿Posee?</label>
              <ng-select #tipoPoseeCitv [items]="listaPoseeCitv" placeholder="Seleccione" bindLabel="descripcion"
                bindValue="id_posee_citv" notFoundText="no se ha encontrado ningún item"
                [(ngModel)]="OBJETO.id_posee_citv" id="id_posee_citv" name="id_posee_citv">
              </ng-select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> ¿ Está Vigente?</label>
              <ng-select #tipoVigenteCitv [items]="listaVigenteCitv" placeholder="Seleccione" bindLabel="descripcion"
                bindValue="id_vigente_citv" notFoundText="no se ha encontrado ningún item"
                [(ngModel)]="OBJETO.id_vigente_citv" id="id_vigente_citv" name="id_vigente_citv">
              </ng-select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Describe las observaciones del Certificado, en caso hubiesen:</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.observaciones_citv" name="observaciones_citv"
                id="observaciones_citv" placeholder="Observaciones" />
            </div>
          </div>
        </accordion-group>
        <accordion-group [isOpen]=true>
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left">5. LUGAR DE IMPACTO SOBRE EL VEHICULO</div>
            <span class="badge float-right pull-right">
            </span>
          </button>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Lugar de Impacto</label>
              <ng-select #tipoLugarImpacto [items]="listaLugarImpacto" placeholder="Seleccione" bindLabel="descripcion"
                bindValue="id_lugar_impacto" notFoundText="no se ha encontrado ningún item"
                [(ngModel)]="OBJETO.id_lugar_impacto" id="id_lugar_impacto" name="id_lugar_impacto">
              </ng-select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Lugar de Impacto Menores</label>
              <ng-select #tipoLugarImpactoMenores [items]="listaLugarImpactoMenores" placeholder="Seleccione"
                bindLabel="descripcion" bindValue="id_lugar_impacto_menores"
                notFoundText="no se ha encontrado ningún item" [(ngModel)]="OBJETO.id_lugar_impacto_menores"
                id="id_lugar_impacto_menores" name="id_lugar_impacto_menores">
              </ng-select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Descripción de los daños</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.descripcion_danios" name="descripcion_danios"
                id="descripcion_danios" placeholder="Descripción de los daños" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
              <label class="control-label"><span class="text-danger">(*)</span> Descripción de los daños materiales:</label>
              <input class="form-control" type='text' [(ngModel)]="OBJETO.observaciones" name="observaciones"
                id="observaciones" placeholder="Observaciones" />
            </div>
          </div>
        </accordion-group>

      </div>
    </div>
  </accordion>

</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" (click)="Grabar()" id="btnGuardar"><i class="mdi mdi-content-save"></i>
    Guardar</button>
  <button class="btn btn-secondary btn-sm" id="btnTraCancelar" type="button" (click)="closeModal()">
    <i class="mdi mdi-close"></i> Cancelar</button>
</div>
