<div class="modal-header">
    <div class="modal-title">
        <h4>Dibujar Mapa</h4>
    </div>
</div>
<div class="modal-body">
    <div style="width:100%; height:500px;" id="map_"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="guardar()" type="submit" id="btnGuardar"
    ><i class="mdi mdi-content-save"></i> Guardar</button>
    <button class="btn btn-secondary btn-sm" id="btnTraCancelar" type="button" (click)="closeModal()">
    <i class="mdi mdi-close"></i> Cancelar</button>
</div>
