
<div class="modal-header">
        <ng-container *ngIf="ACCION==1">
            <h4 class="modal-title">Nuevo Registro de la Evolución de los pacientes lesionados </h4>
            <p class="pl-4 pr-4">Formulario para el registro de la información de la Evolución de los pacientes lesionados</p>
        </ng-container>
        <ng-container *ngIf="ACCION==2">
            <h4 class="modal-title">Edición de la Evolución de los pacientes lesionados </h4>
            <p class="pl-4 pr-4">Formulario para actualizar información de la Evolución de los pacientes lesionados</p>
        </ng-container>
    </div>
    <div class="modal-body">
    <form [formGroup]="formGroup"  autocomplete="off" (ngSubmit)="Grabar()">
        
        <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
                <label class="control-label"><span class="text-danger">(*)</span> Destino</label>
                <input  class="form-control" formControlName="ipress" type='text' 
                        name="ipress" id="ipress" placeholder="Ingrese el Destino"/>
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6">
                <label class="control-label"><span class="text-danger">(*)</span> Lesionado</label> 
                <input  class="form-control" formControlName="lesionado" type='text' 
                    name="lesionado" id="lesionado" placeholder="Ingrese al Lesionado"/> 
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
                <label class="control-label"><span class="text-danger">(*)</span> Situación Inicial</label>
                <input  class="form-control" formControlName="estadoinicialatencion" type='text' 
                        name="estadoinicialatencion" id="estadoinicialatencion" placeholder="Ingrese la Situación Inicial"/>
            </div>
            
        </div>
        <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
                <label class="control-label"><span class="text-danger">(*)</span> Situación Lesionado</label>
                <ng-select [items]="listaSituacionLesionado" #ddlTipoSituacionLesionado formControlName="id_situacion_lesionado" placeholder="Seleccione"
                bindLabel="descripcion" bindValue="id_situacion_lesionado"
                    notFoundText="no se ha encontrado ningún item" id="id_situacion_lesionado"name="id_situacion_lesionado" (change)="ValidarEstadoFinal($event)">
                </ng-select>  
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6">
                <label class="control-label"><span class="text-danger">(*)</span> Estado Final</label> 
                <ng-select [items]="listaEstadoFinal" #ddlEstadoFinal formControlName="id_estado_final_atencion" placeholder="Seleccione"
                bindLabel="descripcion" bindValue="id_estado_final_atencion"
                    notFoundText="no se ha encontrado ningún item" id="id_estado_final_atencion"name="id_estado_final_atencion">
                </ng-select>  
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
                <label class="control-label"><span class="text-danger">(*)</span> Fecha de Egreso Hospital</label>
                <input formControlName="fecha_egreso_hospital" class="form-control" type='text' name="fecha_egreso_hospital"
                        id="fecha_egreso_hospital" placeholder="dd/mm/aaaa" bsDatepicker [minDate]="fechaRegistroAccidente"
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', locale: 'es', containerClass: 'theme-red' }" />
            </div>
            <div class="col-sm-12 col-lg-6 col-xl-6">
                <label class="control-label"><span class="text-danger">(*)</span> Hora de Egreso Hospital</label> 
                <input [ngxTimepicker]="picker" [format]=24 class="form-control" (keypress)="funciones.validarHora($event);" placeholder="HH:MM" formControlName="hora_egreso_hospital" name="hora_egreso_hospital" id="hora_egreso_hospital">
                        <ngx-material-timepicker #picker [cancelBtnTmpl]="CancelarBtn" [confirmBtnTmpl]="confirmBtn"></ngx-material-timepicker>
                        <ng-template #CancelarBtn>
                            <a  class="btn btn-danger" style="margin-right: 10px; color: azure">Cancelar</a>
                        </ng-template>
                        <ng-template #confirmBtn>
                            <a class="btn btn-primary" style="color: azure" >Confirmar</a>
                        </ng-template>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12 col-lg-6 col-xl-6">
                <label class="control-label">Lugar de derivación </label>
                <input  class="form-control" formControlName="lugar_derivacion" type='text' 
                        name="lugar_derivacion" id="lugar_derivacion" placeholder="Lugar de derivación"/>
            </div>  
        </div>
        
        
    
        
    
    
    
        <span class="comentario">(*)Campos Obligatorios</span>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm" type="submit" id="btnGuardar" 
            *hasClaim="'accidente_transito_seguimiento_evolucion_guardar'"
                ><i class="mdi mdi-content-save"></i> Guardar</button>
            <button class="btn btn-secondary btn-sm" id="btnTraCancelar" type="button" (click)="closeModal()">
                <i class="mdi mdi-close"></i> Cancelar</button>
        </div>
    </form>
    </div>
    
    
