.btnObraFase {
    position: relative;
    display: inline-block;
  }
  .btnObraFase i{
    font-size: 50px !important;

}

  .btnObraFase span {
    color: #fffcfc;
    position: absolute;
    font-size: 12px;
    text-align: center;
    top: 13px;
    left: 10px;
    width: 50px;
  }

.btn-ayuda-memoria {
    background-color: #3f51b5;
    font-size: .8em;
    display: inline-block;
    border-radius: 3px;
    padding: 4px;
    color: #fff;
    cursor: pointer;
    vertical-align: top;
    margin-top: 3px;
}
.btnObraFase-Inicio{
    color: #db4437 !important;
}
.btnObraFase-Atencion{
    color: #FFEB3B !important;
}
.btnObraFase-Atencion-Detalle{
    color: #00c853 !important;
}
.btnObraFase-Seguimiento{
    color: #1e88e5 !important;
}
.btnObraFase-Historicos{
    color: #CCCCCC !important;
}



.btnObraFase-ProcedimientoSeleccion span{
    color: #212123 !important;
}
.btnObraFase-{
    color: #212123 !important; 
}
.btn-pdf-info-principal{
    background-color: #3F51B5;
    font-size: 0.8em;
    display: inline-block;
    border-radius: 3px;
    padding: 2px 3px 1px 3px;
    color: white;
    cursor: pointer;
}
.btn-marker-info-principal{
    font-size: 1.3em;
    display: inline-block;
    border-radius: 3px;
    padding: 2px 3px 1px 3px;
    color: #db4437;
    cursor: pointer;
}

.icon-leyenda{
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
}