<app-header></app-header>
<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content">
        <div class="container-componentes">
            <div class="container-fluid">
                <div class="d-inline-block mb-4">
                    <h1 class="font-weight-normal">Accidente de Tránsito</h1> 
                    <div class="line mt-3"></div>
                </div>

                <div class="row">
                    <div class="col-lg-9">
                        <div class="card mb-4">
                            <div class="card-body pt-4">
                                <div class="form-group row">
                                    <label dlabels class="col-lg-2 col-form-label">Código de accidente:</label>
                                    <div class="col-lg-4">
                                        <input class="form-control" type='text' [(ngModel)]="beFiltrosRegistroAccidente.cod_acc_transito_externo" name="txtCodigoFiltro" placeholder="Ingrese código accidente" />
                                    </div>
                                    <label dlabels class="col-lg-2 col-form-label">Clase de accidente:</label>
                                    <div class="col-lg-4">
                                        <ng-select [items]="claseAccidente" placeholder="Seleccione" bindLabel="descripcion" bindValue="id_clase_accidente" notFoundText="no se ha encontrado ningún item" id="id_clase_accidente" [(ngModel)]="beFiltrosRegistroAccidente.id_clase_accidente" name="id_clase_accidente">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label dlabels class="col-lg-2 col-form-label">Fecha Inicial:</label>
                                    <div class="col-lg-4">
                                        <input dTextBox class="form-control" type='text' name="fecha_busqueda" id="fecha_busqueda" placeholder="dd/mm/aaaa" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', locale: 'es', containerClass: 'theme-red' }" [(ngModel)]="beFiltrosRegistroAccidente.fecha_inicial"
                                        />
                                    </div>
                                    <label dlabels class="col-lg-2 col-form-label">Fecha Final:</label>
                                    <div class="col-lg-4">
                                        <input dTextBox class="form-control" type='text' name="fecha_busqueda_final" [minDate]="beFiltrosRegistroAccidente.fecha_inicial" id="fecha_busqueda_final" placeholder="dd/mm/aaaa" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', locale: 'es', containerClass: 'theme-red' }"
                                            [(ngModel)]="beFiltrosRegistroAccidente.fecha_final" />
                                    </div>
                                </div>

                                <hr>
                                <div class="form-group row">
                                    <div class="col-lg-2">
                                        <button type="button" id="btnNuevoRegistro" class="btn pull-left ml-1 btn-primary btn-sm" (click)="modalNuevoRegistroAccidente()" 
                                        *hasClaim="'accidente_transito_nuevo'"> <!---->
                                            <i class="mdi mdi-plus"></i> Nuevo Registro
                                        </button>
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="pull-right">
                                            <button type="button" id="btnBuscar" class="btn pull-left btn-secondary btn-sm" (click)="buscarAccidente()">
                                                <i class="mdi mdi-magnify"></i> Buscar
                                            </button>
                                            <button type="button" id="btnLimpiar" class="btn pull-left ml-1 btn-plomo btn-sm" (click)="limpiarFiltros()">
                                                <i class="mdi mdi-delete-empty"></i> Limpiar
                                            </button>
                                            <span>
                                                <button class="btn btn-exportar ml-1  btn-sm"
                                                    (click)="exportarReportePrincipalGeneral()" type="button"
                                                    id="btnExportarGeneral">
                                                    <i class="mdi mdi-file-excel"></i> Exportar</button>
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-auto bg-plomo">
                            <div class="card-body">
                                <div class="position-absolute icon-card-title">
                                    <i class="icon icon-dashboard"></i>
                                </div>
                                <div class="div-centrado text-center">
                                    <div>
                                        <b style="font-size:3.5rem; font-weight: 500;">
                                            {{totalRegistros}}</b>
                                    </div>
                                    <div class="c-ContRegistros">Registros</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="card card-default card-principal">
                    <div class="card-body">
                        <div class="group-box">
                            <div class="row mb-12 text-center">
                                <div class="col-3 flex-leyenda"><span style="background-color: #db4437" class="icon-leyenda"></span> Inicio y Detalle</div>
                                <div class="col-3 flex-leyenda"><span style="background-color: #FFEB3B" class="icon-leyenda"></span> Atención</div>
                                <!--<div class="col-3 flex-leyenda"><span style="background-color: #00c853"
                                        class="icon-leyenda"></span> Atención N° 2 </div>-->
                                <div class="col-3 flex-leyenda"><span style="background-color: #00c853" class="icon-leyenda"></span> Seguimiento</div>
                                <div class="col-3 flex-leyenda"><span style="background-color: #CCCCCC" class="icon-leyenda"></span> Mayores a 30 días</div>
                            </div>

                            <div class="row">
                                <div class="col-12 container-scroll">
                                    <table class="table table-hover mt-3 table-responsive">
                                        <thead>
                                            <tr>
                                                <!-- <th>ID</th> -->
                                                <th>
                                                    <div style="position: relative;">
                                                        <span>CÓDIGO ACCIDENTE</span>
                                                        <a style="cursor: pointer;position: absolute;top: -20%;" [hidden]="mostrarOrdenamientoCodAccidente" title="Ordenar ascendentemente" (click)="ordenarBusqueda(1,1)">
                                                            <i class="mdi mdi-arrow-up-thick"></i>
                                                        </a>
                                                        <a style="cursor: pointer;position: absolute;top: -20%;" title="Ordenar descendentemente" [hidden]="!mostrarOrdenamientoCodAccidente" (click)="ordenarBusqueda(1,0)">
                                                            <i class="mdi mdi-arrow-down-thick"></i>
                                                        </a>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div style="position: relative;">
                                                        <span>FECHA</span>
                                                        <a style="cursor: pointer;position: absolute;top: -20%;" [hidden]="mostrarOrdenamientoFecha" title="Ordenar ascendentemente" (click)="ordenarBusqueda(2,1)">
                                                            <i class="mdi mdi-arrow-up-thick"></i>
                                                        </a>
                                                        <a style="cursor: pointer;position: absolute;top: -20%;" title="Ordenar descendentemente" [hidden]="!mostrarOrdenamientoFecha" (click)="ordenarBusqueda(2,0)">
                                                            <i class="mdi mdi-arrow-down-thick"></i>
                                                        </a>
                                                    </div>


                                                </th>
                                                <th>
                                                    <div style="position: relative;">
                                                        <span>CLASE</span>
                                                        <a style="cursor: pointer;position: absolute;top: -20%;" [hidden]="mostrarOrdenamientoClase" title="Ordenar ascendentemente" (click)="ordenarBusqueda(3,1)">
                                                            <i class="mdi mdi-arrow-up-thick"></i>
                                                        </a>
                                                        <a style="cursor: pointer;position: absolute;top: -20%;" title="Ordenar descendentemente" [hidden]="!mostrarOrdenamientoClase" (click)="ordenarBusqueda(3,0)">
                                                            <i class="mdi mdi-arrow-down-thick"></i>
                                                        </a>
                                                    </div>
                                                </th>
                                                <th>ESTADO</th>
                                                <th>ACCIONES</th>
                                                <th>FICHA</th>
                                                <th>MAPA</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let accidente of arregloAccidentes; let i = index">
                                                <!-- <td class="text-center xs-hidden">{{ i + 1 }}</td> -->
                                                <td class="text-center xs-hidden">
                                                    {{accidente.cod_acc_transito_externo}}</td>
                                                <td class="text-center xs-hidden">
                                                    {{accidente.fecha_registro | date:'dd/MM/yyyy'}}
                                                </td>
                                                <td class="text-center xs-hidden">{{accidente.descripcion}}</td>
                                                <td class="td-c pre-wrap xs-hidden">

                                                    <a style="cursor: pointer;" class="btnObraFase btnObraFase-{{accidente.estado}} btn-icon" href="javascript:void(0)" (click)="openEditarAccidente(accidente)">
                                                        <i aria-hidden="true" class="fa icon-obra-fase"></i>
                                                    </a>
                                                </td>
                                                <td class="text-center xs-hidden">
                                                    <span (click)="editarAccidente(accidente)" style="cursor: pointer;" tooltip="Editar Accidente" *hasClaim="'accidente_transito_editar'">
                                                        <i class="mdi mdi-pencil"></i>
                                                    </span>
                                                    <span (click)="anularAccidente(accidente)" style="cursor: pointer;" tooltip="Eliminar Accidente" *hasClaim="'accidente_transito_eliminar'">
                                                        <i class="mdi mdi-delete-outline"></i>
                                                    </span>
                                                </td>
                                                <td class="text-center xs-hidden">
                                                    <a target="_blank" (click)="verFicha(accidente)" target="_blank" tooltip="Ver Ficha">
                                                        <i class="mdi mdi-file-download-outline"></i>
                                                    </a>
                                                </td>
                                                <td class="text-center xs-hidden">
                                                    <div>
                                                        <span (click)="verMapa(accidente)" tooltip="Ver Mapa">
                                                            <i class="mdi mdi-map-marker"></i>
                                                        </span>

                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="xs-display card">
                                        <div class="p-2">
                                            <span class="font-weight-bold">ORDENAR POR:</span>
                                        </div>
                                        <div class="p-2"><span>CÓDIGO ACCIDENTE</span>
                                            <a style="cursor: pointer;" [hidden]="mostrarOrdenamientoCodAccidente" title="Ordenar ascendentemente" (click)="ordenarBusqueda(1,1)">
                                                <i class="mdi mdi-arrow-up-thick"></i>
                                            </a>
                                            <a style="cursor: pointer;" title="Ordenar descendentemente" [hidden]="!mostrarOrdenamientoCodAccidente" (click)="ordenarBusqueda(1,0)">
                                                <i class="mdi mdi-arrow-down-thick"></i>
                                            </a>
                                            <span>FECHA</span>
                                            <a style="cursor: pointer;" [hidden]="mostrarOrdenamientoFecha" title="Ordenar ascendentemente" (click)="ordenarBusqueda(2,1)">
                                                <i class="mdi mdi-arrow-up-thick"></i>
                                            </a>
                                            <a style="cursor: pointer;" title="Ordenar descendentemente" [hidden]="!mostrarOrdenamientoFecha" (click)="ordenarBusqueda(2,0)">
                                                <i class="mdi mdi-arrow-down-thick"></i>
                                            </a>
                                            <span>CLASE</span>
                                            <a style="cursor: pointer;" [hidden]="mostrarOrdenamientoClase" title="Ordenar ascendentemente" (click)="ordenarBusqueda(3,1)">
                                                <i class="mdi mdi-arrow-up-thick"></i>
                                            </a>
                                            <a style="cursor: pointer;" title="Ordenar descendentemente" [hidden]="!mostrarOrdenamientoClase" (click)="ordenarBusqueda(3,0)">
                                                <i class="mdi mdi-arrow-down-thick"></i>
                                            </a>
                                        </div>
                                        <hr>
                                        <div *ngFor="let accidente of arregloAccidentes; let i = index">
                                            <div class="p-3">
                                                <!-- <div><span class="font-weight-bold">ID: </span> {{i+1}}</div> -->
                                                <div>
                                                    <span class="font-weight-bold">CÓDIGO ACCIDENTE:</span> {{accidente.cod_acc_transito_externo}}
                                                </div>
                                                <div><span class="font-weight-bold">FECHA: </span> {{accidente.fecha_registro | date:'dd/MM/yyyy'}}</div>
                                                <div><span class="font-weight-bold">CLASE: </span> {{accidente.descripcion}}
                                                </div>
                                                <div><b>ESTADO : </b></div>
                                                <div>
                                                    <a style="cursor: pointer;" class="btnObraFase btnObraFase-{{accidente.estado}} btn-icon" href="javascript:void(0)" (click)="openEditarAccidente(accidente)">
                                                        <i aria-hidden="true" class="fa icon-obra-fase"></i>
                                                    </a>
                                                </div>
                                                <div>
                                                    <span class="font-weight-bold">FICHA: </span>
                                                    <a target="_blank" target="_blank" tooltip="Ver Ficha">
                                                        <i class="mdi mdi-file-download-outline"></i></a>
                                                </div>
                                                <div>
                                                    <span class="font-weight-bold">MAPA: </span>
                                                    <span (click)="verMapa(accidente)" tooltip="Ver Mapa">
                                                        <i class="mdi mdi-map-marker"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="xs-footer-lista text-right">
                                                <span class="btn-icon ml-1" (click)="editarAccidente(accidente)" tooltip="Editar" *hasClaim="'accidente_transito_editar'"><i class="fa fa-pencil"
                                                        style="color:#5D6D7E;"></i></span>
                                                <span class="btn-icon ml-1" (click)="anularAccidente(accidente)" tooltip="Eliminar" *hasClaim="'accidente_transito_eliminar'"><i class="fa fa-trash"
                                                        style="color:#5D6D7E;"></i></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="clearfix bg-white pt-3">
                                        <div class="float-right">
                                            <pagination [totalItems]="totalRegistros" [itemsPerPage]="numPaginasMostrar" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" [rotate]="false" firstText="&laquo;" lastText="&raquo;" [maxSize]="5" [(ngModel)]="paginaActiva" (pageChanged)="cambiarPagina($event)">
                                            </pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>