:host {

    display: flex;
    overflow: hidden;
    height: 100vh;
  
    .app-header {
      position: fixed;
      width: 100%;
      z-index: 9999999999;
    }
    main {
      flex: 1;
      position: relative;
      .navbar{
        display: block;
        width: 100%;
        background-color: red !important;                
      }
    }
  
    router-outlet ~ * {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  
  }
