<accordion>
    <div class="row">
      <div class="col-12">
        <accordion-group [isOpen]="true" [panelClass]="separator">
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left header-limitado">1. VEHICULOS INVOLUCRADOS</div>
            <span class="badge float-right pull-right">
                <!--<i class="material-icons arrow"></i>-->
            </span>
          </button>
          <app-vehiculos-involucrados></app-vehiculos-involucrados>
        </accordion-group>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <accordion-group [panelClass]="separator">
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left header-limitado">2. CONDUCTOR</div>
            <span class="badge float-right pull-right">
              <!--<i class="material-icons arrow"></i>-->
            </span>
          </button>
          <app-conductor-accidente></app-conductor-accidente>
        </accordion-group>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <accordion-group [panelClass]="separator">
            <button class="btn btn-link btn-block clearfix" accordion-heading>
              <div class="pull-left float-left header-limitado">3. PASAJEROS / PEATONES / OCUPANTE</div>
              <span class="badge float-right pull-right">
                <!--<i class="material-icons arrow"></i>-->
              </span>
            </button>
            <app-pasajeros-accidente></app-pasajeros-accidente>
          </accordion-group>
        </div>
      </div>
    

      <div class="row">
        <div class="col-12">
          <accordion-group [panelClass]="separator">
            <button class="btn btn-link btn-block clearfix" accordion-heading>
              <div class="pull-left float-left header-limitado">4. SITUACIÓN VIA</div>
              <span class="badge float-right pull-right">
                <!--<i class="material-icons arrow"></i>-->
              </span>
            </button>
            <app-situacion-via></app-situacion-via>
          </accordion-group>
        </div>
      </div>



  </accordion>
