<app-header></app-header>
<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content">
        <div class="container-componentes">
            <div class="container-fluid">
                <div class="d-inline-block mb-4">
                    <h1 class="font-weight-normal">Menu</h1>
                    <div class="line mt-3"></div>
                </div>

                <div class="row">
                    <div class="col-lg-9">
                        <div class="card mb-4">
                            <div class="card-body pt-4">
                                <div class="form-group row">
                                    <label dlabels class="col-sm-2 control-label">Menu:</label>
                                    <div class="col-sm-10">
                                        <ng-select [items]="menus" placeholder="Seleccione un Menu" bindLabel="nombre_menu" bindValue="id_menu" [(ngModel)]="campoBusqueda" name="campoBusqueda">
                                        </ng-select>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div class="text-right">
                                            <button type="button" id="btnBuscar" class="btn pull-left btn-secondary btn-sm" (click)="busqueda()"><i class="mdi mdi-magnify"></i> Buscar</button>
                                            <button type="button" id="btnNuevoRegistro" class="btn pull-left ml-1 btn-primary btn-sm" (click)="modalAgregarMenu()">
                                                <i class="mdi mdi-plus"></i> Nuevo Registro</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-auto bg-plomo">
                            <div class="card-body">
                                <div class="position-absolute icon-card-title">
                                    <i class="icon icon-dashboard"></i>
                                </div>
                                <div class="div-centrado text-center">
                                    <div>
                                        <b style="font-size:3.5rem; font-weight: 500;">
                                            {{totalMenu}}</b>
                                    </div>
                                    <div class="c-ContRegistros">Menus</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card  p-3">
                            <table class="table xs-hidden">
                                <thead>
                                    <tr>
                                        <th>Menu</th>
                                        <th>URL</th>
                                        <th>NIVEL</th>
                                        <th>ORDEN</th>
                                        <th>ICONO</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="ancla{{campos.id_menu}}" *ngFor="let campos of lstParametrosHijoParametro" [class.seleccionado]="campos.id_menu === menu_seleccionado">
                                        <td class="text-center pre-wrap">{{campos.nombre_menu}}</td>
                                        <td class="text-center">{{campos.url}}</td>
                                        <td class="text-center">{{campos.nivel}}</td>
                                        <td class="text-center">{{campos.orden}}</td>
                                        <td>
                                            <div class="text-center">
                                                {{campos.icono}}
                                            </div>
                                            <div class="xs-display">
                                                <div class="f-s-8">{{campos.codigo_modulo}}</div>
                                                <div class="f-s-8">{{campos.nombre_menu}}</div>
                                                <div class="f-s-13">{{campos.url}}</div>
                                                <div class="mt-1 mb-1">
                                                    <span class="xs-th">Nivel: </span>&nbsp;&nbsp;
                                                    <span>{{campos.nivel}}</span>
                                                </div>
                                                <div class="mt-1">
                                                    <span class="xs-th">Orden: </span>&nbsp;&nbsp;
                                                    <span>{{campos.orden}}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="width: 10%;" class="xs-footer-lista xs-100 xs-text-right pre-wrap">
                                            <div class="xs-hidden">
                                                <span class="btn" (click)="modalAgregarMenuPadre(campos)" tooltip="Agregar Módulo Hijo"><i class="mdi mdi-plus"></i></span>
                                                <span class="btn btn-icon btn-sm" (click)="modalEditarMenu(campos)"><i class="mdi mdi-pencil"></i></span>
                                                <span class="btn btn-icon btn-sm" (click)="mostrarAlerta(campos.id_menu)"><i class="mdi mdi-delete"></i></span>
                                            </div>
                                            <div class="xs-display">
                                                <span class="btn btn-icon btn-sm" (click)="modalEditarMenu(campos)"><i class="mdi mdi-pencil"></i></span>
                                                <span class="btn btn-icon btn-sm" (click)="mostrarAlerta(campos.id_menu)"><i class="mdi mdi-delete"></i></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="card xs-display" *ngFor="let campos of lstParametrosHijoParametro">
                                <div class="p-3">
                                    <div><b>MENU: </b>{{ campos.nombre_menu}}</div>
                                    <div><b>URL</b>{{campos.url}}</div>
                                    <div><b>NIVEL: </b>{{ campos.nivel }}</div>
                                    <div><b>ORDEN: </b>{{ campos.orden }}</div>
                                    <div><b>ICONO: </b>{{ campos.icono}}</div>
                                </div>
                                <div class="xs-footer-lista text-right">
                                    <span class="btn" (click)="modalAgregarMenuPadre(campos)" tooltip="Agregar Módulo Hijo"><i class="mdi mdi-plus"></i></span>
                                    <span class="btn btn-icon btn-sm" (click)="modalEditarMenu(campos)"><i class="mdi mdi-pencil"></i></span>
                                    <span class="btn btn-icon btn-sm" (click)="mostrarAlerta(campos.id_menu)"><i class="mdi mdi-delete"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>