<accordion>
    <div class="row">
      <div class="col-12">
        <accordion-group [isOpen]="true" [panelClass]="separator">
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left header-limitado">1. ACCIDENTES - FURAT</div>
            <span class="badge float-right pull-right">
            </span>
          </button>
          <app-accidentes-furat></app-accidentes-furat>
        </accordion-group>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <accordion-group [panelClass]="separator">
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left header-limitado">2. VEHICULOS - FURAT</div>
            <span class="badge float-right pull-right">
            </span>
          </button>
          <app-vehiculos-furat></app-vehiculos-furat>
        </accordion-group>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <accordion-group [panelClass]="separator">
            <button class="btn btn-link btn-block clearfix" accordion-heading>
              <div class="pull-left float-left header-limitado">3. PERSONAS - FURAT</div>
              <span class="badge float-right pull-right">
              </span>
            </button>
            <app-personas-furat></app-personas-furat>
          </accordion-group>
        </div>
    </div>
</accordion>
