


<div class="modal-header">
    <div class="modal-title">
        <h4>Mapa del Accidente de Tránsito</h4>
    </div>
</div>
<div class="modal-body">
    <div class="form-group row" [style.display]="showMapa ? 'block' : 'none'">
            <div class="position-absolute"
                            style="z-index: 999;bottom: 14px;left: 10px;font-size: 12px; width: 300px; background-color: #ffffff; padding: 10px;">
                            <div style="font-weight:600; color:#303f9f; font-size: 14px;" class="pb-1">Accidente de Tránsito</div>
                            <div class="pb-4">
                                <span style="text-transform: capitalize;">{{datosAccidente.departamento}}</span>
                                <span style="text-transform: capitalize;">, {{datosAccidente.provincia}}</span>
                                <span style="text-transform: capitalize;">, {{datosAccidente.distrito}}</span>
                            </div>
                            <div class="pb-1 d-flex align-items-center"><i class="mdi mdi-car"></i>&nbsp;Código:&nbsp;<span style="color:#1565c0">{{datosAccidente.cod_acc_transito_externo }}</span></div>
                            <div class="pb-1 d-flex align-items-center"><i class="mdi mdi-calendar"></i>&nbsp;Fecha:&nbsp;<span style="color:#1565c0">{{datosAccidente.fecha_registro | date:'dd/MM/yyyy'}}</span></div>
                            <div class="pb-1 d-flex align-items-center"><i class="mdi mdi-av-timer"></i>&nbsp;Hora:&nbsp;<span style="color:#1565c0">{{datosAccidente.hora_registro}}</span></div>
                            <div class="pb-1 d-flex align-items-center"><i class="mdi mdi-account-outline"></i>&nbsp;Fallecidos:&nbsp;<span style="color:#1565c0">{{datosAccidente.cantidad_fallecido}}</span> &nbsp; Lesionados:&nbsp;<span style="color:#1565c0">{{datosAccidente.cantidad_lesionado}}</span></div>
                            <div class="pb-1 d-flex align-items-center"><i class="mdi mdi-earth"></i>&nbsp;Latitud:&nbsp;<span style="color:#1565c0">{{datosAccidente.latitud}}</span></div>
                            <div class="pb-1 d-flex align-items-center"><i class="mdi mdi-earth"></i> &nbsp;Longitud:&nbsp;<span style="color:#1565c0">{{datosAccidente.longitud}}</span></div>

                        </div>
            <div class="col-sm-12">
                <div style="width:100%; height:500px;" id="map_">
                    </div>
            </div>
    </div>
</div>
<div class="modal-footer">
        <button class="btn btn-secondary btn-sm" id="btnTraCancelar" type="button" (click)="closeModal()">
                <i class="mdi mdi-close"></i> Cancelar</button>
</div>
