<div class="row form-group"> 
    <div class="col-12">
        <button class="btn pull-left ml-1 btn-primary btn-sm" (click)="openModalPasajeroPeaton()" 
        *hasClaim="'accidente_transito_detalle_accidente_pasajero_peaton_ocupante_nuevo'">
            <i class="mdi mdi-plus"></i> Nuevo
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 container-scroll">
        <table class="table table-bordered xs-hidden">
        <thead>
            <tr>
            <th>ID</th>
            <th>TIPO</th>
            <th>DOCUMENTO</th>
            <th>ESTADO</th>
            <th>ESTADO CONFIRMACIÓN</th>
            <th>Acciones</th> <!--[hidden]=!bEstado-->
            </tr>
        </thead>
        <tbody *ngFor="let item of listaPasajeros; let i = index"> 
            <tr>
            <td class="text-center xs-hidden">{{ i + 1 }}</td>
            <td class="text-center xs-hidden">{{item.tipopersonaaccidente}}</td>
            <td class="text-center xs-hidden">{{ item.dni }}</td>
            <td class="text-center xs-hidden">{{ item.estadoinicial }}</td>
            <td class="text-center xs-hidden">{{item.estadoconfirmado}}</td>
            <td class="xs-footer-lista" > <!--[hidden]=!bEstado-->
                <div class="text-center xs-hidden">
                    <span (click)="openEditarPasajeroPeaton(item)" style="cursor: pointer;" tooltip="Editar Pasajero / Peatón" 
                    *hasClaim="'accidente_transito_detalle_accidente_pasajero_peaton_ocupante_editar'">
                            <i class="mdi mdi-pencil"></i>
                    </span>
                    <span (click)="anularPasajeroPeaton(item)" style="cursor: pointer;" tooltip="Eliminar Pasajero / Peatón" 
                    *hasClaim="'accidente_transito_detalle_accidente_pasajero_peaton_ocupante_eliminar'">
                            <i class="mdi mdi-delete-outline" style="color:#5D6D7E;"></i>
                    </span>
                </div>
            </td>
            </tr>
        </tbody>
        </table>
        <div class="card xs-display" *ngFor="let item of listaPasajeros; let i = index">
        <div class="p-3">
            <div><b>ID: </b>{{ i + 1 }}</div>
            <div><b>TIPO</b>{{item.tipopersonaaccidente}}</div>
            <div><b>DOCUMENTO: </b>{{ item.dni }}</div>
            <div><b>ESTADO: </b>{{ item.estadoinicial }}</div>
            <div><b>ESTADO CONFIRMACIÓN: </b>{{ item.estadoconfirmado}}</div>
        </div>
        <div class="xs-footer-lista text-right">
            <span class="btn-icon ml-1" (click)="openEditarPasajeroPeaton(item)"  tooltip="Editar" 
            *hasClaim="'accidente_transito_detalle_accidente_pasajero_peaton_ocupante_editar'"><i class="fa fa-pencil" style="color:#5D6D7E;"></i></span> 
            <span class="btn-icon ml-1" (click)="anularPasajeroPeaton(item)"  tooltip="Eliminar" 
            *hasClaim="'accidente_transito_detalle_accidente_pasajero_peaton_ocupante_eliminar'"><i class="fa fa-trash" style="color:#5D6D7E;"></i></span>    
        </div>
        </div>
    </div>
    <div class="col-12">
        <nav class="pt-4 pl-3 float-right">
        <pagination [totalItems]="totalRegistros" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;"
            [rotate]="false" firstText="&laquo;" lastText="&raquo;" [itemsPerPage]="numPaginasMostrar"
            (pageChanged)="cambiarPagina($event)">
        </pagination>
        </nav>
    </div>
</div>
