.list-unstyled.components{
    margin-top: 0 !important;
}

.app-logo{
    display: flex;
    font-size: 36px;
    align-items: center;
    padding: 0 10px;
}
a,a:hover,a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    /* width: 250px; */
    position: fixed;
    top: 76px;
    left: 0;
    /* height: calc(100vh - 58px); */
    height: calc( 100vh - 76px );
    z-index: 1040;
    color: #212121;
    transition: all cubic-bezier(0.55, 0.06, 0.68, 0.19) 0.35s;
    background: #ffffff;
    /* margin-left: -192px; */
    transition: all .12s ease-in-out;
    border-right: solid 1px #E8E9EB;
}
#sidebar ul li{
    position: relative;
}
#sidebar ul li:first-child a span:nth-child(2) {
   opacity: 1;
   transition: all ease-in-out .15s;
}
#sidebar:hover ul li:first-child a span:nth-child(2) {
    opacity: 0.8;
}
#sidebar ul li {
    padding-left: 0;
}
#sidebar ul ul li:first-child {
    height: auto;
}
#sidebar ul ul {
    padding-left: 0;
    a{
    padding-left: 10px !important;
    font-size: 16px !important;
    }
    li{
         a {
            background-color: #FAFAFA;
        }        
    }
}

#sidebar ul ul li a:after {
    content: 'i';
    font-size: 1px;
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: #E0E0E0;
    right: 0;
    top: 0;
}

#sidebar ul ul ul li a {
    background-color: #485d6e;
}
#black-panel{
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: fixed;
    z-index: 2;
    display: none;
    opacity: 0;
    transition: all ease 2s;
}
#sidebar ul li.active > a, a[aria-expanded="true"] > span:nth-child(2){
    color:#212121 !important;
}
#sidebar.active {
    margin-left: 0px;
    box-shadow:0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1)
}
#black-panel.active{
    display: block;
    /* opacity: 0.3; */
}
.navbar {
    padding: 5px 10px;}
#sidebar .sidebar-header {
    color: #212121;
    background: rgba(0,0,0,0.1);
    padding: 15px 20px;
    height: 54px;
}
#sidebar .sidebar-header h3{
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    span{
        font-size: 0.5rem;
        line-height: 0.5rem;
        position: absolute;
        top: 17px;
        padding: 0 10px;
    }
    button{
    float: right;
    right: 10px;
    top: 6px;
    position: absolute;

    background-color: transparent !important;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 30px;
    padding: 0;
    width: 40px;
    text-align: center;
    }
}

#sidebarCollapse{
    background-color: transparent !important;
    border-radius: 0;
    color: #ffffff;
    font-size: 30px !important;
    padding: 0;
    width: 40px;
    text-align: center;
    cursor: pointer;
}

#sidebar .sidebar-header h3.active{
    button{
        right: 10px;
        display: block;
    }    
    span{
        display: none;
     }
} 

#nav-top .sidebar-header h3{
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    position: absolute;
    width: 230px;
    display: inline-block;
    span{
        width: 130px;
        font-size: 0.5rem;
        line-height: 0.5rem;
        top: 17px;
        padding: 0 10px;
    }
}

#sidebar ul.components {
    padding: 20px 0;
    margin-top: 54px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    font-size: 16px;
    display: block;
    /* alineacion vertical */
    align-items: center;
    min-height: 50px;
    padding: 5px 10px 5px 10px;
    color:gray;
}
.navbar {
    padding: 15px 10px;
    background: #db4437;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    font-size: 14px;
    color:#ffffff;
    box-shadow: 0 0px 10px rgba(0,0,0,0.1);
}
#sidebar ul li a.active-link > span:first-child, #sidebar ul li a.active-link > span:nth-child(2){
    color: #db4437;
}


#sidebar ul li a > span:first-child {
    width: 40px;
    height: 40px;;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color:inherit;
}
#sidebar ul li a > span:nth-child(2) {
    width: 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    height: 40px;
    transition: all .12s ease-in-out;
    overflow: hidden;
}
// #sidebar:hover ul li a > span:nth-child(2) {
//     width: 160px;
// }

#sidebar.active ul li a > span:nth-child(2) {
    width: 186px;
}

#sidebar{
    &:hover{
        ul li a > span:nth-child(2) {
            width: 186px;
        }        
    }
}



/* #sidebar ul li a:hover > span:nth-child(1){
    color: #ffffff;
} */
#sidebar ul li a:hover{
    color: #202124;
}

#sidebar ul li.active>a, a[aria-expanded="true"] > span:nth-child(2) {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}
.foto-usuario{
    height: 32px;
    top: -5px;
}
.list-unstyled .dropdown-toggle::after {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);

    display: inline-block;
    width: 0;
    height: auto;
    margin-left: .255em;
    vertical-align: .255em;
    content: "\F035D";
    border-top: 0 solid;
    border-right: 1em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    font-family: "Material Design Icons" !important;
}
#sidebar:not(.active) {
    .list-unstyled .dropdown-toggle::after{
        border-right:0;
    }
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

/*
#content.active {
    width: calc(100% - 58px);
}
#nav-top.active{
    width: calc(100% - 58px);
    margin-left: 58px;
} */
#logoAppSidebar{
    transition: all 0.3s;
    font-family: Arial;
    font-size: 18px;
    margin: 0;
    letter-spacing: -1px;
    width: 130px;
    text-align: center;
    height: 44px;
    padding-top: 5px;
    color:#fff;
}
#logoAppSidebar span{
    display: block;
    font-size: 6px;
    letter-spacing: 0;
}

#logoAppNavBar{
    opacity: 0;
    transition: all 0.3s;
}
#logoAppNavBar.active{
    opacity: 1;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
.list-unstyled{
    i {
        font-size: 24px;
    }
}
#sidebar.active ul li a {
    padding: 5px 10px 5px 10px
}
#sidebarCollapse.active{
    display: none;
}
a.nav-link{
    color: #ffffff;
}
#sidebar .list-unstyled .dropdown-toggle:after{
    right: -20px;
}
#sidebar:hover .list-unstyled .dropdown-toggle:after{
    right: 20px;
}
#sidebar a[aria-expanded="true"] span.dropdown-toggle:after{
    content: "\F0360";
}


@media (max-width: 768px) {
    .app-logo{
        padding: 0;
        font-size: 30px;
    }

    #sidebar.active {
        margin-left: 0;
    }
    #content {
       width: 100%;
    }
    #sidebarCollapse span {
        display: none;
    }
    #nav-top {
        margin-left: 0;
        width: 100%;
        transition: all 0.3s;
    }

    #sidebar .sidebar-header h3.active button, #sidebar .sidebar-header h3 button{
        display: block;
    }
    #sidebar .sidebar-header h3.active button{
        margin-right: 0px;
        display: block;
    }
    #sidebar .sidebar-header h3 button{
        margin-right: -10px;
        display: block;
    }
    #sidebar .sidebar-header h3 span{
        display: none;
    }
    #sidebar ul li a > span:nth-child(2) {
        width: 0;
    }
}
@media (max-width: 575.98px) {
    #sidebarCollapse{
        display: block;
    }
    #sidebarCollapse2{
        display: block;
    }
    .img-logo-head{
        display: none;
    }
    #logoAppSidebar{
        display: none;
    }
    .jumbotron, .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .row {
        margin-right: 0 !important;
        margin-left:  0 !important;
    }
}

@media (max-width: 768px) {
    .modal .modal-content {
        box-shadow: none;
    }
    .modal-dialog {
        min-width: 700px !important;
    }
}

@media (max-width: 575.98px) {
    .modal-dialog {
        min-width: 300px !important;
        margin: 1.75rem auto;
    }
}


@media (min-width: 992px) {
    .modal-dialog {
        min-width: 800px !important;
     }
}

@media (min-width: 1200px) {
    .modal-dialog {
        min-width: 1024px !important;
    }
}
.cancel{
    position: absolute;
    transform: rotate(45deg);
    text-shadow: 0 -2px 1px white;
    font-size: 42px;
}
