<app-header></app-header>
<div class="wrapper">
    <nav id="sidebar">
        <perfect-scrollbar style="height: 100%;">
            <ul class="list-unstyled components pt-0">
                <li>
                    <a id="sidebarCollapse">
                        <span>
                            <i class="mdi mdi-menu"></i>
                        </span>
                    </a>
                </li>

                <li *ngFor="let row of menu">
                    <a *ngIf="row.hijos.length>0; else nosubmenu" href="#{{row.Nombre_Menu}}" data-toggle="collapse" aria-expanded="false">
                        <span>
                            <i class="mdi {{row.Icono}}"></i>
                        </span>
                        <span class="dropdown-toggle">{{row.Nombre_Menu}}</span>
                    </a>
                    <ng-template #nosubmenu>
                        <a [routerLink]="[row.Url]" routerLinkActive="active-link">
                            <span>
                                <ng-container *ngIf="row.cancel">
                                    <i class="mdi mdi-cancel">remove</i>

                                </ng-container>
                                <i class="mdi {{row.Icono}}"></i>
                            </span>
                            <span>{{row.Nombre_Menu}}</span>
                        </a>
                    </ng-template>

                    <ul *ngIf="row.hijos.length>0;" class="collapse list-unstyled" id="{{row.Nombre_Menu}}">
                        <li *ngFor="let rowb of row.hijos">
                            <a [routerLink]="[rowb.Url]" routerLinkActive="active-link">
                                <span>
                                    <i class="mdi {{rowb.Icono}}"></i>
                                </span>
                                <span>{{rowb.Nombre_Menu}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </perfect-scrollbar>
    </nav>
</div>