<input type="file" style="display:none;" id="{{idComp}}" class="customfile" (change)="lanzarOnChange($event)">
<div class="inner-addon left-addon">
    
    <label class="btn mb-0 rounded-left cursor" for="{{idComp}}" title="Subir Archivo">
        <i class="icono material-icons">cloud_upload</i>
      </label>
    <input class="form-control inputfile-receptor" readonly name="{{idComp}}"  placeholder="Seleccione archivo" type="text" value="{{Value}}">
    <span class="input-file-txt-max"><i class="mdi mdi-information" [tooltipHtml]="popTemplate" containerClass="tooltip-infofile"></i></span>
  </div>
  <ng-template #popTemplate><div class="text-justify">Formatos permitidos:<div>{{textoFormatos}}</div><div *ngIf="MensajeMaxSize !=''" class="mt-3">{{tamanio}}</div></div></ng-template>
  <ng-container *ngIf="Descargable">
      <a class="download" href="{{RutaDescarga}}" target="_blank" title="Descargar"><i class="mdi mdi-arrow-collapse-down"></i></a>
    </ng-container>