<app-header></app-header>
<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content">
        <div class="container-componentes">
            <div class="container-fluid">
                <div class="d-inline-block mb-4">
                    <h1 class="font-weight-normal">Usuarios</h1>
                    <div class="line mt-3"></div>
                </div>

                <div class="row">
                    <div class="col-lg-9">
                        <div class="card mb-4">
                            <div class="card-body pt-4">
                                <div class="form-group row">
                                    <label dlabels class="col-lg-1 col-form-label">DNI:</label>
                                    <div class="col-lg-1">
                                        <input maxlength="8" class="form-control" type='text' [(ngModel)]="beFiltroMantenimientoUsuario.dni" name="txtDniFiltro" placeholder="Ingrese DNI" />
                                    </div>
                                    <label dlabels class="col-lg-1 col-form-label">Nombre:</label>
                                    <div class="col-lg-2">
                                        <input type="text" maxlength="150" id="txtNombre" [(ngModel)]="beFiltroMantenimientoUsuario.persona" class="form-control" placeholder="Nombre del Usuario" />
                                    </div>
                                    <label dlabels class="col-lg-1 col-form-label">Organismo:</label>
                                    <div class="col-lg-3">
                                        <ng-select [items]="lstEntidades" placeholder="Seleccione un Organismo" bindLabel="organismo" bindValue="id_organismo" notFoundText="no se ha encontrado ningún item" id="id_organismo" [(ngModel)]="beFiltroMantenimientoUsuario.id_organismo" name="id_organismo"
                                            (change)="seleccionarEntidad($event)">
                                        </ng-select>
                                    </div>
                                    <label dlabels class="col-lg-1 col-form-label">Perfil:</label>
                                    <div class="col-lg-2">
                                        <ng-select [items]="lstPerfiles" placeholder="Seleccione un Perfil" bindLabel="descripcion" bindValue="id_perfil" notFoundText="no se ha encontrado ningún item" id="id_perfil" [(ngModel)]="beFiltroMantenimientoUsuario.id_perfil" name="id_perfil">
                                        </ng-select>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div class="pull-right">
                                            <button type="button" id="btnBuscar" class="btn pull-left btn-secondary btn-sm" (click)="buscarUsuario()">
                                                <i class="mdi mdi-magnify"></i> Buscar
                                            </button>
                                            <button type="button" id="btnNuevoRegistro" class="btn pull-left ml-1 btn-primary btn-sm" (click)="modalNuevoUsuario()">
                                                <i class="mdi mdi-plus"></i> Nuevo Registro
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-auto bg-plomo">
                            <div class="card-body">
                                <div class="position-absolute icon-card-title">
                                    <i class="icon icon-dashboard"></i>
                                </div>
                                <div class="div-centrado text-center">
                                    <div>
                                        <b style="font-size:3.5rem; font-weight: 500;">
                                            {{totalUsuarios}}</b>
                                    </div>
                                    <div class="c-ContRegistros">Usuarios</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card  p-3">
                            <table class="table xs-hidden">
                                <thead class="table-active">
                                    <tr>
                                        <th>Organismo</th>
                                        <th>Usuario</th>
                                        <th>Dni</th>
                                        <th>Apellidos</th>
                                        <th>Nombres</th>
                                        <th>Perfil</th>
                                        <!-- <th>Ubigeo</th> -->
                                        <th>Correo</th>
                                        <th>Teléfono</th>
                                        <th>Editar</th>
                                        <th>Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let usuario of lstUsuarioMostrar">
                                        <td class="text-left">{{usuario.organismo}}</td>
                                        <td class="text-center">{{usuario.usuario}}</td>
                                        <td class="text-center">{{usuario.dni}}</td>
                                        <td class="text-center">{{usuario.apellido_paterno}} {{usuario.apellido_materno}}
                                        </td>
                                        <td class="text-center">{{usuario.nombre}}</td>
                                        <td class="text-center">{{usuario.perfil}}</td>
                                        <!-- <td class="text-center">
                                            <div *ngIf="usuario.departamento != null">
                                                <div *ngIf="usuario.departamento.length > 1; else templateUbigeoUnico">
                                                    <span (click)="openVerUbigeoUsuario(usuario.departamento)" style="cursor: pointer;">
                                                        <i class="mdi mdi-magnify"></i>
                                                    </span>
                                                </div>
                                                <ng-template #templateUbigeoUnico>
                                                    <div *ngIf="usuario.departamento.length > 0; else templateSinUbigeo">
                                                        {{usuario.departamento[0].departamento}}
                                                    </div>
                                                    <ng-template #templateSinUbigeo>

                                                    </ng-template>
                                                </ng-template>
                                            </div>
                                        </td> -->
                                        <td class="text-center" style="white-space: pre-wrap;">{{usuario.correos}}</td>
                                        <td class="text-center" style="white-space: pre-wrap;">{{usuario.telefonos}}</td>
                                        <td class="text-center">
                                            <div>
                                                <span (click)="openEditarUsuario(usuario)" style="cursor: pointer;">
                                                    <i class="mdi mdi-pencil"></i>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div>
                                                <span class="btn btn-sm btn-opt btn-icon" (click)="modificarEstado(usuario)"><i
                                                        class="mdi mdi-delete"></i></span>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div *ngIf="usuario.activo">
                                                <span (click)="cambiarContrasena(templateReseteoContrasena,usuario.id_usuario)" style="cursor: pointer;">
                                                    <i class="mdi mdi-account-key"></i>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="card xs-display" *ngFor="let usuario of lstUsuarioMostrar">
                                <div class="p-3">
                                    <div><b>Organismo: </b>{{ usuario.organismo}}</div>
                                    <div><b>Usuario: </b>{{ usuario.usuario}}</div>
                                    <div><b>Dni</b>{{usuario.dni}}</div>
                                    <div><b>Apellidos: </b>{{usuario.apellido_paterno}} {{usuario.apellido_materno}}</div>
                                    <div><b>Nombres: </b>{{usuario.nombre}}</div>
                                    <div><b>Perfil: </b>{{ usuario.perfil}}</div>
                                    <!-- <div><b>Ubigeo: </b>
                                        <div *ngIf="usuario.departamento != null">
                                            <div *ngIf="usuario.departamento.length > 1; else templateUbigeoUnico">
                                                <span (click)="openVerUbigeoUsuario(usuario.departamento)" style="cursor: pointer;">
                                                    <i class="mdi mdi-magnify"></i>
                                                </span>
                                            </div>
                                            <ng-template #templateUbigeoUnico>
                                                <div *ngIf="usuario.departamento.length > 0; else templateSinUbigeo">
                                                    {{usuario.departamento[0].departamento}}
                                                </div>
                                                <ng-template #templateSinUbigeo>

                                                </ng-template>
                                            </ng-template>
                                        </div>
                                    </div> -->
                                    <div><b>Correo: </b>{{ usuario.correos}}</div>
                                    <div><b>Teléfono: </b>{{ usuario.telefonos}}</div>
                                    <div><b>Habilitar</b>
                                        <div *ngIf="usuario.activo">
                                            <span (click)="cambiarContrasena(templateReseteoContrasena,usuario.id_usuario)" style="cursor: pointer;">
                                                <i class="mdi mdi-account-key"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="xs-footer-lista text-right">
                                    <span (click)="openEditarUsuario(usuario)" style="cursor: pointer;">
                                                <i class="mdi mdi-pencil"></i>
                                        </span>
                                    <span class="btn btn-sm btn-opt btn-icon" (click)="modificarEstado(usuario)"><i
                                                        class="mdi mdi-delete"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <div class="clearfix bg-white pt-3">
                            <div class="float-right">
                                <pagination [totalItems]="cantidadRegistros" [itemsPerPage]="numPaginasMostrar" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" [rotate]="false" firstText="&laquo;" lastText="&raquo;" [maxSize]="5" [(ngModel)]="paginaActiva" (pageChanged)="cambiarPagina($event)">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
<ng-template #templateReseteoContrasena>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Cambiar Contraseña</h4>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <label dlabels class="col-md-12 control-label">Nueva contraseña:</label>
            <div class="col-md-12">
                <input class="form-control" minlength="5" #nuevaClave="ngModel" type='password' required placeholder="ingrese la nueva contraseña" name="txtNuevo" [(ngModel)]="entidadResetearClave.nuevaClave" />
                <div [hidden]="nuevaClave.valid || nuevaClave.pristine" class="alert alert-danger">
                    La nueva clave es obligatorio
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <label dlabels class="control-label">Repetir Contraseña</label>
            </div>
            <div class="col-md-12">
                <input class="form-control" minlength="5" #repetirClave="ngModel" type='password' name="txtRepetir" required placeholder="vuelva a repetir la contraseña" [(ngModel)]="entidadResetearClave.repetirClave" />
                <div [hidden]="repetirClave.valid || repetirClave.pristine" class="alert alert-danger">
                    El repetir clave es obligatorio
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm" type="submit" id="btnGuardar" (click)="RegistrarReseteo()"><i
                    class="mdi mdi-content-save"></i> Guardar</button>
            <button class="btn btn-secondary btn-sm" id="btnCancelar" type="button" (click)="modalRef.hide()"><i
                    class="mdi mdi-close"></i> Cancelar</button>
        </div>

    </div>
</ng-template>