<div class="modal-header">
    <ng-container *ngIf="ACCION==1">
            <h4 class="modal-title">Nuevo Accidente - FURAT </h4>
            <p class="pl-4 pr-4">Formulario para el registro de Accidente - FURAT</p>
    </ng-container>
    <ng-container *ngIf="ACCION==2">
        <h4 class="modal-title">Edición de Accidentes - FURAT </h4>
        <p class="pl-4 pr-4">Formulario para actualizar información de Accidentes - FURAT</p>
    </ng-container>
</div>
<div class="modal-body">
    <accordion class="acordion-normal">
    <div class="row">
        <div class="col-12">
        <accordion-group [isOpen]=true>
            <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left">DATOS GENERALES DE FURAT</div>
            <span class="badge float-right pull-right">
                </span>
            </button>
            <div class="row form-group">
                <div class="col-sm-12 col-lg-6 col-xl-6">
                    <label class="control-label"><span class="text-danger">(*)</span> Comisaria</label>
                    <ng-select #tipoComisaria [items]="listaComisaria" placeholder="Seleccione" bindLabel="descripcion"
                        bindValue="id_comisaria" notFoundText="no se ha encontrado ningún item"
                        [(ngModel)]="OBJETO.id_comisaria" id="id_comisaria" name="id_comisaria">
                    </ng-select>
                </div>
                
            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-lg-4 col-xl-4">
                    <label class="control-label"><span class="text-danger">(*)</span> DNI</label>
                    <input  class="form-control"  type='text' maxlength="8" (keypress)="funciones.IsNumberKey($event);"
                            name="dni_policia" id="dni_policia" [(ngModel)]="OBJETO.dni_policia" placeholder="Ingrese el DNI" />
                    
                </div>
                <div class="col-sm-2 col-lg-4 col-xl-4">
                    <div style="height: 40%;">&nbsp;</div>
                    <button type="button" id="btnConsultar" class="btn pull-left ml-1 btn-success" (click)="validarInformacionReniec()">
                        Consultar
                    </button>
                </div>

            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-lg-4 col-xl-4">
                    <label class="control-label"><span class="text-danger">(*)</span> Nombres</label> 
                    <input  class="form-control"  type='text' [(ngModel)]="OBJETO.nombre_policia"
                            name="nombre_policia" id="nombre_policia" placeholder="Ingrese nombre"/>
                </div>
                <div class="col-sm-12 col-lg-4 col-xl-4">
                    <label class="control-label"><span class="text-danger">(*)</span> Apellido Paterno</label> 
                    <input  class="form-control"  type='text' [(ngModel)]="OBJETO.apellido_paterno"
                            name="apellido_paterno" id="apellido_paterno" placeholder="Ingrese apellido paterno"/>
                </div>
                <div class="col-sm-12 col-lg-4 col-xl-4">
                    <label class="control-label"><span class="text-danger">(*)</span> Apellido Materno</label> 
                    <input  class="form-control"  type='text' [(ngModel)]="OBJETO.apellido_materno"
                            name="apellido_materno" id="apellido_materno" placeholder="Ingrese apellido materno"/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-lg-4 col-xl-4">
                    <label class="control-label"><span class="text-danger">(*)</span> Grado</label>
                    <ng-select #tipoGrado [items]="listaGradoPolicia" placeholder="Seleccione" bindLabel="descripcion"
                        bindValue="id_grado_policia" notFoundText="no se ha encontrado ningún item"
                        [(ngModel)]="OBJETO.id_grado_policia" id="id_grado_policia" name="id_grado_policia">
                    </ng-select>
                </div>
                <div class="col-sm-12 col-lg-4 col-xl-4">
                    <label class="control-label"><span class="text-danger">(*)</span> N° CIP</label> 
                    <input  class="form-control"  type='text' [(ngModel)]="OBJETO.cip_policia" (keypress)="funciones.IsNumberKey($event);"
                            name="cip_policia" id="cip_policia" placeholder="Ingrese CIP" maxlength="8"/>
                </div>
                <div class="col-sm-12 col-lg-4 col-xl-4">
                    <label class="control-label"><span class="text-danger">(*)</span> Telefono</label> 
                    <input  class="form-control"  type='text'  [(ngModel)]="OBJETO.telefono_policia" (keypress)="funciones.IsNumberKey($event);"
                            name="telefono_policia" id="telefono_policia" placeholder="Ingrese telefono" maxlength="9"/>
                </div>
            </div>
            
        </accordion-group>
        <accordion-group [isOpen]="false">
            <button class="btn btn-link btn-block clearfix" accordion-heading>
                <div class="pull-left float-left">REGISTRO FURAT</div>
                <span class="badge float-right pull-right">
                </span>
            </button>
            <accordion-group [isOpen]=true>
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <div class="pull-left float-left">1. FECHA Y HORA DEL ACCIDENTE</div>
                    <span class="badge float-right pull-right">
                        </span>
                    </button>
                    <div class="row form-group">
                        <div class="col-sm-12 col-lg-6 col-xl-6">
                            <label class="control-label"><span class="text-danger">(*)</span> Fecha</label>
                            <input  class="form-control" type='text' name="fecha_registro" [(ngModel)]="OBJETO.fecha_registro" disabled
                            id="fecha_registro" placeholder="dd/mm/aaaa" bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', locale: 'es', containerClass: 'theme-red' }" />
                        </div>
                        <div class="col-sm-12 col-lg-6 col-xl-6">
                            <label class="control-label"><span class="text-danger">(*)</span> Hora</label> 
                            <input  class="form-control"  type='text' [(ngModel)]="OBJETO.hora_registro"  
                                    name="hora" id="hora" placeholder="Ingrese hora" disabled/>
                        </div>    
                    </div>
                    
            </accordion-group>
            <accordion-group [isOpen]=false>
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <div class="pull-left float-left">2. CLASE DE ACCIDENTE</div>
                    <span class="badge float-right pull-right">
                        </span>
                    </button>
                    <div class="row form-group">
                        <div class="col-sm-12 col-lg-6 col-xl-6">
                            <label class="control-label"><span class="text-danger">(*)</span> Clase</label>
                            <ng-select #tipoClaseAccidente [items]="listaClaseAccidente" placeholder="Seleccione" bindLabel="descripcion"
                                bindValue="id_clase_accidente" notFoundText="no se ha encontrado ningún item"
                                [(ngModel)]="OBJETO.id_clase_accidente" id="id_clase_accidente" name="id_clase_accidente" disabled>
                            </ng-select>
                        </div>
                        <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showSecuencia">
                            <label class="control-label"><span class="text-danger">(*)</span> Secuencia</label> 
                            <input  class="form-control"  type='text' [(ngModel)]="OBJETO.otro_clase_accidente"
                                    name="otro_clase_accidente" id="otro_clase_accidente" placeholder="Ingrese la secuencia"/>
                        </div>    
                    </div>  
            </accordion-group>
            <accordion-group [isOpen]=false>
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <div class="pull-left float-left">3. CONSECUENCIAS DEL ACCIDENTE</div>
                    <span class="badge float-right pull-right">
                        </span>
                    </button>
                    <div class="row form-group">
                            <div class="col-sm-12 col-lg-3 col-xl-3" *ngFor="let item of listaConsecuenciaAccidente; let i = index">
                                    <label><input type="checkbox" name="{{'consecuencia' + i}}" id="{{'consecuencia' + i}}" [(ngModel)]="item.seleccionado"
                                         (change)="seleccionarConsecuencia(item.id_consecuencia_accidente,item.seleccionado)"> {{item.descripcion}}</label>
                            </div>
                    </div>  
                    <div class="row form-group">
                            <div class="col-sm-12 col-lg-4 col-xl-4">
                                <label class="control-label"><span class="text-danger">(*)</span> Cantidad Fallecidos</label>
                                <input  class="form-control"  type='text' [(ngModel)]="OBJETO.cantidad_fallecidos" (keypress)="funciones.IsNumberKey($event);"
                                        name="cantidad_fallecidos" id="cantidad_fallecidos" placeholder="N°" maxlength="3"/>
                            </div>
                            <div class="col-sm-12 col-lg-4 col-xl-4">
                                <label class="control-label"><span class="text-danger">(*)</span> Cantidad Lesionados</label> 
                                <input  class="form-control"  type='text' [(ngModel)]="OBJETO.cantidad_lesionados" (keypress)="funciones.IsNumberKey($event);"
                                        name="cantidad_lesionados" id="cantidad_lesionados" placeholder="N°" maxlength="3"/>
                            </div>
                            <div class="col-sm-12 col-lg-4 col-xl-4">
                                <label class="control-label"><span class="text-danger">(*)</span> Cantidad de vehículos dañados</label> 
                                <input  class="form-control"  type='text' [(ngModel)]="OBJETO.cantidad_vehiculo_danado" (keypress)="funciones.IsNumberKey($event);"
                                        name="cantidad_vehiculo_danado" id="cantidad_vehiculo_danado" placeholder="N°" maxlength="3"/>
                            </div>
                    </div>  
            </accordion-group>
            <accordion-group [isOpen]=false>
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <div class="pull-left float-left">4.UBICACIÓN DEL ACCIDENTE</div>
                    <span class="badge float-right pull-right">
                        </span>
                    </button>
                    <div class="row form-group">
                            <div class="col-sm-12 col-lg-4 col-xl-4">
                                <label class="control-label"><span class="text-danger">(*)</span> Departamento</label>
                                <ng-select #ddldepartamentos [(ngModel)]="OBJETO.iddpto" [clearable]="true" [items]="departamentos"
                                    placeholder="Seleccione el departamento" bindLabel="nombdep" bindValue="iddpto"
                                    notFoundText="no se ha encontrado ningún item" id="iddpto" name="iddpto"
                                    (change)="DepartamentoSeleccionado($event)" disabled >
                                </ng-select>
                            </div>
                            <div class="col-sm-12 col-lg-4 col-xl-4">
                                <label class="control-label"><span class="text-danger">(*)</span> Provincia</label> 
                                <ng-select #ddlprovincias [(ngModel)]="OBJETO.idprov" [clearable]="true" [items]="provincias"
                                    placeholder="Todas las provincias" bindLabel="nombprov" bindValue="idprov"
                                    notFoundText="no se ha encontrado ningún item" id="idprov" name="idprov"
                                    (change)="ProvinciaSeleccionada($event)" disabled>
                                </ng-select>
                            </div>
                            <div class="col-sm-12 col-lg-4 col-xl-4">
                                <label class="control-label"><span class="text-danger">(*)</span> DISTRITO</label> 
                                <ng-select #ddldistritos [(ngModel)]="OBJETO.iddist" [clearable]="true" [items]="distritos"
                                        placeholder="todos los distritos" bindLabel="nombdist" bindValue="iddist"
                                        notFoundText="no se ha encontrado ningún item" id="iddist" name="iddist" disabled>
                                </ng-select>
                            </div>
                    </div>  
                    <div class="row form-group">
                            <div class="col-sm-12 col-lg-4 col-xl-4">
                                <label class="control-label"><span class="text-danger">(*)</span> Zona</label>
                                <ng-select #TipoZona [(ngModel)]="OBJETO.id_tipo_zona" [clearable]="true" [items]="listaTipoZona" disabled
                                        placeholder="Seleccione" bindLabel="descripcion" bindValue="id_tipo_zona"
                                        notFoundText="no se ha encontrado ningún item" id="id_tipo_zona" name="id_tipo_zona" disabled>
                                </ng-select>
                            </div>
                            <div class="col-sm-12 col-lg-4 col-xl-4">
                                <label class="control-label"><span class="text-danger">(*)</span> Tipo Via</label> 
                                <ng-select #TipoVia [(ngModel)]="OBJETO.id_tipo_via" [clearable]="true" [items]="listaTipoVia" disabled
                                        placeholder="Seleccione" bindLabel="descripcion" bindValue="id_tipo_via"
                                        notFoundText="no se ha encontrado ningún item" id="id_tipo_via" name="id_tipo_via" disabled>
                                </ng-select>
                            </div>
                            <div class="col-sm-12 col-lg-4 col-xl-4">
                                <label class="control-label"><span class="text-danger">(*)</span> Ciclovia</label> 
                                <div style="height: 10%;">&nbsp;</div>
                                <input  [(ngModel)]="OBJETO.es_ciclovia"  id="siCiclovia" type="radio" name="es_ciclovia" [value]="true" >
                                <label for="siCiclovia" class="mr-2">SI</label>
                    
                                <input [(ngModel)]="OBJETO.es_ciclovia" id="noCiclovia" type="radio" name="es_ciclovia" [value]="false">
                                <label for="noCiclovia" class="mr-2">NO</label>
                            </div>
                    </div> 
                    <div class="row form-group" *ngIf="showOtroTipoVia">
                        <div class="col-sm-12 col-lg-6 col-xl-6">
                                <label class="control-label"><span class="text-danger">(*)</span> Otro Tipo Via </label>
                                <input  class="form-control"  type='text' [(ngModel)]="OBJETO.otro_tipo_via"
                                        name="otro_tipo_via" id="otro_tipo_via" placeholder="Otro Tipo Via" disabled/>
                        </div>
                    </div>
                    <div class="row form-group">
                            <div class="col-sm-12 col-lg-6 col-xl-6">
                                <label class="control-label"><span class="text-danger">(*)</span> Dirección</label>
                                <input  class="form-control"  type='text' [(ngModel)]="OBJETO.direccion"
                                        name="direccion" id="direccion" placeholder="direccion" disabled/>
                            </div>
                            <div class="col-sm-12 col-lg-6 col-xl-6">
                                <label class="control-label"><span class="text-danger">(*)</span> Referencia</label> 
                                <input  class="form-control"  type='text' [(ngModel)]="OBJETO.referencia"
                                        name="referencia" id="referencia" placeholder="referencia" disabled/>
                            </div>
                    </div> 
                    <div class="row form-group">
                            <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showCodigoCarretera">
                                <label class="control-label"><span class="text-danger">(*)</span> kILOMETRO</label>
                                <div class="row">
                                    <div class="col-sm-5 col-lg-5 col-xl-5">
                                        <input  class="form-control"  type='text' placeholder="N°" (keypress)="funciones.IsNumberKey($event);"
                                        name="km_k" id="km_k" [(ngModel)]="OBJETO.km_k" maxlength="3"/>  
                                    </div>
                                    <div class="col-sm-1 col-lg-1 col-xl-1">
                                            + 
                                        </div>
                                    <div class="col-sm-5 col-lg-5 col-xl-5">
                                        <input  class="form-control"  type='text' placeholder="N°" (keypress)="funciones.IsNumberKey($event);"
                                        name="km_m" id="km_m" [(ngModel)]="OBJETO.km_m" maxlength="3"/>
                                    </div>
                                </div>
                                
                               
                                
                            </div>
                            <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showCodigoCarretera">
                                <label class="control-label"><span class="text-danger">(*)</span> Código Carretera</label> 
                                <ng-select #TipoCodigoCarretera [(ngModel)]="OBJETO.id_codigo_carretera" [clearable]="true" [items]="listaCodigoCarretera"
                                        placeholder="Seleccione" bindLabel="descripcion" bindValue="id_codigo_carretera"
                                        notFoundText="no se ha encontrado ningún item" id="id_codigo_carretera" name="id_codigo_carretera" >
                                </ng-select>
                            </div>
                    </div>
                    <div class="row form-group">
                            <div class="col-sm-12 col-lg-6 col-xl-6">
                                <label class="control-label"><span class="text-danger">(*)</span> Coordenadas SUR</label>
                                <input  class="form-control"  type='text' [(ngModel)]="OBJETO.latitud"
                                        name="latitud" id="latitud" placeholder="latitud" disabled/>
                            </div>
                            <div class="col-sm-12 col-lg-6 col-xl-6">
                                <label class="control-label"><span class="text-danger">(*)</span> Coordenadas Oeste</label> 
                                <input  class="form-control"  type='text' [(ngModel)]="OBJETO.longitud"
                                        name="longitud" id="longitud" placeholder="longitud" disabled/>
                            </div>
                    </div>
                    <div class="row form-group">
                            <div class="col-sm-12 col-lg-12 col-xl-12">
                                <label class="control-label"><span class="text-danger">(*)</span> Condición Climatologica</label>
                                <ng-select #TipoCondicionClimatologica [(ngModel)]="OBJETO.id_condicion_climatologica" [clearable]="true" [items]="listaCondicionClimatologica"
                                        placeholder="Seleccione" bindLabel="descripcion" bindValue="id_condicion_climatologica"
                                        notFoundText="no se ha encontrado ningún item" id="id_condicion_climatologica" name="id_condicion_climatologica" >
                                </ng-select>
                            </div>
                    </div>
            </accordion-group>
            <accordion-group [isOpen]=false>
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <div class="pull-left float-left">5. VEHÍCULOS Y PERSONAS AFECTADAS</div>
                    <span class="badge float-right pull-right">
                        </span>
                    </button>
                    <div class="row form-group">
                        <div class="col-sm-12 col-lg-4 col-xl-4">
                            <label class="control-label"><span class="text-danger">(*)</span> Número de Vehículos</label>
                            <input  class="form-control"  type='text' [(ngModel)]="OBJETO.numero_vehiculos" (keypress)="funciones.IsNumberKey($event);" 
                                    name="numero_vehiculos" id="numero_vehiculos" placeholder="N°" maxlength="3"/>
                        </div>
                        <div class="col-sm-12 col-lg-4 col-xl-4">
                            <label class="control-label"><span class="text-danger">(*)</span> Número de Conductores</label> 
                            <input  class="form-control"  type='text' [(ngModel)]="OBJETO.numero_conductores" (keypress)="funciones.IsNumberKey($event);"
                                    name="numero_conductores" id="numero_conductores" placeholder="N°" maxlength="3"/>
                        </div>
                        <div class="col-sm-12 col-lg-4 col-xl-4">
                            <label class="control-label"><span class="text-danger">(*)</span> Números de peatones</label> 
                            <input  class="form-control"  type='text' [(ngModel)]="OBJETO.numero_peatones" (keypress)="funciones.IsNumberKey($event);"
                                    name="numero_peatones" id="numero_peatones" placeholder="N°" maxlength="3"/>
                        </div>
                    </div>  
                    <div class="row form-group">
                        <div class="col-sm-12 col-lg-4 col-xl-4">
                            <label class="control-label"><span class="text-danger">(*)</span> Número de Pasajeros</label>
                            <input  class="form-control"  type='text' [(ngModel)]="OBJETO.numero_pasajeros" (keypress)="funciones.IsNumberKey($event);"
                                    name="numero_pasajeros" id="numero_pasajeros" placeholder="N°" maxlength="3"/>
                        </div>
                        <div class="col-sm-12 col-lg-4 col-xl-4">
                            <label class="control-label"><span class="text-danger">(*)</span> Número de Ocupantes</label> 
                            <input  class="form-control"  type='text' [(ngModel)]="OBJETO.numero_ocupantes" (keypress)="funciones.IsNumberKey($event);"
                                    name="numero_ocupantes" id="numero_ocupantes" placeholder="N°" maxlength="3"/>
                        </div>
                    </div>  
            </accordion-group>
            <accordion-group [isOpen]=false>
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <div class="pull-left float-left">6. CARACTERÍSTICAS DEL LUGAR DEL ACCIDENTE</div>
                    <span class="badge float-right pull-right">
                        </span>
                    </button>
                    <div class="row form-group">
                        <div class="col-sm-12 col-lg-6 col-xl-6">
                            <label class="control-label"><span class="text-danger">(*)</span> Zonificación</label>
                            <ng-select #tipoZonificacion [items]="listaZonificacion" placeholder="Seleccione" bindLabel="descripcion"
                                bindValue="id_zonificacion" notFoundText="no se ha encontrado ningún item"
                                [(ngModel)]="OBJETO.id_zonificacion" id="id_zonificacion" name="id_zonificacion">
                            </ng-select>
                        </div>
                    </div>  
                    <div class="row form-group">
                        <div class="col-sm-12 col-lg-6 col-xl-6">
                            <label class="control-label"><span class="text-danger">(*)</span> Caracteristicas</label>
                            <ng-select #tipoCaracteristica [items]="listaCaracteristicaVia" placeholder="Seleccione" bindLabel="descripcion"
                                bindValue="id_caracteristica_via" notFoundText="no se ha encontrado ningún item" (change)="validarOtraCaracteristica($event)"
                                [(ngModel)]="OBJETO.id_caracteristica_via" id="id_caracteristica_via" name="id_caracteristica_via">
                            </ng-select>
                        </div>
                        <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showOtraCaracteristica">
                            <label class="control-label"><span class="text-danger">(*)</span> Otro</label> 
                            <input  class="form-control"  type='text' 
                                    name="otro_caracteristica_via" id="otro_caracteristica_via" [(ngModel)]="OBJETO.otro_caracteristica_via"  placeholder="otro"/>
                        </div>
                    </div>  
                    <div class="row form-group">
                        <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showPerfilLongitudinal">
                            <label class="control-label"><span class="text-danger">(*)</span> Perfil Longitudinal de la Vía</label>
                            <ng-select #tipoPerfilLongitudinal [items]="listaPerfilLongitudinal" placeholder="Seleccione" bindLabel="descripcion"
                                bindValue="id_perfil_longitudinal" notFoundText="no se ha encontrado ningún item" (change)="validarObservacionPerfil($event)"
                                [(ngModel)]="OBJETO.id_perfil_longitudinal" id="id_perfil_longitudinal" name="id_perfil_longitudinal">
                            </ng-select>
                        </div>
                        <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showObservacionPerfil">
                            <label class="control-label"><span class="text-danger">(*)</span> Observaciones</label> 
                            <input  class="form-control"  type='text' 
                                    name="observacion_perfil" id="observacion_perfil" [(ngModel)]="OBJETO.observacion_perfil"  placeholder="observaciones"/>
                        </div>
                    </div> 
                    <div class="row form-group">
                        <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showNumCarriles">
                            <label class="control-label"><span class="text-danger">(*)</span> Número de Carriles</label> 
                            <input  class="form-control"  type='text' (keypress)="funciones.IsNumberKey($event);" maxlength="4"
                                    name="numero_carril" id="numero_carril" [(ngModel)]="OBJETO.numero_carril"  placeholder="carril"/>
                        </div>
                        <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showNumCarriles">
                                <label class="control-label"><span class="text-danger">(*)</span> Número de Senderos</label> 
                                <input  class="form-control"  type='text' (keypress)="funciones.IsNumberKey($event);" maxlength="4"
                                        name="numero_sendero" id="numero_sendero" [(ngModel)]="OBJETO.numero_sendero"  placeholder="sendero"/>
                        </div>
                    </div> 
                    <div class="row form-group">
                        <div class="col-sm-12 col-lg-6 col-xl-6">
                            <label class="control-label"><span class="text-danger">(*)</span> Superficie de la Calzada</label>
                            <ng-select #tipoSuperficieCalzada [items]="listaSuperficieCalzada" placeholder="Seleccione" bindLabel="descripcion"
                                bindValue="id_superficie_calzada" notFoundText="no se ha encontrado ningún item" (change)="validarObservacionSuperficie($event)"
                                [(ngModel)]="OBJETO.id_superficie_calzada" id="id_superficie_calzada" name="id_superficie_calzada">
                            </ng-select>
                        </div>
                        <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showObservacionSuperficieCalzada">
                            <label class="control-label"><span class="text-danger">(*)</span> Observaciones</label> 
                            <input  class="form-control"  type='text' 
                                    name="observacion_superficie" id="observacion_superficie" [(ngModel)]="OBJETO.observacion_superficie"  placeholder="observaciones"/>
                        </div>
                    </div> 
                    <div class="row form-group">
                        <div class="col-sm-12 col-lg-12 col-xl-12">
                                <label class="control-label"><span class="text-danger">(*)</span> ¿Existe alguna señalización próxima o en el lugar del accidente?</label> 
                                <div style="height: 10%;">&nbsp;</div>
                                <input  [(ngModel)]="OBJETO.tiene_senializacion"  id="siSenializacion" (change)="validarSenialVertical(OBJETO.tiene_senializacion)" type="radio" name="tiene_senializacion" [value]="true">
                                <label for="siSenializacion" class="mr-2">SI</label>
                    
                                <input [(ngModel)]="OBJETO.tiene_senializacion" id="noSenializacion" (change)="validarSenialVertical(OBJETO.tiene_senializacion)" type="radio" name="tiene_senializacion"  [value]="false">
                                <label for="noSenializacion" class="mr-2">NO</label>
                        </div>
                    </div>
                    <div class="row form-group" *ngIf="showSenialVertical">
                        <div class="col-sm-12 col-lg-12 col-xl-12">
                                <label class="control-label"><span class="text-danger">(*)</span> ¿Existe alguna señal vertical?</label> 
                                <div style="height: 10%;">&nbsp;</div>
                                <input  [(ngModel)]="OBJETO.senial_vertical" id="siSenialVertical" (change)="validarClasificacion(OBJETO.senial_vertical)" type="radio" name="senial_vertical" [value]="true">
                                <label for="siSenialVertical" class="mr-2">SI</label>
                    
                                <input [(ngModel)]="OBJETO.senial_vertical" id="noSenialVertical" (change)="validarClasificacion(OBJETO.senial_vertical)" type="radio" name="senial_vertical" [value]="false"
                                    >
                                <label for="noSenialVertical" class="mr-2">NO</label>
                        </div>
                    </div>
                    <div class="row form-group" *ngIf="showClasificacion">
                        <div class="col-sm-12 col-lg-6 col-xl-6">
                            <label class="control-label"><span class="text-danger">(*)</span> Clasificación</label>
                            <ng-select #tipoClasificacionVertical [items]="listaSenialVertical" placeholder="Seleccione" bindLabel="descripcion"
                                bindValue="id_clasificacion_senial_vertical" notFoundText="no se ha encontrado ningún item" (change)="validarClasificacionVertical($event)"
                                [(ngModel)]="OBJETO.id_clasificacion_senial_vertical" id="id_clasificacion_senial_vertical" name="id_clasificacion_senial_vertical">
                            </ng-select>
                        </div>
                        <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showNombreSenial">
                            <label class="control-label"><span class="text-danger">(*)</span> Nombre Señal</label> 
                            <input  class="form-control"  type='text' 
                                    name="nombre_senial_vertical" id="nombre_senial_vertical" [(ngModel)]="OBJETO.nombre_senial_vertical"  placeholder="Nombre señal"/>
                        </div>
                    </div> 
                    <div class="row form-group">
                        <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showSenialVertical">
                            <label class="control-label"><span class="text-danger">(*)</span> ¿Existe alguna señal horizontal?</label> 
                            <div style="height: 10%;">&nbsp;</div>
                            <input  [(ngModel)]="OBJETO.senial_horizontal" (change)="seleccionarSenialHorizontal($event,OBJETO.senial_horizontal)" id="siSenialHorizontal" type="radio" name="senial_horizontal" [value]="true">
                            <label for="siSenialHorizontal" class="mr-2">SI</label>
                
                            <input [(ngModel)]="OBJETO.senial_horizontal" (change)="seleccionarSenialHorizontal($event,OBJETO.senial_horizontal)" id="noSenialHorizontal" type="radio" name="senial_horizontal" [value]="false"
                                >
                            <label for="noSenialHorizontal" class="mr-2">NO</label>
                        </div>
                        <div class="col-sm-12 col-lg-6 col-xl-6" *ngIf="showNombreSenialHorizontal">
                            <label class="control-label"><span class="text-danger">(*)</span> Nombre</label> 
                            <input  class="form-control"  type='text' 
                                    name="nombre_senial_horizontal" id="nombre_senial_horizontal" [(ngModel)]="OBJETO.nombre_senial_horizontal"  placeholder="Nombre"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12 col-lg-6 col-xl-6">
                            <label class="control-label"><span class="text-danger">(*)</span> Limite de velocidad en dispositivos de control</label> 
                            
                        </div>
                        <div class="col-sm-12 col-lg-3 col-xl-3" >
                            <label class="control-label"><span class="text-danger">(*)</span> Máximo (KM/H)</label> 
                            <input  class="form-control"  type='text' [textMask]="{mask: funciones.currencyMaskKm}" maxlength="5"
                                    name="velocidad_maxima" id="velocidad_maxima" [(ngModel)]="OBJETO.velocidad_maxima"  placeholder="Máximo"/>
                        </div>
                        <div class="col-sm-12 col-lg-3 col-xl-3" >
                            <label class="control-label"><span class="text-danger">(*)</span> Minimo (KM/H)</label> 
                            <input  class="form-control"  type='text' [textMask]="{mask: funciones.currencyMaskKm}" maxlength="5"
                                    name="velocidad_minima" id="velocidad_minima" [(ngModel)]="OBJETO.velocidad_minima"  placeholder="Minimo"/>
                        </div>
                    </div>
            </accordion-group>
            <accordion-group [isOpen]=false>
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <div class="pull-left float-left">7. CAUSAS DEL ACCIDENTE DE TRÁNSITO</div>
                    <span class="badge float-right pull-right">
                        </span>
                    </button>
                    <div class="row form-group">
                        <div class="col-sm-12 col-lg-4 col-xl-4">
                            <label class="control-label"><span class="text-danger">(*)</span> Causa Principal</label>
                            <ng-select #tipoCausaPrincipal [items]="listaCausaPrincipal" placeholder="Seleccione" bindLabel="descripcion"
                                bindValue="id_causa_principal_accidente" notFoundText="no se ha encontrado ningún item" (change)="seleccionarCausaEspecifica($event)"
                                [(ngModel)]="OBJETO.id_causa_principal_accidente" id="id_causa_principal_accidente" name="id_causa_principal_accidente" >
                            </ng-select>
                        </div>
                        <div class="col-sm-12 col-lg-4 col-xl-4" *ngIf="showCausaEspecifica">
                            <label class="control-label"><span class="text-danger">(*)</span> Causa Especifica</label>
                            <ng-select #tipoCausaEspecifica [items]="listaCausaEspecifica" placeholder="Seleccione" bindLabel="descripcion"
                                bindValue="id_causa_especifica_accidente" notFoundText="no se ha encontrado ningún item"
                                [(ngModel)]="OBJETO.id_causa_especifica_accidente" id="id_causa_especifica_accidente" name="id_causa_especifica_accidente" >
                            </ng-select>
                        </div>    
                        <div class="col-sm-12 col-lg-4 col-xl-4">
                            <label class="control-label"><span class="text-danger">(*)</span> Otro</label> 
                            <input  class="form-control"  type='text' 
                                    name="otro_causa_accidente" id="otro_causa_accidente" [(ngModel)]="OBJETO.otro_causa_accidente"  placeholder="otro"/>
                        </div>  
                    </div>  
            </accordion-group>
            <accordion-group [isOpen]=false>
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <div class="pull-left float-left">8. OBSERVACIONES</div>
                    <span class="badge float-right pull-right">
                        </span>
                    </button>
                    <div class="row form-group">
                        <div class="col-sm-12 col-lg-6 col-xl-6">
                            <label class="control-label"><span class="text-danger">(*)</span> Observaciones</label> 
                            <input  class="form-control"  type='text' [(ngModel)]="OBJETO.observaciones"
                                    name="observaciones" id="observaciones" placeholder="Ingrese las Observaciones"/>
                        </div>    
                    </div>  
            </accordion-group>
        </accordion-group>
        </div>
    </div>
    </accordion>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="Grabar()" id="btnGuardar" ><i class="mdi mdi-content-save"></i> Guardar</button>
    <button class="btn btn-secondary btn-sm" id="btnTraCancelar" type="button" (click)="closeModal()">
            <i class="mdi mdi-close"></i> Cancelar</button>
</div>
