.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-image: url(../../../assets/img/imagen_login.jpg);
    background-position: center center;
    filter: blur(2px);
}

.center {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.login {
    width: 350px;
    color: #fff;
    //backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    padding: 20px 15px;
}

.text-shadow {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.9);
}

.t1 {
    font-size: 16px;
    line-height: 18px;
}

.t2 {
    font-size: 30px;
    line-height: 40px;
}

.logo {
    height: 32px;
}

.entidad {
    color: #fff;
    text-shadow: 0 1px 3px #000;
    font-size: 12px;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}