<!-- <div class="bg">
</div>
<div class="backgorund-image togle-image bg-drop"></div> -->
<video class="video" id="app-video" loop="">
    <source src="assets/video/video.mp4" type="video/mp4"></video>
<div class="backdrop"></div>
<div class="center">
    <div class="container login">

        <div>
            <div class="float-left" style="width: 40%;">
                <img src="assets/img/accidente_car_white.svg" style="width: 100%;height: 7vh;">
            </div>
            <div class="float-right text-shadow">
                <div class="t1">
                    <div>Sistema de Registro</div>
                    <div>de Accidentes de Tránsito</div>
                </div>
                <div class="t2">SRAT</div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <form [formGroup]="inicio" (ngSubmit)="onSubmit(templateReseteoContrasena)">
                    <input type="text" class="form-control" placeholder="Usuario" formControlName="UserName" autocomplete="off" id="txtUsuario" aria-label="Usuario" (change)="LimpiarMensaje($event)" />
                    <br>
                    <input type="password" class="form-control" placeholder="Contraseña" formControlName="Password" autocomplete="new-password" id="txtPassword" aria-label="Contraseña" (change)="LimpiarMensaje($event)" />
                    <div class="row mt-3 justify-content-center">
                        <div class="col-6" id="botonLogin">
                            <button class="btn btn-sm btn-danger form-control text-center justify-content-center" type="submit">INICIAR</button>
                        </div>
                        <div class="col-12 text-center">
                            <div class="mensaje mb-0 c-red">{{htmlStr}}</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div _ngcontent-c2="" class="container pt-4">
        <div _ngcontent-c2="" class="row text-center mt-5 mb-4">
            <div _ngcontent-c2="" class="col-lg-3 mb-4">
                <img _ngcontent-c2="" alt="Ministerio de Transportes y comunicaciones" class="logo" src="assets/img/logo-mtc.png">
            </div>
            <div _ngcontent-c2="" class="col-lg-6 mb-4 entidad">Ministerio de Transportes y Comunicaciones
                <br _ngcontent-c2="">Todos los derechos reservados © 2020 </div>
            <div _ngcontent-c2="" class="col-lg-3">
                <img _ngcontent-c2="" alt="El Perú  Primero" class="logo" src="assets/img/el-peru-primero.png">
            </div>
        </div>
    </div>

</div>
<ng-template #templateReseteoContrasena>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Cambiar Contraseña</h4>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <label dlabels class="col-md-12 control-label">Nueva contraseña:</label>
            <div class="col-md-12">
                <input class="form-control" minlength="5" #nuevaClave="ngModel" type='password' required placeholder="ingrese la nueva contraseña" name="txtNuevo" [(ngModel)]="entidadResetearClave.nuevaClave" />
                <div [hidden]="nuevaClave.valid || nuevaClave.pristine" class="alert alert-danger">
                    La nueva clave es obligatorio
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <label dlabels class="control-label">Repetir Contraseña</label>
            </div>
            <div class="col-md-12">
                <input class="form-control" minlength="5" #repetirClave="ngModel" type='password' name="txtRepetir" required placeholder="vuelva a repetir la contraseña" [(ngModel)]="entidadResetearClave.repetirClave" />
                <div [hidden]="repetirClave.valid || repetirClave.pristine" class="alert alert-danger">
                    El repetir clave es obligatorio
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-sm btn-danger" type="submit" id="btnGuardar" (click)="RegistrarReseteo()">
              <i class="mdi mdi-content-save"></i> Guardar</button>
            <button class="btn btn-sm btn-plomo" id="btnCancelar" type="button" (click)="modalRef.hide()">
              <i class="mdi mdi-close"></i> Cancelar</button>
        </div>

    </div>
</ng-template>