/* You can add global styles to this file, and also import other style files */

@import '~@mdi/font/css/materialdesignicons.min.css';
@import "~material-icons/iconfont/material-icons.css";
$font-stack: "Open Sans",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #D32E2F !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$primary: $red !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;
@import '../node_modules/bootstrap/scss/bootstrap';
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(assets/fonts/RobotoTTF/Roboto-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(assets/fonts/RobotoTTF/Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/RobotoTTF/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(assets/fonts/RobotoTTF/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/RobotoTTF/Roboto-Bold.ttf) format('truetype');
}

@media (min-width: 1400px) {
    .container {
        max-width: 1405px;
        width: 100%;
    }
    .modal-registro-usuarios,
    .modal-registrar-menu,
    .modal-registrar-perfil,
    .modal-registro-componentes {
        min-width: 1000px;
    }
}

@media (min-width: 992px) {
    .modal-registrar-accidente {
        min-width: 800px;
    }
}

@media (min-width: 1200px) {
    .modal-registrar-accidente {
        min-width: 1000px;
    }
}

@media (min-width: 945px) and (max-width: 1400px) {
    .modal-registrar-accidente {
        min-width: 800px;
    }
    .modal-registrar-vehiculo {
        min-width: 800px;
    }
    .modal-registrar-conductor {
        min-width: 800px;
    }
}

@media (min-width: 720px) and (max-width: 950px) {
    .modal-registrar-accidente {
        min-width: 800px;
    }
    .modal-registrar-vehiculo {
        min-width: 700px;
    }
    .modal-registrar-conductor {
        min-width: 700px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

#nav-top {
    transition: all 0.3s;
}

#content {
    width: calc(100% - 60px);
    min-height: 100%;
    transition: all 0.3s;
    position: absolute;
    top: 96px;
    right: 0;
    background: #ffffff;
}

.pace.pace-active:after {
    content: "" !important;
    height: 100% !important;
    background-color: black !important;
    opacity: 0.2;
    position: fixed !important;
    z-index: 1999 !important;
    width: 100% !important;
    ;
    cursor: wait !important;
    display: block;
    top: 0;
    left: 0;
}

.pace.pace-active:before {
    width: 220px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0) !important;
    content: ' ';
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 0 0px #CFD8DC;
    border-radius: 3px;
}

.pace {
    pointer-events: all !important;
    width: 120px !important;
    height: 120px !important;
    .pace-progress-inner {
        // height: 0 !important;
        display: block;
        position: relative !important;
        right: 0px;
        width: 100% !important;
        height: 50px;
        // box-shadow: 0 0 10px #ee3148, 0 0 5px #ee3148;
        box-shadow: none !important;
        opacity: 1.0;
        transform: none !important;
        overflow: hidden;
    }
    .pace-progress {
        transform: translate(-50%, -50%) !important;
        margin-left: 33%;
        top: 50%;
        &:before {
            padding: 20% 0 30px !important;
            margin: -24px 0 0 -4px !important;
            background-color: #616161 !important;
        }
    }
}

.pace-activity {
    border: 7px solid #f3f3f3 !important;
    border-radius: 50% !important;
    border-top: 7px solid #616161 !important;
    width: 120px !important;
    height: 120px !important;
    -webkit-animation: spin 0.5s linear infinite !important;
    /* Safari */
    animation: spin 1s linear infinite !important;
    transform: translate(-50%, -50%);
    top: -30px;
    left: -10px;
    &:before {
        content: none !important;
    }
    &:after {
        content: none !important;
    }
}

.pace-running>*:not(.pace) {
    //opacity:0;
}

.pace-running {
    app-login {
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mdi:before,
.mdi-set {
    font: normal normal normal 24px/1 "Material Design Icons";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}

.carousel-control-next-icon {
    background-color: black;
    cursor: pointer;
}

.carousel-control-prev-icon {
    background-color: black;
    cursor: pointer;
}

.carousel-indicators {
    margin-bottom: 0px;
    li {
        margin-top: 15px;
        background-color: black;
    }
}

.inner-addon {
    position: relative;
    align-items: center;
    display: grid;
    width: 100%;
    input[readonly] {
        background-color: inherit;
    }
    .close {
        position: absolute;
        top: -2px;
        right: 3px;
        i {
            font-size: 12px;
        }
    }
    label {
        position: absolute;
        padding: 0 10px;
        align-items: center;
        display: grid;
        margin: 0;
        height: 100%;
        a {
            color: #767676;
            display: flex;
            height: inherit;
            text-decoration: none;
            align-items: center;
            &:hover {
                color: #020202;
            }
        }
    }
}

.input-file-txt-max {
    position: absolute;
    font-size: 7px;
    top: 2px;
    right: 3px;
}

// /* style glyph */
.inner-addon>.icono {
    position: absolute;
    padding: 0 10px;
    pointer-events: none;
}

// /* align glyph */
.left-addon>.icono,
.left-addon>label {
    left: 0px;
}

.right-addon>.icono,
.right-addon>label {
    right: 0px;
}

// /* add padding  */
.left-addon>input {
    padding-left: 40px;
}

.right-addon>input {
    padding-right: 40px;
}

.navbar {
    padding: 15px 10px;
    background: $primary;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    font-size: 14px;
    color: #ffffff;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

pagination {
    .page-item {
        &.active .page-link {
            background-color: #f0f0f0;
            color: $black;
        }
    }
    .page-link {
        border: none !important;
        color: $gray-900;
    }
}

.btn-icon,
a.btn-icon {
    text-decoration: none;
    opacity: .8;
    transition: all ease .2s;
    color: rgba(0, 0, 0, .87);
    display: inline-flex;
    span,
    i,
    img {
        display: inline-flex;
    }
    i {
        font-size: 20px;
    }
    img {
        height: 30px;
    }
}

.btn-icon:hover,
a.btn-icon:hover {
    text-decoration: none;
    opacity: 1;
}

// //TABLAS
.table-hover {
    width: calc(100% - 2px);
    margin-left: 1px;
    tbody tr {
        transition: all ease-in-out 0.1s;
        &:hover {
            background-color: inherit;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 -1px 0px rgba(0, 0, 0, 0.18);
            ;
        }
    }
}

table th {
    background-color: #F0F0F0;
    color: $gray-900;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

// //END TABLE
.UsuarioPerfil {
    color: $white;
}

// #content{background-color: $gray-200
// }
.tab-content {
    padding: 20px;
    // background-color: $gray-400
}

.nav-tabs .nav-link {
    border: 0;
    border-radius: 0;
    color: $gray-700;
    padding: 15px 10px;
}

.nav-tabs .nav-link.active {
    border-bottom: solid 3px $primary;
    color: $primary;
}

.nav-tabs .nav-link:hover {
    background-color: $gray-200;
}

.card-header {
    background-color: $gray-100
}

// //---FIN
.header-limitado {
    width: calc(100% - 40px);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

.modal-body {
    margin: 0 30px;
}

.modal-title {
    margin: 10px 25px;
    color: rgba(140, 139, 139, 1) !important;
    font-size: 1.8rem;
}

.modal .modal-header {
    text-align: center;
    border-bottom: 0;
    padding: 25px 25px 0;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
}

.modal-subtitle-pequeño {
    margin-top: 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

.modal-subtitle-mediano {
    margin-top: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.modal-subtitle-grande {
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

// .alineando {
//     margin-left: 15px;
//     margin-right: 15px;
//     margin-bottom: 4px;
//     border-radius: 3px;
//     padding: 0rem !important;
//     border-bottom: 0px;
// }
.form-control {
    font-size: 12px !important;
    border-radius: 2px !important;
}

.card {
    border: none;
    margin-bottom: 20px;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.card-auto {
    position: absolute !important;
    width: calc(100% - 30px);
    height: calc(100% - 20px);
}

.card-body {
    position: relative;
}

.card .card-header {
    border-radius: 0;
    border-bottom: 0;
    margin: 0;
    padding: 20px;
    position: relative;
    z-index: 3;
    min-height: 48px;
}

[class^="icon-"],
[class*=" icon-"] {
    font-size: 20px;
}

.icon-card-title {
    right: 20px;
}

.div-centrado {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.xs-display {
    display: none;
}

.xs-p-140 {
    width: 200px !important;
}

@media (max-width: 991.98px) {
    .card-principal {
        box-shadow: none;
        border: 0 !important;
    }
    .card-principal .card-body {
        padding: 0;
    }
    .table-responsive {
        margin-right: 0;
        margin-left: 0;
    }
    .xs-100 {
        width: 100%;
    }
    .xs-footer-lista {
        background-color: #fafafa !important;
        border-top: solid 1px #ebebeb !important;
    }
    .pre-wrap {
        white-space: pre;
    }
    .btn-icon,
    a.btn-icon {
        text-decoration: none;
        opacity: .8;
        transition: all ease .2s;
        color: rgba(0, 0, 0, .87);
    }
    .xs-footer-lista .btn-icon {
        background-color: #eeeeee;
        display: inline-block;
        height: 36px;
        width: 36px;
        color: rgba(0, 0, 0, 0.87);
        font-size: 16px;
        border-radius: 50%;
        text-align: center;
        line-height: 36px;
    }
    .xs-footer-lista .btn-icon:hover {
        background-color: #f5f5f5;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
    }
    .xs-grid-detalle>td {
        margin: 0;
        padding: 0 !important;
    }
    .xs-grid-detalle thead {
        display: none;
    }
    .xs-grid-detalle>td tr {
        border-top: solid 1px #ebebeb !important;
    }
    .xs-grid-detalle>td tr {
        border-top: 0;
    }
    .xs-hidden {
        display: none;
    }
    .display {
        display: none;
    }
    .xs-display {
        display: block;
    }
    .xs-inline-block {
        display: inline-block;
    }
    .img-logo-head {
        display: none;
    }
    .lastTD-xs-hidden tbody tr:last-child {
        display: none;
    }
    table,
    tbody,
    tr,
    td {
        display: block;
        text-align: left;
        border: 0 !important;
    }
    thead {
        display: none;
    }
    .bs-datepicker-body table {
        display: table;
    }
    .bs-datepicker-body tr {
        display: table-row;
    }
    .bs-datepicker-body td {
        display: table-cell;
    }
    th {
        display: none;
    }
    div.xs-th {
        display: block;
        text-align: left;
    }
    span.xs-th {
        display: inline-block;
        text-align: left;
    }
    .table tr td {
        padding-bottom: 0;
    }
    .table tr td:last-child {
        padding-bottom: 10px;
    }
    .td-xs-d-tc {
        display: table-cell;
    }
    .td-xs-b-0 {
        border: 0 !important;
        background-color: transparent !important;
    }
    .table .table {
        background-color: inherit;
        box-shadow: none !important;
        margin: 0;
    }
    // .table-principal>tbody {
    //     margin-bottom: 20px;
    //     box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    // }
    //     .table-principal tbody tr {
    //         position: relative;
    //     }
    //     .table-principal tbody tbody tr {
    //         background-color: inherit !important;
    //     }
    //     .table-normal tr {
    //         margin-bottom: 20px;
    //         box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    //         background-color: #ffffff !important;
    //     }
    .table-full-detalle thead {
        display: none;
    }
    .table-full-detalle tr {
        border-top: solid 1px #dddddd !important;
        background-color: #ffffff !important;
    }
    .table-full-detalle tr:last-child {
        border-bottom: solid 1px #dddddd !important;
    }
    .table-full-detalle .xs-footer-lista {
        border: 0 !important;
        background-color: inherit !important;
    }
    .card-principal {
        border: 0 !important;
        background-color: #f1f1f1 !important;
        .card-body {
            padding: 0;
        }
    }
    .xs-text-right {
        text-align: right;
    }
    .xs-text-center {
        text-align: center !important;
    }
    .xs-text-left {
        text-align: left;
    }
    .xs-display .item-tag {
        padding: 5px 8px;
        font-size: 10px;
        margin-right: 5px;
    }
    .card-auto {
        position: static !important;
        width: auto;
        height: auto;
    }
    .card-auto .div-centrado {
        position: static;
        transform: none;
        left: 50%;
        top: 50%;
    }
    .xs-absolute {
        position: absolute;
    }
    .xs-relative {
        position: relative;
    }
    .xs-row-seleccionable {
        margin: 10px 20px 0 0;
        position: absolute;
        top: 0;
        right: 0;
    }
    .xs-display-inline-block {
        display: inline-block;
    }
    .xs-p-0 {
        padding: 0 !important;
    }
    .xs-p-b-0 {
        padding-bottom: 0 !important;
    }
    .xs-p-tb-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .xs-p-t-0 {
        padding-top: 0 !important;
    }
    .xs-p-l-1 {
        padding-left: 10px !important;
    }
    .xs-p-r-1 {
        padding-right: 10px !important;
    }
    .xs-p-t-1 {
        padding-top: 10px !important;
    }
    .xs-m-0 {
        margin: 0 !important;
    }
    .xs-m-t-1 {
        margin-top: 10px !important;
    }
    .xs-m-r-1 {
        margin-right: 10px !important;
    }
    .xs-m-l-2 {
        margin-left: 20px !important;
    }
    .xs-m-r-2 {
        margin-right: 20px !important;
    }
}

.f-s-5rem {
    font-size: 5rem;
}

.f-s-3rem {
    font-size: 3rem;
}

.f-s-2rem {
    font-size: 2rem;
}

.f-s-6rem {
    font-size: 6rem;
}

.f-s-1-5rem {
    font-size: 1.5rem;
}

.l-h-100 {
    line-height: 100%;
}

.c-ContRegistros {
    color: #254151;
}

.btn {
    border-radius: 3px !important;
    font-size: inherit !important;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
}

// .btn-registro {
//     color: #fff;
//     background-color: $primary;
//     border-color: $primary;
//     padding: 10px 10px 6px 10px;
// }
.pl-1 {
    padding-right: 4px !important;
}

// .btn-registro:hover {
//     color: #fff;
//     background-color: #dc3545;
// }
.btn-plomo {
    background-color: #212223;
    border-color: #212223 !important;
    color: #ffffff !important;
}

.container-scroll {
    overflow: auto;
    width: 100%;
}

.table-responsive {
    display: table !important;
    text-align: center;
}

table.responsivo td,
table.responsivo th {
    border: 1px solid #dee2e6;
}

table.responsivo tr td.td-icon {
    text-align: center;
    color: #767676;
}

table.responsivo tr td.td-icon div button,
table.responsivo tr td.td-icon div a {
    background: transparent;
    border: 0;
    padding: 0;
    color: inherit;
}

table.responsivo tr td.td-icon div>span:hover,
table.responsivo tr td.td-icon div>button:hover,
table.responsivo tr td.td-icon div>a:hover {
    color: #020202;
    cursor: pointer;
}

.table-full-detalle thead {
    display: none;
}

.table-full-detalle tr {
    border-top: solid 1px #dddddd !important;
    background-color: #ffffff !important;
}

.table-full-detalle tr:last-child {
    border-bottom: solid 1px #dddddd !important;
}

label {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    text-transform: uppercase;
}

.bg-tierra-600 {
    background-color: #EAEAE8 !important;
}

.td-r {
    text-align: right;
}

.td-c {
    text-align: center;
}

.td-l {
    text-align: left;
}

.fa {
    font-size: 22px;
}

.fa-14x {
    font-size: 2.3em !important;
}

.fa-13x {
    font-size: 2.1em !important;
}

.fa-12x {
    font-size: 1.8em !important;
}

.fa-11x {
    font-size: 1.4em !important;
}

.fa-10x {
    font-size: 1.1em !important;
}

.fa-9x {
    font-size: 1.0em !important;
}

.fa-13x img {
    height: 30px;
}

.fa-15x {
    font-size: 2.5em !important;
}

.fa-16x {
    font-size: 3.6em !important;
}

.fa-15x img {
    height: 40px;
}

.fondo-header {
    background-color: $primary !important;
}

.btn-link {
    text-decoration: unset !important;
}

.accordion-toggle {
    button {
        font-weight: 400!important;
        color: #254151!important;
        background-color: transparent!important;
        margin: 10px 0!important;
        font-size: 18px!important;
        line-height: 28px!important;
        padding: 0!important;
        .arrow {
            &:after {
                content: 'keyboard_arrow_down'
            }
        }
    }
}

.accordion-toggle[aria-expanded="true"] {
    .material-icons.arrow {
        &:after {
            content: 'keyboard_arrow_up'
        }
    }
}

.toolTip {
    background-color: #28a745;
    color: #ffffff;
}

app-input-file {
    .download {
        position: absolute;
        right: 7px;
        top: 8px;
        color: #212529;
        i {
            &:before {
                font-size: 14px;
            }
        }
    }
}

.bg-plomo {
    background-color: #EAEAE8;
    color: #254151;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1405px;
        width: 100%;
    }
    .modal-valorizacion-obra {
        min-width: 900px;
    }
    .modal-asignacion-perfil-componente {
        min-width: 1200px;
    }
    .modal-registrar-perfil-componente {
        min-width: 1200px;
    }
    .modal-registrar-componente {
        min-width: 900px;
    }
    .modal-registrar-accidente {
        min-width: 1400px;
    }
    .modal-registrar-vehiculo {
        min-width: 1100px;
    }
    .modal-registrar-conductor {
        min-width: 1100px;
    }
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='radio'] {
        --active: #D32E2F;
        --active-inner: #fff;
        --focus: 2px #D32E2F;
        --border: #BBC1E1;
        --border-hover: #D32E2F;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background .3s, border-color .3s, box-shadow .2s;
        &:after {
            content: '';
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
        }
        &:checked {
            --b: var(--active);
            --bc: var(--active);
            --d-o: .3s;
            --d-t: .6s;
            --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
        }
        &:disabled {
            --b: var(--disabled);
            cursor: not-allowed;
            opacity: .9;
            &:checked {
                --b: var(--disabled-inner);
                --bc: var(--border);
            }
            &+label {
                cursor: not-allowed;
            }
        }
        &:hover {
            &:not(:checked) {
                &:not(:disabled) {
                    --bc: var(--border-hover);
                }
            }
        }
        &:focus {
            box-shadow: 0 0 0 var(--focus);
        }
        &:not(.switch) {
            width: 21px;
            &:after {
                opacity: var(--o, 0);
            }
            &:checked {
                --o: 1;
            }
        }
        &+label {
            font-size: 14px;
            line-height: 21px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            margin-left: 4px;
        }
    }
    input[type='checkbox'] {
        &:not(.switch) {
            border-radius: 7px;
            &:after {
                width: 5px;
                height: 9px;
                border: 2px solid var(--active-inner);
                border-top: 0;
                border-left: 0;
                left: 7px;
                top: 4px;
                transform: rotate(var(--r, 20deg));
            }
            &:checked {
                --r: 43deg;
            }
        }
        &.switch {
            width: 38px;
            border-radius: 11px;
            &:after {
                left: 2px;
                top: 2px;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background: var(--ab, var(--border));
                transform: translateX(var(--x, 0));
            }
            &:checked {
                --ab: var(--active-inner);
                --x: 17px;
            }
            &:disabled {
                &:not(:checked) {
                    &:after {
                        opacity: .6;
                    }
                }
            }
        }
    }
    input[type='radio'] {
        border-radius: 50%;
        &:after {
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background: var(--active-inner);
            opacity: 0;
            transform: scale(var(--s, .7));
        }
        &:checked {
            --s: .5;
        }
    }
}

.timepicker-overlay {
    z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
    z-index: 10000000 !important;
}

.leaflet-popup-content {
    width: 500px;
}

.leaflet-popup-content-wrapper {
    width: 400px;
}

.btn-exportar {
    background-color: #579655;
    color: #ffffff;
}

.bs-datepicker {
    margin-top: -120px;
}