<!--<div class="row form-group"> 
    <div class="col-12">
        <button class="btn pull-left ml-1 btn-primary btn-sm" (click)="openModalAccidenteFurat()" 
        >
            <i class="mdi mdi-plus"></i> Nuevo
        </button>
    </div>
</div>-->
<div class="row">
    <div class="col-12 container-scroll">
      <table class="table xs-hidden table-bordered">
        <thead>
                
          <tr>
            <th>CÓDIGO ACCIDENTE</th>
            <th>FECHA</th>
            <th>CLASE</th>
            <th>ACCIONES</th> 
            <th>FICHA</th> 
          </tr>
        </thead>
        <tbody *ngFor="let item of listaAccidenteFurat; let i = index"> 
          <tr>
            <td class="text-center xs-hidden">{{ item.cod_acc_transito_externo }}</td>
            <td class="text-center xs-hidden">{{ item.fecha_registro | date:'dd/MM/yyyy'}}</td>
            <td class="text-center xs-hidden">{{ item.descripcion }}</td>

            <td class="xs-footer-lista" >
              <div class="text-center xs-hidden">
                    <span (click)="openEditarEvolucion(item)" style="cursor: pointer;" tooltip="Editar" >
                            <i class="mdi mdi-pencil"></i>
                    </span>
              </div>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="card xs-display" *ngFor="let item of listaAccidenteFurat; let i = index">
        <div class="p-3">
            <div><b>CÓDIGO ACCIDENTE: </b>{{ item.cod_acc_transito_externo }}</div>
            <div><b>FECHA: </b>{{ item.fecha_registro | date:'dd/MM/yyyy' }}</div>
            <div><b>CLASE: </b>{{ item.descripcion }}</div>
        </div>
        <div class="xs-footer-lista text-right">
            <span class="btn-icon ml-1" (click)="openEditarEvolucion(item)"  tooltip="Editar" 
            ><i class="fa fa-pencil" style="color:#5D6D7E;"></i></span> 
            
        </div>
      </div>
    </div>
    <div class="col-12">
      <nav class="pt-4 pl-3 float-right">
        <pagination [totalItems]="totalRegistros" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;"
          [rotate]="false" firstText="&laquo;" lastText="&raquo;" [itemsPerPage]="numPaginasMostrar"
          (pageChanged)="cambiarPagina($event)">
        </pagination>
      </nav>
    </div>
</div>
