<div class="row form-group"> 
    <div class="col-12">
        <button class="btn pull-left ml-1 btn-primary btn-sm" (click)="openModalPostSeguimiento()" 
        *hasClaim="'accidente_transito_seguimiento_fiscal_nuevo'">
            <i class="mdi mdi-plus"></i> Nuevo
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12 container-scroll">
      <table class="table table-bordered xs-hidden">
        <thead>
          <tr>
            <th>ID</th>
            <th>FISCAL A CARGO</th>
            <th>ARCHIVOS</th>
            <th >Acciones</th> <!--[hidden]=!bEstado-->
          </tr>
        </thead>
        <tbody *ngFor="let item of listaSeguimiento; let i = index"> 
          <tr>
            <td class="text-center xs-hidden">{{ i + 1 }}</td>
            <td class="text-center xs-hidden">{{item.nombre_fiscal}} {{item.apellido_pat_fiscal}} {{item.apellido_mat_fiscal}}</td>
            <td class="text-center xs-hidden"><a href="javascript:void(0)" tooltip="Ver Archivos" (click)="verArchivos(templateVerDocumentos,item)"><i
                class="material-icons">search</i></a></td>
            <td class="xs-footer-lista" > <!--[hidden]=!bEstado-->
              <div class="text-center xs-hidden">
                    <span (click)="openEditarSeguimiento(item)" style="cursor: pointer;" tooltip="Editar Seguimiento" 
                    *hasClaim="'accidente_transito_seguimiento_fiscal_editar'">
                            <i class="mdi mdi-pencil"></i>
                    </span>
                    <span (click)="anularAtencionPrimaria(item)" style="cursor: pointer;" tooltip="Eliminar Seguimiento" 
                    *hasClaim="'accidente_transito_seguimiento_fiscal_eliminar'">
                            <i class="mdi mdi-delete-outline" style="color:#5D6D7E;"></i>
                    </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="card xs-display" *ngFor="let item of listaSeguimiento; let i = index">
        <div class="p-3">
            <div><b>Nro: </b>{{ i + 1 }}</div>
            <div><b>FISCAL A CARGO</b>{{item.nombre_fiscal}} {{item.apellido_pat_fiscal}} {{item.apellido_mat_fiscal}}</div>
            <div><b>ARCHIVOS: </b><a href="javascript:void(0)" tooltip="Ver Archivos" (click)="verArchivos(templateVerDocumentos,item)"><i
                class="material-icons">search</i></a></div>
        </div>
        <div class="xs-footer-lista text-right">
            <span class="btn-icon ml-1" (click)="openEditarSeguimiento(item)"  tooltip="Editar" 
            *hasClaim="'accidente_transito_seguimiento_fiscal_editar'"><i class="fa fa-pencil" style="color:#5D6D7E;"></i></span> 
            <span class="btn-icon ml-1" (click)="anularAtencionPrimaria(item)"  tooltip="Eliminar" 
            *hasClaim="'accidente_transito_seguimiento_fiscal_eliminar'"><i class="fa fa-trash" style="color:#5D6D7E;"></i></span>    
        </div>
      </div>
    </div>
    <div class="col-12">
      <nav class="pt-4 pl-3 float-right">
        <pagination [totalItems]="totalRegistros" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;"
          [rotate]="false" firstText="&laquo;" lastText="&raquo;" [itemsPerPage]="numPaginasMostrar"
          (pageChanged)="cambiarPagina($event)">
        </pagination>
      </nav>
    </div>
</div>

<ng-template #templateVerDocumentos>
    <div class="modal-header">
        <h4 class="modal-title">Archivos</h4>
    </div>
    <div class="modal-body">
        <table class="table table-hover   xs-hidden">
            <thead>
                <tr>
                    <th>ITEM</th>
                    <th>DOCUMENTO</th>
                    <th>DESCRIPCIÓN</th>
                    <th>ARCHIVO</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let archivos of arregloArchivos; let i = index">
                    <td class="td-c">{{i+1}}</td>
                    <td class="td-c">{{archivos.nombre_documento_original}}</td>
                    <td class="td-c">{{archivos.descripcion}}</td>
                    <td class="td-c">
                        <div *ngIf="archivos.ruta_documento != '' ; else templateicono">
                            <a href="{{archivos.ruta_documento}}" target="_blank" class="btn-icon">
                                <i class="mdi mdi-file-download-outline"></i>
                            </a>
                          </div>
                          <ng-template #templateicono>
                          </ng-template>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="xs-display">
            <div *ngFor="let archivos of arregloArchivos; let i = index" class="card">
                <div class="p-3">
                    <div><span class="font-weight-bold">ITEM : </span>{{i+1}}</div>
                    <div><span class="font-weight-bold">DOCUMENTO : </span>{{archivos.nombre_documento_original}}</div>
                    <div><span class="font-weight-bold">DESCRIPCIÓN : </span>{{archivos.descripcion}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="border: 0px;">
        <button class="btn btn-secondary btn-sm" id="btnTraCancelar" type="button" (click)="modalRefArchivos.hide()">
                    <i class="mdi mdi-close"></i> Cancelar</button>
    </div>
</ng-template>


