@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p79mgh');
  src:  url('fonts/icomoon.eot?p79mgh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p79mgh') format('truetype'),
    url('fonts/icomoon.woff?p79mgh') format('woff'),
    url('fonts/icomoon.svg?p79mgh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tramo .path1:before {
  content: "\e92a";
  color: rgb(100, 121, 138);
}
.icon-tramo .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(252, 212, 98);
}
.icon-tramo .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(252, 212, 98);
}
.icon-tramo .path4:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(235, 240, 243);
}
.icon-tramo .path5:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(235, 240, 243);
}
.icon-tramo .path6:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(235, 240, 243);
}
.icon-tramo .path7:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(235, 240, 243);
}
.icon-ver_tramos:before {
  content: "\e929";
}
.icon-ver_tramos_mapa:before {
  content: "\e928";
}
.icon-ver_tramos_multiple:before {
  content: "\e927";
}
.icon-addAdendas:before {
  content: "\e926";
}
.icon-document:before {
  content: "\e923";
}
.icon-down:before {
  content: "\e912";
}
.icon-up:before {
  content: "\e913";
}
.icon-add_adenda .path1:before {
  content: "\e914";
  color: rgb(212, 225, 244);
}
.icon-add_adenda .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(6, 53, 201);
}
.icon-add_adenda .path3:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(6, 53, 201);
}
.icon-add_adenda .path4:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(6, 53, 201);
}
.icon-add_adenda .path5:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(6, 53, 201);
}
.icon-add_adenda .path6:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(26, 229, 190);
}
.icon-add_adenda .path7:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(26, 229, 190);
}
.icon-addAdenda .path1:before {
  content: "\e91c";
  color: rgb(248, 236, 125);
}
.icon-addAdenda .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(111, 227, 255);
}
.icon-addAdenda .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(188, 241, 247);
}
.icon-addAdenda .path4:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(228, 142, 102);
}
.icon-addAdenda .path5:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(37, 97, 161);
}
.icon-addAdenda .path6:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(37, 97, 161);
}
.icon-addAdenda .path7:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(37, 97, 161);
}
.icon-save .path1:before {
  content: "\e900";
  color: rgb(66, 74, 96);
}
.icon-save .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(231, 236, 237);
}
.icon-save .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(235, 186, 22);
}
.icon-save .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(199, 202, 199);
}
.icon-save .path5:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-save .path6:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-save .path7:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-save .path8:before {
  content: "\e919";
  margin-left: -1em;
  color: none;
}
.icon-save .path9:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(231, 236, 237);
}
.icon-sol:before {
  content: "\e90f";
}
.icon-tranf-registro:before {
  content: "\e90e";
}
.icon-dashboard:before {
  content: "\e909";
}
.icon-clipboard-check:before {
  content: "\e906";
}
.icon-file-search:before {
  content: "\e907";
}
.icon-doc-search:before {
  content: "\e908";
}
.icon-ubigeo:before {
  content: "\e90a";
}
.icon-costs:before {
  content: "\e903";
}
.icon-business-plan:before {
  content: "\e904";
}
.icon-transfer:before {
  content: "\e925";
}
.icon-obra-fase-x:before {
  content: "\e90d";
}
.icon-obra-fase:before {
  content: "\e90c";
}
.icon-icon-estado:before {
  content: "\65";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}
