
<div class="modal-header">
    <ng-container *ngIf="ACCION==1">
        <h4 class="modal-title">Nuevo Registro del Seguimiento Post Accidente </h4>
        <p class="pl-4 pr-4">Formulario para el registro del Seguimiento Post Accidente</p>
    </ng-container>
    <ng-container *ngIf="ACCION==2">
        <h4 class="modal-title">Edición del del Seguimiento Post Accidente </h4>
        <p class="pl-4 pr-4">Formulario para actualizar información del Seguimiento Post Accidente</p>
    </ng-container>
</div>
<div class="modal-body">
<form [formGroup]="formGroup"  autocomplete="off" (ngSubmit)="registrarPostSeguimiento()">
    <div class="row form-group">
        <div class="col-sm-12 col-lg-4 col-xl-6">
            <label class="control-label"><span class="text-danger">(*)</span> DNI:</label>
            <input type="text" formControlName="dni_fiscal" id="dni_fiscal"
                placeholder="Número de documento" type="text" maxlength="8" class="form-control"
                (keypress)="funciones.IsNumberKey($event);" (ngModelChange)="validarDNI()">
        </div>
        <div class="col-sm-12 col-lg-4 col-xl-6">
            <div  style="height: 40%;">&nbsp;</div>
            <button type="button" id="btnConsultar" class="btn pull-left ml-1 btn-success" (click)="validarInformacionReniec()">
                    Consultar
            </button>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-12 col-lg-6 col-xl-6">
            <label class="control-label"><span class="text-danger">(*)</span> Nombres</label>
            <input  class="form-control" formControlName="nombre_fiscal" type='text' 
                    name="nombre_fiscal" id="nombre_fiscal" placeholder="Ingrese el nombre del fiscal"/>
        </div>
        <div class="col-sm-12 col-lg-6 col-xl-6">
            <label class="control-label"><span class="text-danger">(*)</span> Apellido Paterno</label> 
            <input  class="form-control" formControlName="apellido_pat_fiscal" type='text' 
                name="apellido_pat_fiscal" id="apellido_pat_fiscal" placeholder="Ingrese el apellido paterno del fiscal"/> 
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-12 col-lg-6 col-xl-6">
            <label class="control-label"><span class="text-danger">(*)</span> Apellido Materno</label>
            <input  class="form-control" formControlName="apellido_mat_fiscal" type='text' 
                name="apellido_mat_fiscal" id="apellido_mat_fiscal" placeholder="Ingrese el apellido materno del fiscal" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-12 col-lg-4 col-xl-4">
                <label class="control-label"><span class="text-danger">(*)</span>Adjuntar documento:</label>
                <app-input-file idComp="fileInsertDocumentosGenerales" (onChange)="fileChangeEventDocumentosGenerales($event)" id="nombre_documento_general" class="input-group" IdTipoArchivo="{{tipoDocumentoGeneral}}" Extensiones=".pdf"></app-input-file>
        </div>
        <div class="col-sm-12 col-lg-4 col-xl-4">
            <label class="control-label"><span class="text-danger">(*)</span> Descripción documento</label>
            <input  class="form-control" formControlName="descripcion" type='text' maxlength="1000" 
            name="descripcion" id="descripcion" placeholder="Ingrese la descripción del documento"/>
        </div>
        <div class="col-sm-12 col-lg-4 col-xl-4">
            <div  style="height: 40%;">&nbsp;</div>
           
            <button type="button" id="btnConsultar" class="btn  btn-success" (click)="AgregarArchivo()">
                    Agregar
            </button>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-12 container-scroll">
            <table class="table table-hover   xs-hidden">
                <thead>
                  <th>Item</th>
                  <th>Documento</th>
                  <th>Descripción Documento</th>
                  <th></th>
                </thead>
                <tbody *ngFor="let shoe of listArchivosSeleccionados; let i = index">
                    <tr>
                        <td class="td-c">{{i+1}}</td>
                        <td class="td-c">{{shoe.nombre_documento_original}}</td>
                        <td class="td-c">{{shoe.descripcion}}</td>
                        <td><a style="cursor: pointer;" (click)="eliminarArchivoSeleccionadoDocumentos(shoe)">
                            <i class="mdi mdi-delete-outline" style="color:#5D6D7E;"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="xs-display">
                <div *ngFor="let arvhivos of listArchivosSeleccionados; let i = index" class="card">
                    <div class="p-3">
                        <div><span class="font-weight-bold">DOCUMENTO : </span>{{arvhivos.nombre_documento_original}}</div>
                        <div><span class="font-weight-bold">DESCRIPCIÓN : </span>{{arvhivos.descripcion}}</div>
                    </div>
                    <div class="xs-footer-lista">
                        <span class="btn-icon ml-1" (click)="eliminarArchivoSeleccionadoDocumentos(arvhivos)"  tooltip="Eliminar"><i class="mdi mdi-delete-outline" style="color:#5D6D7E;"></i></span>    
                    </div>
                </div>
            </div>
        </div>
    </div>



    <span class="comentario">(*)Campos Obligatorios</span>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit" id="btnGuardar"
        *hasClaim="'accidente_transito_seguimiento_fiscal_guardar'"
            ><i class="mdi mdi-content-save"></i> Guardar</button>
        <button class="btn btn-secondary btn-sm" id="btnTraCancelar" type="button" (click)="closeModal()">
            <i class="mdi mdi-close"></i> Cancelar</button>
    </div>
</form>
</div>

